EnactorHome/pos/Data/Enactor Pos/WSDL/Embedded/AccountBalanceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" name="AccountBalanceService" targetNamespace="http://www.enactor.com/retail/AccountBalanceService" xmlns:service="http://www.enactor.com/retail/AccountBalanceService" xmlns:serviceTypes="http://www.enactor.com/retail/AccountBalanceService/Types" xmlns:mfc="http://www.enactor.com/retail">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.enactor.com/core" xmlns:tns="http://www.enactor.com/core" xmlns:core="http://www.enactor.com/core" xmlns:xs="http://www.w3.org/2001/XMLSchema">

			<xs:element name="pageableArrayList" type="tns:pageableArrayList" />

			<xs:complexType name="pageableArrayList">
				<xs:complexContent>
					<xs:extension base="tns:jaxbFriendlyList">
						<xs:sequence>
							<xs:element name="currentPage" type="xs:int" />
							<xs:element name="rowOffset" type="xs:int" />
							<xs:element name="pageSize" type="xs:int" />
							<xs:element name="totalPages" type="xs:int" />
							<xs:element name="totalRows" type="xs:int" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="jaxbFriendlyList">
				<xs:sequence>
					<xs:element name="contents" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="applicationProcessOutcome" type="tns:ApplicationProcessOutcome" />

			<xs:complexType name="ApplicationProcessOutcome">
				<xs:sequence />
				<xs:attribute name="name" type="xs:string" />
			</xs:complexType>

			<xs:element name="baseEntityKey" type="tns:BaseEntityKey" />

			<xs:element name="coreProperty" nillable="true" type="tns:CoreProperty" />

			<xs:element name="corePropertyConfigs" nillable="true" type="tns:CorePropertyConfigs" />

			<xs:element name="deviceTransaction" nillable="true" type="tns:DeviceTransaction" />

			<xs:element name="entityTarget" nillable="true" type="tns:EntityTarget" />

			<xs:element name="event" nillable="true" type="tns:Event" />

			<xs:element name="exceptionEvent" nillable="true" type="tns:ExceptionEvent" />

			<xs:element name="executionContextHandler" type="tns:ContextHandlerMapping" />

			<xs:element name="executorConfiguration" nillable="true" type="tns:DefaultExecutorConfiguration" />

			<xs:element name="locale" type="tns:JAXBLocale" />

			<xs:element name="menuPathElement" type="tns:MenuPathElement" />

			<xs:element name="package" nillable="true" type="tns:Package" />

			<xs:element name="packageProcess" nillable="true" type="tns:PackageProcess" />

			<xs:element name="packages" nillable="true" type="tns:Packages" />

			<xs:element name="persistentLock" nillable="true" type="tns:PersistentLock" />

			<xs:element name="propertyConfigs" nillable="true" type="tns:PropertyConfigs" />

			<xs:element name="serializableEntityList" nillable="true" type="tns:SerializableEntityList" />

			<xs:element name="serviceDefinition" nillable="true" type="tns:ServiceDefinition" />

			<xs:element name="serviceDefinitionKey" type="tns:ServiceDefinitionKey" />

			<xs:element name="transactionKey" type="tns:TransactionKey" />

			<xs:element name="version" type="tns:JAXBVersion" />

			<xs:element name="dataType" type="tns:DataType" />
			
			<xs:element name="string" type="xs:string" /> 

			<xs:element name="wrappedPrimitive" type="tns:WrappedPrimitive" />

			<xs:simpleType name="DataType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="STRING" />
					<xs:enumeration value="BYTE" />
					<xs:enumeration value="INTEGER" />
					<xs:enumeration value="LONG" />
					<xs:enumeration value="FLOAT" />
					<xs:enumeration value="DOUBLE" />
					<xs:enumeration value="BOOLEAN" />
					<xs:enumeration value="DATE" />
					<xs:enumeration value="CLOB" />
					<xs:enumeration value="BLOB" />
					<xs:enumeration value="VERSION" />
					<xs:enumeration value="QNAME" />
					<xs:enumeration value="UNKNOWN" />
					<xs:enumeration value="ENUM" />
					<xs:enumeration value="LOCAL_TIME" />
					<xs:enumeration value="UTC_DATE" />
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="WrappedPrimitive">
				<xs:sequence>
					<xs:element name="value" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="BaseEntityComplexKey" abstract="true">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="PersistentLock">
				<xs:sequence>
					<xs:element name="entityToLockName" type="xs:string" minOccurs="0" />
					<xs:element name="key" type="xs:string" minOccurs="0" />
					<xs:element name="requestDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="userName" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="stringEntityMap">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="simpleEntityList">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="SerializableEntityList">
				<xs:sequence>
					<xs:element name="entity" type="xs:anyType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="simpleEntityMap">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="validationErrorCodes">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="EntityTarget">
				<xs:sequence>
					<xs:element name="groupId" type="xs:string" minOccurs="0" />
					<xs:element name="groupNodeId" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="entityTargetList">
				<xs:complexContent>
					<xs:extension base="tns:simpleEntityList">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="Event">
				<xs:sequence>
					<xs:element name="eventName" type="xs:string" minOccurs="0" />
					<xs:element name="eventType" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ExceptionEvent">
				<xs:complexContent>
					<xs:extension base="tns:Event">
						<xs:sequence>
							<xs:element name="className" type="xs:string" minOccurs="0" />
							<xs:element name="message" type="xs:string" minOccurs="0" />
							<xs:element name="stackTraceTopLine" type="xs:string" minOccurs="0" />
							<xs:element name="exceptionXml" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="ContextHandlerMapping">
				<xs:sequence />
				<xs:attribute name="contextClass" type="xs:string" />
				<xs:attribute name="handlerClass" type="xs:string" />
			</xs:complexType>

			<xs:complexType name="DefaultExecutorConfiguration">
				<xs:complexContent>
					<xs:extension base="tns:PropertyConfigs">
						<xs:sequence>
							<xs:element name="workingDirectory" type="xs:string" minOccurs="0" />
							<xs:element ref="tns:executionContextHandler" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="PropertyConfigs" abstract="true">
				<xs:sequence>
					<xs:element name="sourceString" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="JAXBLocale">
				<xs:sequence />
				<xs:attribute name="country" type="xs:string" />
				<xs:attribute name="language" type="xs:string" />
				<xs:attribute name="variant" type="xs:string" />
			</xs:complexType>

			<xs:simpleType name="JAXBVersion">
				<xs:restriction base="xs:string" />
			</xs:simpleType>

			<xs:complexType name="MenuPathElement">
				<xs:sequence />
				<xs:attribute name="id" type="xs:string" />
				<xs:attribute name="name" type="xs:string" />
			</xs:complexType>

			<xs:complexType name="Packages">
				<xs:sequence>
					<xs:element ref="tns:package" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Package">
				<xs:sequence>
					<xs:element name="packageId" type="xs:string" minOccurs="0" />
					<xs:element name="type" type="xs:int" />
					<xs:element name="deployedStatus" type="xs:int" />
					<xs:element ref="tns:packageProcess" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="entityFactoryPath" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="PackageProcess">
				<xs:sequence>
					<xs:element name="processId" type="xs:string" minOccurs="0" />
					<xs:element ref="tns:version" minOccurs="0" />
					<xs:element name="viewId" type="xs:string" minOccurs="0" />
					<xs:element name="messageResourceClass" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="menuUrl" type="xs:string" minOccurs="0" />
					<xs:element name="menuFolder" type="tns:MenuPathElement" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="menuItem" type="tns:MenuPathElement" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="registerAppUtil">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="ServiceDefinition">
				<xs:sequence>
					<xs:element name="serviceDefinitionID" type="xs:string" minOccurs="0" />
					<xs:element name="deviceType" type="xs:string" minOccurs="0" />
					<xs:element ref="tns:entityTarget" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ServiceDefinitionKey">
				<xs:complexContent>
					<xs:extension base="tns:BaseEntityKey">
						<xs:sequence>
							<xs:element name="serviceDefinitionID" type="xs:string" minOccurs="0" />
							<xs:element name="deviceType" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="BaseEntityKey" abstract="true">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="serviceDefinitionXMLSerializer">
				<xs:complexContent>
					<xs:extension base="tns:baseXMLSerializer">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="baseXMLSerializer">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="DeviceTransaction">
				<xs:sequence>
					<xs:element name="deviceId" type="xs:string" />
					<xs:element name="deviceSequenceNumber" type="xs:long" />
					<xs:element name="locationID" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="TransactionKey">
				<xs:complexContent>
					<xs:extension base="tns:BaseEntityKey">
						<xs:sequence>
							<xs:element name="transactionId" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="CoreProperty">
				<xs:sequence />
				<xs:attribute name="name" type="xs:string" />
				<xs:attribute name="value" type="xs:string" />
			</xs:complexType>

			<xs:complexType name="CorePropertyConfigs">
				<xs:complexContent>
					<xs:extension base="tns:PropertyConfigs">
						<xs:sequence>
							<xs:element ref="tns:coreProperty" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="mapEntry">
				<xs:sequence>
					<xs:element name="key" type="xs:anyType" minOccurs="0" />
					<xs:element name="value" type="xs:anyType" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="propertyConfigMapping">
				<xs:sequence>
					<xs:element name="className" type="xs:string" minOccurs="0" />
					<xs:element name="sourceUrl" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="GroupKey">
				<xs:complexContent>
					<xs:extension base="core:BaseEntityKey">
						<xs:attribute name="variantGroupHierarchyId" type="xs:string" />
						<xs:attribute name="variantGroupId" type="xs:string" />
						<xs:attribute name="variantGroupTypeId" type="xs:string" />
						<xs:attribute name="groupHierarchyId" type="xs:string" />
						<xs:attribute name="groupTypeId" type="xs:string" />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:simpleType name="TemplateFieldType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="FIXED" />
					<xs:enumeration value="MANDATORY" />
					<xs:enumeration value="OPTIONAL" />
					<xs:enumeration value="NONE" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>

		<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:javaBasic="http://java.basic/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://java.basic/xsd">

			<element name="iterator" type="javaBasic:Iterator" />
			<complexType name="Iterator">
				<sequence />
			</complexType>

			<element name="list" type="javaBasic:List" />
			<complexType name="List">
				<sequence />
			</complexType>

			<element name="void" type="javaBasic:Void" />
			<complexType name="Void">
				<sequence />
			</complexType>

		</schema>

		<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.enactor.com/retail" xmlns:tns="http://www.enactor.com/retail" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.enactor.com/core" xmlns:retail="http://www.enactor.com/retail">

			<xs:import namespace="http://www.enactor.com/core" />

			<xs:element name="accountBalance" type="tns:AccountBalance" />
			
			<xs:element name="accountBalanceEnquiryRequest" type="tns:AccountBalanceEnquiryRequest" />

			<xs:element name="accountBalanceEnquiryOutput" type="tns:AccountBalanceEnquiryOutput" />

			<xs:element name="accountBalanceUpdate" type="tns:AccountBalanceUpdate" />

			<xs:element name="accountBalanceUpdateBatch" type="tns:AccountBalanceUpdateBatch" />

			<xs:element name="customerAccountsSearch" type="tns:CustomerAccountsSearch" />
			
			<xs:element name="accountBalanceUpdateBatchResponse" type="tns:AccountBalanceUpdateBatchResponse" />

			<xs:element name="accountBalanceUpdateOutput" type="tns:AccountBalanceUpdateOutput" />

			<xs:element name="address" type="tns:Address" />

			<xs:element name="contactInfoLink" type="tns:ContactInfoLink" />

			<xs:element name="contactTypeKey" type="tns:ContactTypeKey" />

			<xs:element name="countryCodeKey" type="tns:CountryCodeKey" />

			<xs:element name="currencyKey" type="tns:CurrencyKey" />

			<xs:element name="customer" type="tns:Customer" />

			<xs:element name="customerAccountUpdate" type="tns:CustomerAccountUpdate" />

			<xs:element name="customerAccountUpdateBatch" type="tns:CustomerAccountUpdateBatch" />

			<xs:element name="customerAccountUpdateBatchResponse" type="tns:CustomerAccountUpdateBatchResponse" />

			<xs:element name="customerAccountUpdateResponse" type="tns:CustomerAccountUpdateResponse" />

			<xs:element name="customerCard" type="tns:CustomerCard" />

			<xs:element name="customerLoyaltyAccountTotal" type="tns:CustomerLoyaltyAccountTotal" />

			<xs:element name="customerTypeKey" type="tns:CustomerTypeKey" />

			<xs:element name="deviceKey" type="tns:DeviceKey" />

			<xs:element name="emailAddress" type="tns:EmailAddress" />

			<xs:element name="employeeAccountUpdate" type="tns:EmployeeAccountUpdate" />

			<xs:element name="employeeAccountUpdateBatch" type="tns:EmployeeAccountUpdateBatch" />

			<xs:element name="employeeAccountUpdateBatchResponse" type="tns:EmployeeAccountUpdateBatchResponse" />

			<xs:element name="employeeAccountUpdateResponse" type="tns:EmployeeAccountUpdateResponse" />

			<xs:element name="employeeKey" type="tns:EmployeeKey" />

			<xs:element name="locationKey" type="tns:LocationKey" />

			<xs:element name="name" type="tns:Name" />

			<xs:element name="phoneNumber" type="tns:PhoneNumber" />

			<xs:element name="priceTypeKey" type="tns:PriceTypeKey" />
			
			<xs:element name="userKey" type="tns:UserKey" />

			<xs:element name="submitCustomerAccountsSearch">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:customerAccountsSearch" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitCustomerAccountsSearchResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="result" type="java:List" xmlns:java="http://java.basic/xsd" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:complexType name="AccountBalanceUpdateOutput">
				<xs:sequence>
					<xs:element name="outcome" type="core:ApplicationProcessOutcome" minOccurs="0" />
					<xs:element ref="tns:accountBalanceUpdate" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="AccountBalanceUpdate">
				<xs:sequence>
					<xs:element name="transactionId" type="xs:long" minOccurs="0" />
					<xs:element name="deviceId" type="tns:DeviceKey" minOccurs="0" />
					<xs:element name="originalTransactionDeviceId" type="tns:DeviceKey" minOccurs="0" />
					<xs:element name="originalTransactionId" type="xs:string" minOccurs="0" />
					<xs:element name="locationId" type="xs:string" minOccurs="0" />
					<xs:element name="accountId" type="xs:string" minOccurs="0" />
					<xs:element name="accountType" type="xs:string" />
					<xs:element name="cardNumber" type="xs:string" minOccurs="0" />
					<xs:element name="updateAmount" type="xs:long" />
					<xs:element name="dateTimeUpdated" type="xs:dateTime" />
					<xs:element name="expiryTime" type="xs:dateTime" />
					<xs:element name="outcome" type="xs:string" />
					<xs:element name="status" type="xs:string" />
					<xs:element name="customerAddress" type="tns:Address" minOccurs="0" />
					<xs:element name="customerName" type="tns:Name" minOccurs="0" />
					<xs:element name="currencyId" type="xs:string" />
					<xs:element ref="tns:customerCard" minOccurs="0" />
					<xs:element name="referenceId" type="xs:string" minOccurs="0" />
					<xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="DeviceKey">
				<xs:complexContent>
					<xs:extension base="core:BaseEntityKey" />
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="Address">
				<xs:sequence>
					<xs:element name="country" type="xs:string" minOccurs="0" />
					<xs:element name="countryCodeId" type="tns:CountryCodeKey" minOccurs="0" />
					<xs:element name="isPreferred" type="xs:boolean" minOccurs="0" />
					<xs:element name="organisation" type="xs:string" minOccurs="0" />
					<xs:element name="restrictedReason" type="xs:string" minOccurs="0" />
					<xs:element name="isActive" type="xs:boolean" minOccurs="0" />
					<xs:element name="status" type="xs:string" minOccurs="0" />
					<xs:element name="typeId" type="tns:ContactTypeKey" minOccurs="0" />
					<xs:element name="validFrom" type="xs:dateTime" minOccurs="0" />
					<xs:element name="validTo" type="xs:dateTime" minOccurs="0" />
					<xs:element name="county" type="xs:string" minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="fax" type="xs:string" minOccurs="0" />
					<xs:element name="mobilePhoneCallingCode" type="xs:string" minOccurs="0" />
					<xs:element name="mobilePhone" type="xs:string" minOccurs="0" />
					<xs:element name="phone1CallingCode" type="xs:string" minOccurs="0" />
					<xs:element name="phone1" type="xs:string" minOccurs="0" />
					<xs:element name="phone2CallingCode" type="xs:string" minOccurs="0" />
					<xs:element name="phone2" type="xs:string" minOccurs="0" />
					<xs:element name="postCode" type="xs:string" minOccurs="0" />
					<xs:element name="street1" type="xs:string" minOccurs="0" />
					<xs:element name="street2" type="xs:string" minOccurs="0" />
					<xs:element name="street3" type="xs:string" minOccurs="0" />
					<xs:element name="town" type="xs:string" minOccurs="0" />
					<xs:element name="fieldOptions">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="key" minOccurs="0" type="xs:string" />
											<xs:element name="value" minOccurs="0" type="core:TemplateFieldType" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="referenceName" type="xs:string" minOccurs="0" />
					<xs:element name="isTemplate" type="xs:boolean" />
					<xs:element name="referenceId" type="xs:string" minOccurs="0" />
					<xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
					<xs:element name="addressReferenceId" type="xs:string" minOccurs="0" />
					<xs:element name="province" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="CountryCodeKey">
				<xs:complexContent>
					<xs:extension base="core:BaseEntityKey" />
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="ContactTypeKey">
				<xs:complexContent>
					<xs:extension base="core:BaseEntityKey" />
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="Name">
				<xs:sequence>
					<xs:element name="surname" type="xs:string" minOccurs="0" />
					<xs:element name="forename" type="xs:string" minOccurs="0" />
					<xs:element name="initials" type="xs:string" minOccurs="0" />
					<xs:element name="title" type="xs:string" minOccurs="0" />
					<xs:element name="dateOfBirth" type="xs:dateTime" minOccurs="0" />
					<xs:element name="otherNames" type="xs:string" minOccurs="0" />
					<xs:element name="jobTitle" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="CustomerCard">
				<xs:sequence>
					<xs:element name="accountId" type="xs:string" />
					<xs:element name="status" type="tns:CardStatus" minOccurs="0" />
					<xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
					<xs:element name="accountType" type="xs:string" />
					<xs:element name="pan" type="xs:string" />
					<xs:element name="expiryDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="issueDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="nameOnCard" type="xs:string" minOccurs="0" />
					<xs:element name="issuedAt" type="tns:LocationKey" minOccurs="0" />
					<xs:element name="createdOn" type="xs:dateTime" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="LocationKey">
				<xs:complexContent>
					<xs:extension base="core:BaseEntityKey" />
				</xs:complexContent>
			</xs:complexType>
			
			<xs:complexType name="CustomerAccountsSearch">
				<xs:sequence>
					<xs:element name="customerNumber" type="xs:string" />
					<xs:element name="accountType" type="xs:string" />
					<xs:element name="accountStatus" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="AccountBalanceUpdateBatch">
				<xs:sequence>
					<xs:element name="transactionId" type="xs:long" minOccurs="0" />
					<xs:element name="deviceId" type="tns:DeviceKey" minOccurs="0" />
					<xs:element name="originalTransactionDeviceId" type="tns:DeviceKey" minOccurs="0" />
					<xs:element name="originalTransactionId" type="xs:string" minOccurs="0" />
					<xs:element name="locationId" type="xs:string" minOccurs="0" />
					<xs:element name="dateTimeUpdated" type="xs:dateTime" />
					<xs:element name="expiryTime" type="xs:dateTime" />
					<xs:element name="status" type="xs:string" />
					<xs:element name="currencyId" type="xs:string" />
					<xs:element name="accountBalanceUpdates" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="tns:accountBalanceUpdate" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="AccountBalanceUpdateBatchResponse">
				<xs:sequence>
					<xs:element name="outcome" type="core:ApplicationProcessOutcome" minOccurs="0" />
					<xs:element name="errorCode" type="xs:string" minOccurs="0" />
					<xs:element name="errorMessage" type="xs:string" minOccurs="0" />
					<xs:element name="errorAccountId" type="xs:string" minOccurs="0" />
					<xs:element name="errorCardNumber" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="AccountBalanceEnquiryRequest">
				<xs:sequence>
					<xs:element name="accountId" type="xs:string" minOccurs="0" />
					<xs:element name="accountType" type="xs:string" minOccurs="0" />
					<xs:element name="transactionBalance" type="xs:long" minOccurs="0" />
					<xs:element name="locationId" type="xs:string" minOccurs="0" />
					<xs:element name="cardNumber" type="xs:string" minOccurs="0" />
					<xs:element name="cardNumberHashed" type="xs:string" minOccurs="0" />
					<xs:element name="currencyId" type="xs:string" minOccurs="0" />
					<xs:element name="transactionId" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="AccountBalanceEnquiryOutput">
				<xs:sequence>
					<xs:element name="outcome" type="core:ApplicationProcessOutcome" minOccurs="0" />
					<xs:element name="account" type="xs:anyType" minOccurs="0" />
					<xs:element name="accountDescription" type="xs:string" minOccurs="0" />
					<xs:element ref="tns:customer" minOccurs="0" />
					<xs:element ref="tns:accountBalance" minOccurs="0" />
					<xs:element ref="tns:customerCard" minOccurs="0" />
					<xs:element name="customerGroup" type="core:GroupKey" minOccurs="0" maxOccurs="unbounded" />
					<xs:element ref="tns:customerLoyaltyAccountTotal" minOccurs="0" />
					<xs:element name="alternativeAmount" type="xs:long" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Customer">
				<xs:sequence>
					<xs:element name="addresses" type="xs:anyType" minOccurs="0" />
					<xs:element name="contactMethod" type="xs:string" minOccurs="0" />
					<xs:element name="contactMethodNotes" type="xs:string" minOccurs="0" />
					<xs:element name="contactable" type="xs:boolean" minOccurs="0" />
					<xs:element name="dateCreated" type="xs:dateTime" minOccurs="0" />
					<xs:element name="maritalStatus" type="xs:string" minOccurs="0" />
					<xs:element name="nationality" type="xs:string" minOccurs="0" />
					<xs:element name="noChildren" type="xs:int" minOccurs="0" />
					<xs:element name="customerNumber" type="xs:string" />
					<xs:element name="emailAddresses" type="tns:EmailAddress" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="phoneNumbers" type="tns:PhoneNumber" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="customerName" type="tns:Name" />
					<xs:element name="businessContactMethod" type="xs:string" minOccurs="0" />
					<xs:element name="preferredContactTime" type="xs:string" minOccurs="0" />
					<xs:element name="allowInternalMarketing" type="xs:boolean" minOccurs="0" />
					<xs:element name="allowExternalMarketing" type="xs:boolean" minOccurs="0" />
					<xs:element name="privacyLevel" type="xs:int" minOccurs="0" />
					<xs:element ref="tns:employeeKey" minOccurs="0" />
					<xs:element name="priceGroupId" type="core:GroupKey" minOccurs="0" />
					<xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
					<xs:element name="contactInfoLinks" type="tns:ContactInfoLink" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="customerType" type="tns:CustomerTypeKey" minOccurs="0" />
					<xs:element name="organisation" type="xs:string" minOccurs="0" />
					<xs:element name="taxIdentification" type="xs:string" minOccurs="0" />
					<xs:element name="companyNumber" type="xs:string" minOccurs="0" />
					<xs:element name="priceTypeId" type="tns:PriceTypeKey" minOccurs="0" />
					<xs:element name="occupation" type="xs:string" minOccurs="0" />
					<xs:element name="jobTitle" type="xs:string" minOccurs="0" />
					<xs:element name="tradingName" type="xs:string" minOccurs="0" />
					<xs:element name="lastTransactionDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="createdBy" type="tns:UserKey" minOccurs="0" />
					<xs:element name="createdAt" type="tns:DeviceKey" minOccurs="0" />
					<xs:element name="status" type="xs:string" minOccurs="0" />
					<xs:element name="source" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="EmailAddress">
				<xs:sequence>
					<xs:element name="emailAddress" type="xs:string" minOccurs="0" />
					<xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
					<xs:element name="preferred" type="xs:boolean" minOccurs="0" />
					<xs:element name="restrictedReason" type="xs:string" minOccurs="0" />
					<xs:element name="status" type="xs:string" minOccurs="0" />
					<xs:element name="typeId" type="tns:ContactTypeKey" minOccurs="0" />
					<xs:element name="validFrom" type="xs:dateTime" minOccurs="0" />
					<xs:element name="validTo" type="xs:dateTime" minOccurs="0" />
					<xs:element name="referenceId" type="xs:string" minOccurs="0" />
					<xs:element name="active" type="xs:boolean" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="PhoneNumber">
				<xs:sequence>
					<xs:element name="countryCode" type="xs:string" minOccurs="0" />
					<xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
					<xs:element name="number" type="xs:string" minOccurs="0" />
					<xs:element name="preferred" type="xs:boolean" minOccurs="0" />
					<xs:element name="restrictedReason" type="xs:string" minOccurs="0" />
					<xs:element name="status" type="xs:string" minOccurs="0" />
					<xs:element name="typeId" type="tns:ContactTypeKey" minOccurs="0" />
					<xs:element name="validFrom" type="xs:dateTime" minOccurs="0" />
					<xs:element name="validTo" type="xs:dateTime" minOccurs="0" />
					<xs:element name="referenceId" type="xs:string" minOccurs="0" />
					<xs:element name="active" type="xs:boolean" minOccurs="0" />
					<xs:element name="phoneNumberReferenceId" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="EmployeeKey">
				<xs:complexContent>
					<xs:extension base="core:BaseEntityKey" />
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="ContactInfoLink">
				<xs:sequence>
					<xs:element name="addressReferenceId" type="xs:string" minOccurs="0" />
					<xs:element name="phoneNumberReferenceId" type="xs:string" minOccurs="0" />
					<xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="CustomerTypeKey">
				<xs:complexContent>
					<xs:extension base="core:BaseEntityKey" />
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="PriceTypeKey">
				<xs:complexContent>
					<xs:extension base="core:BaseEntityKey" />
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="UserKey">
				<xs:complexContent>
					<xs:extension base="core:BaseEntityKey" />
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="AccountBalance">
				<xs:sequence>
					<xs:element name="accountId" type="xs:string" minOccurs="0" />
					<xs:element name="accountType" type="xs:string" minOccurs="0" />
					<xs:element name="accountBalance" type="xs:long" minOccurs="0" />
					<xs:element name="cardNumber" type="xs:string" minOccurs="0" />
					<xs:element name="currencyId" type="xs:string" />
					<xs:element name="balanceDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="CustomerLoyaltyAccountTotal">
				<xs:sequence>
					<xs:element name="accountId" type="xs:string" minOccurs="0" />
					<xs:element name="currencyId" type="tns:CurrencyKey" minOccurs="0" />
					<xs:element name="lastTransactionDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
					<xs:element name="numberOfTransactions" type="xs:int" minOccurs="0" />
					<xs:element name="numberOfVisits" type="xs:int" minOccurs="0" />
					<xs:element name="totalSpend" type="xs:long" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="CurrencyKey">
				<xs:complexContent>
					<xs:extension base="core:BaseEntityKey" />
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="EmployeeAccountUpdateBatch">
				<xs:sequence>
					<xs:element name="employeeAccountUpdates" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="tns:employeeAccountUpdate" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="resetAccountBalances" type="xs:boolean" minOccurs="0" />
					<xs:element name="adjustEmployeeDiscountAllowance" type="xs:boolean" minOccurs="0" />
					<xs:element name="accountType" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="EmployeeAccountUpdate">
				<xs:sequence>
					<xs:element name="employeeId" type="xs:string" minOccurs="0" />
					<xs:element name="updateAmount" type="xs:long" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="EmployeeAccountUpdateBatchResponse">
				<xs:sequence>
					<xs:element name="employeeAccountUpdateResponses" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="tns:employeeAccountUpdateResponse" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="outcome" type="core:ApplicationProcessOutcome" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="EmployeeAccountUpdateResponse">
				<xs:sequence>
					<xs:element name="outcome" type="core:ApplicationProcessOutcome" minOccurs="0" />
					<xs:element name="errorCode" type="xs:string" minOccurs="0" />
					<xs:element name="errorMessage" type="xs:string" minOccurs="0" />
					<xs:element name="updateAmount" type="xs:long" minOccurs="0" />
					<xs:element name="effectiveUpdateAmount" type="xs:long" minOccurs="0" />
					<xs:element name="employeeId" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="CustomerAccountUpdateBatch">
				<xs:sequence>
					<xs:element name="customerAccountUpdates" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="tns:customerAccountUpdate" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="resetAccountBalances" type="xs:boolean" minOccurs="0" />
					<xs:element name="accountType" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="CustomerAccountUpdate">
				<xs:sequence>
					<xs:element name="customerNumber" type="xs:string" minOccurs="0" />
					<xs:element name="updateAmount" type="xs:long" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="CustomerAccountUpdateBatchResponse">
				<xs:sequence>
					<xs:element name="customerAccountUpdateResponses" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="tns:customerAccountUpdateResponse" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="outcome" type="core:ApplicationProcessOutcome" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="CustomerAccountUpdateResponse">
				<xs:sequence>
					<xs:element name="outcome" type="core:ApplicationProcessOutcome" minOccurs="0" />
					<xs:element name="errorCode" type="xs:string" minOccurs="0" />
					<xs:element name="errorMessage" type="xs:string" minOccurs="0" />
					<xs:element name="updateAmount" type="xs:long" minOccurs="0" />
					<xs:element name="effectiveUpdateAmount" type="xs:long" minOccurs="0" />
					<xs:element name="customerNumber" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:simpleType name="CardStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="NEW" />
					<xs:enumeration value="CURRENT" />
					<xs:enumeration value="DISABLED" />
				</xs:restriction>
			</xs:simpleType>

		</xs:schema>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.enactor.com/retail/AccountBalanceService/Types" xmlns:core="http://www.enactor.com/core" xmlns:retail="http://www.enactor.com/retail">
			<xsd:import namespace="http://www.enactor.com/retail" />
			<xsd:import namespace="http://www.enactor.com/core" />
			<xsd:import namespace="http://java.basic/xsd" />
			<xsd:element name="submitAccountBalanceCommit">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="core:wrappedPrimitive" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitAccountBalanceUpdate">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:accountBalanceUpdate" xmlns:mfc="http://www.enactor.com/retail" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitAccountBalanceUpdateResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:accountBalanceUpdateOutput" xmlns:mfc="http://www.enactor.com/retail" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitAccountBalanceUpdateBatch">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:accountBalanceUpdateBatch" xmlns:mfc="http://www.enactor.com/retail" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitAccountBalanceUpdateBatchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:accountBalanceUpdateBatchResponse" xmlns:mfc="http://www.enactor.com/retail" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitVoidAccountBalanceUpdate">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:accountBalanceUpdate" xmlns:mfc="http://www.enactor.com/retail" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitVoidAccountBalanceUpdateResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:accountBalanceUpdateOutput" xmlns:mfc="http://www.enactor.com/retail" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitAccountBalanceEnquiry">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:accountBalanceEnquiryRequest" xmlns:mfc="http://www.enactor.com/retail" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitAccountBalanceEnquiryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:accountBalanceEnquiryOutput" xmlns:mfc="http://www.enactor.com/retail" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitLoyaltyAccountSearch">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="core:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitLoyaltyAccountSearchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="java:List" xmlns:java="http://java.basic/xsd" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitCustomerNameSearch">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customerName" type="xsd:string" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitCustomerNameSearchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="java:List" xmlns:java="http://java.basic/xsd" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitCustomerPostCodeSearch">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="postCode" type="xsd:string" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitCustomerPostCodeSearchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="java:List" xmlns:java="http://java.basic/xsd" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="loadCustomer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customerNumber" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="loadCustomerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:customer" xmlns:mfc="http://www.enactor.com/retail" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitCustomerCardSearch">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customerNumber" type="xsd:string" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitCustomerCardSearchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="java:List" xmlns:java="http://java.basic/xsd" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitEmployeeAccountUpdateBatch">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:employeeAccountUpdateBatch" xmlns:mfc="http://www.enactor.com/retail" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitEmployeeAccountUpdateBatchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:employeeAccountUpdateBatchResponse" xmlns:mfc="http://www.enactor.com/retail" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitCustomerAccountUpdateBatch">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:customerAccountUpdateBatch" xmlns:mfc="http://www.enactor.com/retail" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitCustomerAccountUpdateBatchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:customerAccountUpdateBatchResponse" xmlns:mfc="http://www.enactor.com/retail" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>

	</wsdl:types>
	<wsdl:message name="submitAccountBalanceUpdateRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceUpdate" />
	</wsdl:message>
	<wsdl:message name="submitAccountBalanceUpdateResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceUpdateResponse" />
	</wsdl:message>
	<wsdl:message name="submitAccountBalanceUpdateBatchRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceUpdateBatch" />
	</wsdl:message>
	<wsdl:message name="submitAccountBalanceUpdateBatchResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceUpdateBatchResponse" />
	</wsdl:message>
	<wsdl:message name="submitVoidAccountBalanceUpdateRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitVoidAccountBalanceUpdate" />
	</wsdl:message>
	<wsdl:message name="submitVoidAccountBalanceUpdateResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitVoidAccountBalanceUpdateResponse" />
	</wsdl:message>
	<wsdl:message name="submitAccountBalanceEnquiryRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceEnquiry" />
	</wsdl:message>
	<wsdl:message name="submitAccountBalanceEnquiryResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceEnquiryResponse" />
	</wsdl:message>
	<wsdl:message name="submitLoyaltyAccountSearchRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitLoyaltyAccountSearch" />
	</wsdl:message>
	<wsdl:message name="submitLoyaltyAccountSearchResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitLoyaltyAccountSearchResponse" />
	</wsdl:message>
	<wsdl:message name="submitCustomerNameSearchRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerNameSearch" />
	</wsdl:message>
	<wsdl:message name="submitCustomerNameSearchResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerNameSearchResponse" />
	</wsdl:message>
	<wsdl:message name="submitCustomerPostCodeSearchRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerPostCodeSearch" />
	</wsdl:message>
	<wsdl:message name="submitCustomerPostCodeSearchResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerPostCodeSearchResponse" />
	</wsdl:message>
	<wsdl:message name="submitCustomerCardSearchRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerCardSearch" />
	</wsdl:message>
	<wsdl:message name="loadCustomerRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:loadCustomer" />
	</wsdl:message>
	<wsdl:message name="loadCustomerResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:loadCustomerResponse" />
	</wsdl:message>
	<wsdl:message name="submitCustomerCardSearchResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerCardSearchResponse" />
	</wsdl:message>
	<wsdl:message name="submitEmployeeAccountUpdateBatchRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitEmployeeAccountUpdateBatch" />
	</wsdl:message>
	<wsdl:message name="submitEmployeeAccountUpdateBatchResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitEmployeeAccountUpdateBatchResponse" />
	</wsdl:message>
	<wsdl:message name="submitCustomerAccountUpdateBatchRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerAccountUpdateBatch" />
	</wsdl:message>
	<wsdl:message name="submitCustomerAccountUpdateBatchResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerAccountUpdateBatchResponse" />
	</wsdl:message>
	<wsdl:message name="submitAccountBalanceCommitRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceCommit" />
	</wsdl:message>
	<wsdl:message name="submitAccountBalanceCommitResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceUpdateResponse" />
	</wsdl:message>
	<wsdl:message name="submitCustomerAccountsSearchRequestMessage">
		<wsdl:part name="parameters" element="mfc:submitCustomerAccountsSearch" />
	</wsdl:message>
	<wsdl:message name="submitCustomerAccountsSearchResponseMessage">
		<wsdl:part name="parameters" element="mfc:submitCustomerAccountsSearchResponse" />
	</wsdl:message>
	<wsdl:portType name="AccountBalanceServicePT">
		<wsdl:operation name="submitAccountBalanceUpdate">
			<wsdl:input message="service:submitAccountBalanceUpdateRequestMessage" name="submitAccountBalanceUpdateRequestMessage" />
			<wsdl:output message="service:submitAccountBalanceUpdateResponseMessage" name="submitAccountBalanceUpdateResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="submitAccountBalanceUpdateBatch">
			<wsdl:input message="service:submitAccountBalanceUpdateBatchRequestMessage" name="submitAccountBalanceUpdateBatchRequestMessage" />
			<wsdl:output message="service:submitAccountBalanceUpdateBatchResponseMessage" name="submitAccountBalanceUpdateBatchResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="submitVoidAccountBalanceUpdate">
			<wsdl:input message="service:submitVoidAccountBalanceUpdateRequestMessage" name="submitVoidAccountBalanceUpdateRequestMessage" />
			<wsdl:output message="service:submitVoidAccountBalanceUpdateResponseMessage" name="submitVoidAccountBalanceUpdateResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="submitAccountBalanceEnquiry">
			<wsdl:input message="service:submitAccountBalanceEnquiryRequestMessage" name="submitAccountBalanceEnquiryRequestMessage" />
			<wsdl:output message="service:submitAccountBalanceEnquiryResponseMessage" name="submitAccountBalanceEnquiryResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="submitLoyaltyAccountSearch">
			<wsdl:input message="service:submitLoyaltyAccountSearchRequestMessage" name="submitLoyaltyAccountSearchRequestMessage" />
			<wsdl:output message="service:submitLoyaltyAccountSearchResponseMessage" name="submitLoyaltyAccountSearchResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="submitEmployeeAccountUpdateBatch">
			<wsdl:input message="service:submitEmployeeAccountUpdateBatchRequestMessage" name="submitEmployeeAccountUpdateBatchRequestMessage" />
			<wsdl:output message="service:submitEmployeeAccountUpdateBatchResponseMessage" name="submitEmployeeAccountUpdateBatchResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="submitCustomerAccountUpdateBatch">
			<wsdl:input message="service:submitCustomerAccountUpdateBatchRequestMessage" name="submitCustomerAccountUpdateBatchRequestMessage" />
			<wsdl:output message="service:submitCustomerAccountUpdateBatchResponseMessage" name="submitCustomerAccountUpdateBatchResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="submitAccountBalanceCommit">
			<wsdl:input message="service:submitAccountBalanceCommitRequestMessage" name="submitAccountBalanceCommitRequestMessage" />
			<wsdl:output message="service:submitAccountBalanceCommitResponseMessage" name="submitAccountBalanceCommitResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="submitCustomerAccountsSearch">
			<wsdl:input message="service:submitCustomerAccountsSearchRequestMessage" name="submitCustomerAccountsSearchRequestMessage" />
			<wsdl:output message="service:submitCustomerAccountsSearchResponseMessage" name="submitCustomerAccountsSearchResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SOAPBinding" type="service:AccountBalanceServicePT">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="submitAccountBalanceUpdate">
			<soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitAccountBalanceUpdate/soapAction" />
			<wsdl:input name="submitAccountBalanceUpdateRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="submitAccountBalanceUpdateResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitAccountBalanceUpdateBatch">
			<soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitAccountBalanceUpdateBatch/soapAction" />
			<wsdl:input name="submitAccountBalanceUpdateBatchRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="submitAccountBalanceUpdateBatchResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitVoidAccountBalanceUpdate">
			<soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitVoidAccountBalanceUpdate/soapAction" />
			<wsdl:input name="submitVoidAccountBalanceUpdateRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="submitVoidAccountBalanceUpdateResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitAccountBalanceEnquiry">
			<soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitAccountBalanceEnquiry/soapAction" />
			<wsdl:input name="submitAccountBalanceEnquiryRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="submitAccountBalanceEnquiryResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitLoyaltyAccountSearch">
			<soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitLoyaltyAccountSearch/soapAction" />
			<wsdl:input name="submitLoyaltyAccountSearchRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="submitLoyaltyAccountSearchResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitCustomerAccountsSearch">
			<soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitCustomerNameSearch/soapAction" />
			<wsdl:input name="submitCustomerAccountsSearchRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="submitCustomerAccountsSearchResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitEmployeeAccountUpdateBatch">
			<soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitEmployeeAccountUpdateBatch/soapAction" />
			<wsdl:input name="submitEmployeeAccountUpdateBatchRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="submitEmployeeAccountUpdateBatchResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitCustomerAccountUpdateBatch">
			<soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitCustomerAccountUpdateBatch/soapAction" />
			<wsdl:input name="submitCustomerAccountUpdateBatchRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="submitCustomerAccountUpdateBatchResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitAccountBalanceCommit">
			<soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitAccountBalanceCommit/soapAction" />
			<wsdl:input name="submitAccountBalanceCommitRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="submitAccountBalanceCommitResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="JavaBinding" type="service:AccountBalanceServicePT">
		<java:binding />
		<format:typeMapping encoding="Java" style="Java">
			<format:typeMap elementName="retail:accountBalanceUpdate" formatType="com.enactor.mfc.account.accountBalanceUpdate.IAccountBalanceUpdate" xmlns:mfc="http://www.enactor.com/retail" />
			<format:typeMap elementName="retail:accountBalance" formatType="com.enactor.mfc.account.accountBalance.IAccountBalance" xmlns:mfc="http://www.enactor.com/retail" />
			<format:typeMap elementName="retail:accountBalanceUpdateBatch" formatType="com.enactor.mfc.account.accountBalanceUpdate.IAccountBalanceUpdateBatch" xmlns:mfc="http://www.enactor.com/retail" />
			<format:typeMap elementName="retail:accountBalanceUpdateBatchResponse" formatType="com.enactor.mfc.account.accountBalanceUpdate.service.IAccountBalanceUpdateBatchResponse" xmlns:mfc="http://www.enactor.com/retail" />
			<format:typeMap elementName="core:applicationProcessOutcome" formatType="com.enactor.core.application.process.IApplicationProcessOutcome" xmlns:core="http://www.enactor.com/core" />
			<format:typeMap elementName="retail:employeeAccountUpdateBatch" formatType="com.enactor.mfc.account.accountBalanceUpdate.service.IEmployeeAccountUpdateBatch" xmlns:mfc="http://www.enactor.com/retail" />
			<format:typeMap elementName="retail:employeeAccountUpdateBatchResponse" formatType="com.enactor.mfc.account.accountBalanceUpdate.service.IEmployeeAccountUpdateBatchResponse" xmlns:mfc="http://www.enactor.com/retail" />
			<format:typeMap elementName="retail:customerAccountUpdateBatch" formatType="com.enactor.mfc.account.accountBalanceUpdate.service.ICustomerAccountUpdateBatch" xmlns:mfc="http://www.enactor.com/retail" />
			<format:typeMap elementName="retail:customerAccountUpdateBatchResponse" formatType="com.enactor.mfc.account.accountBalanceUpdate.service.ICustomerAccountUpdateBatchResponse" xmlns:mfc="http://www.enactor.com/retail" />
		</format:typeMapping>
		<wsdl:operation name="submitAccountBalanceUpdate">
			<java:operation methodType="instance" methodName="submitAccountBalanceUpdate" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="submitAccountBalanceUpdateBatch">
			<java:operation methodType="instance" methodName="submitAccountBalanceUpdateBatch" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="submitVoidAccountBalanceUpdate">
			<java:operation methodType="instance" methodName="submitVoidAccountBalanceUpdate" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="submitAccountBalanceEnquiry">
			<java:operation methodType="instance" methodName="submitAccountBalanceEnquiry" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="submitLoyaltyAccountSearch">
			<java:operation methodType="instance" methodName="submitLoyaltyAccountSearch" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="submitCustomerAccountsSearch">
			<java:operation methodType="instance" methodName="submitCustomerNameSearch" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="submitEmployeeAccountUpdateBatch">
			<java:operation methodType="instance" methodName="submitEmployeeAccountUpdateBatch" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="submitCustomerAccountUpdateBatch">
			<java:operation methodType="instance" methodName="submitCustomerAccountUpdateBatch" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="submitAccountBalanceCommit">
			<java:operation methodType="instance" methodName="submitAccountBalanceCommit" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AccountBalanceService">
		<wsdl:port name="SOAPPort" binding="service:SOAPBinding">
			<soap:address location="http://localhost:8080/axis2/AccountBalanceService" />
		</wsdl:port>
		<wsdl:port name="JavaPort" binding="service:JavaBinding">
			<java:address className="com.enactor.mfc.account.accountBalanceUpdate.service.AccountBalanceService" />
		</wsdl:port>
	</wsdl:service>
	<plnk:partnerLinkType name="AccountBalanceServicePLT">
		<plnk:role name="AccountBalanceServiceImpl">
			<plnk:portType name="service:AccountBalanceServicePT" />
		</plnk:role>
	</plnk:partnerLinkType>
</wsdl:definitions>
