EnactorHome/pos/Data/Enactor Pos/WSDL/Embedded/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" name="CustomerService" targetNamespace="http://www.enactor.com/retail/CustomerService" xmlns:service="http://www.enactor.com/retail/CustomerService" xmlns:serviceTypes="http://www.enactor.com/retail/CustomerService/Types" xmlns:retail="http://www.enactor.com/retail">
	<wsdl:types>

		<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.enactor.com/core" xmlns:tns="http://www.enactor.com/core" xmlns:core="http://www.enactor.com/core" xmlns:xs="http://www.w3.org/2001/XMLSchema">

			<xs:element name="pageableArrayList" type="tns:pageableArrayList" />

			<xs:complexType name="pageableArrayList">
				<xs:complexContent>
					<xs:extension base="tns:jaxbFriendlyList">
						<xs:sequence>
							<xs:element name="currentPage" type="xs:int" />
							<xs:element name="rowOffset" type="xs:int" />
							<xs:element name="pageSize" type="xs:int" />
							<xs:element name="totalPages" type="xs:int" />
							<xs:element name="totalRows" type="xs:int" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="jaxbFriendlyList">
				<xs:sequence>
					<xs:element name="contents" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="applicationProcessOutcome" type="tns:ApplicationProcessOutcome" />

			<xs:complexType name="ApplicationProcessOutcome">
				<xs:sequence />
				<xs:attribute name="name" type="xs:string" />
			</xs:complexType>

			<xs:element name="baseEntityKey" type="tns:BaseEntityKey" />

			<xs:element name="coreProperty" nillable="true" type="tns:CoreProperty" />

			<xs:element name="corePropertyConfigs" nillable="true" type="tns:CorePropertyConfigs" />

			<xs:element name="deviceTransaction" nillable="true" type="tns:DeviceTransaction" />

			<xs:element name="entityTarget" nillable="true" type="tns:EntityTarget" />

			<xs:element name="event" nillable="true" type="tns:Event" />

			<xs:element name="exceptionEvent" nillable="true" type="tns:ExceptionEvent" />

			<xs:element name="executionContextHandler" type="tns:ContextHandlerMapping" />

			<xs:element name="executorConfiguration" nillable="true" type="tns:DefaultExecutorConfiguration" />

			<xs:element name="locale" type="tns:JAXBLocale" />

			<xs:element name="menuPathElement" type="tns:MenuPathElement" />

			<xs:element name="package" nillable="true" type="tns:Package" />

			<xs:element name="packageProcess" nillable="true" type="tns:PackageProcess" />

			<xs:element name="packages" nillable="true" type="tns:Packages" />

			<xs:element name="persistentLock" nillable="true" type="tns:PersistentLock" />

			<xs:element name="propertyConfigs" nillable="true" type="tns:PropertyConfigs" />

			<xs:element name="serializableEntityList" nillable="true" type="tns:SerializableEntityList" />

			<xs:element name="serviceDefinition" nillable="true" type="tns:ServiceDefinition" />

			<xs:element name="serviceDefinitionKey" type="tns:ServiceDefinitionKey" />

			<xs:element name="transactionKey" type="tns:TransactionKey" />

			<xs:element name="version" type="tns:JAXBVersion" />

			<xs:element name="dataType" type="tns:DataType" />

			<xs:simpleType name="DataType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="STRING" />
					<xs:enumeration value="BYTE" />
					<xs:enumeration value="INTEGER" />
					<xs:enumeration value="LONG" />
					<xs:enumeration value="FLOAT" />
					<xs:enumeration value="DOUBLE" />
					<xs:enumeration value="BOOLEAN" />
					<xs:enumeration value="DATE" />
					<xs:enumeration value="CLOB" />
					<xs:enumeration value="BLOB" />
					<xs:enumeration value="VERSION" />
					<xs:enumeration value="QNAME" />
					<xs:enumeration value="UNKNOWN" />
					<xs:enumeration value="ENUM" />
					<xs:enumeration value="LOCAL_TIME" />
					<xs:enumeration value="UTC_DATE" />
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="BaseEntityComplexKey" abstract="true">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="PersistentLock">
				<xs:sequence>
					<xs:element name="entityToLockName" type="xs:string" minOccurs="0" />
					<xs:element name="key" type="xs:string" minOccurs="0" />
					<xs:element name="requestDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="userName" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="stringEntityMap">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="simpleEntityList">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="SerializableEntityList">
				<xs:sequence>
					<xs:element name="entity" type="xs:anyType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="simpleEntityMap">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="validationErrorCodes">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="EntityTarget">
				<xs:sequence>
					<xs:element name="groupId" type="xs:string" minOccurs="0" />
					<xs:element name="groupNodeId" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="entityTargetList">
				<xs:complexContent>
					<xs:extension base="tns:simpleEntityList">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="Event">
				<xs:sequence>
					<xs:element name="eventName" type="xs:string" minOccurs="0" />
					<xs:element name="eventType" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ExceptionEvent">
				<xs:complexContent>
					<xs:extension base="tns:Event">
						<xs:sequence>
							<xs:element name="className" type="xs:string" minOccurs="0" />
							<xs:element name="message" type="xs:string" minOccurs="0" />
							<xs:element name="stackTraceTopLine" type="xs:string" minOccurs="0" />
							<xs:element name="exceptionXml" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="ContextHandlerMapping">
				<xs:sequence />
				<xs:attribute name="contextClass" type="xs:string" />
				<xs:attribute name="handlerClass" type="xs:string" />
			</xs:complexType>

			<xs:complexType name="DefaultExecutorConfiguration">
				<xs:complexContent>
					<xs:extension base="tns:PropertyConfigs">
						<xs:sequence>
							<xs:element name="workingDirectory" type="xs:string" minOccurs="0" />
							<xs:element ref="tns:executionContextHandler" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="PropertyConfigs" abstract="true">
				<xs:sequence>
					<xs:element name="sourceString" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="JAXBLocale">
				<xs:sequence />
				<xs:attribute name="country" type="xs:string" />
				<xs:attribute name="language" type="xs:string" />
				<xs:attribute name="variant" type="xs:string" />
			</xs:complexType>

			<xs:simpleType name="JAXBVersion">
				<xs:restriction base="xs:string" />
			</xs:simpleType>

			<xs:complexType name="MenuPathElement">
				<xs:sequence />
				<xs:attribute name="id" type="xs:string" />
				<xs:attribute name="name" type="xs:string" />
			</xs:complexType>

			<xs:complexType name="Packages">
				<xs:sequence>
					<xs:element ref="tns:package" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Package">
				<xs:sequence>
					<xs:element name="packageId" type="xs:string" minOccurs="0" />
					<xs:element name="type" type="xs:int" />
					<xs:element name="deployedStatus" type="xs:int" />
					<xs:element ref="tns:packageProcess" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="entityFactoryPath" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="PackageProcess">
				<xs:sequence>
					<xs:element name="processId" type="xs:string" minOccurs="0" />
					<xs:element ref="tns:version" minOccurs="0" />
					<xs:element name="viewId" type="xs:string" minOccurs="0" />
					<xs:element name="messageResourceClass" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="menuUrl" type="xs:string" minOccurs="0" />
					<xs:element name="menuFolder" type="tns:MenuPathElement" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="menuItem" type="tns:MenuPathElement" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="registerAppUtil">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="ServiceDefinition">
				<xs:sequence>
					<xs:element name="serviceDefinitionID" type="xs:string" minOccurs="0" />
					<xs:element name="deviceType" type="xs:string" minOccurs="0" />
					<xs:element ref="tns:entityTarget" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ServiceDefinitionKey">
				<xs:complexContent>
					<xs:extension base="tns:BaseEntityKey">
						<xs:sequence>
							<xs:element name="serviceDefinitionID" type="xs:string" minOccurs="0" />
							<xs:element name="deviceType" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="BaseEntityKey" abstract="true">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="serviceDefinitionXMLSerializer">
				<xs:complexContent>
					<xs:extension base="tns:baseXMLSerializer">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="baseXMLSerializer">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="DeviceTransaction">
				<xs:sequence>
					<xs:element name="deviceId" type="xs:string" />
					<xs:element name="deviceSequenceNumber" type="xs:long" />
					<xs:element name="locationID" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="TransactionKey">
				<xs:complexContent>
					<xs:extension base="tns:BaseEntityKey">
						<xs:sequence>
							<xs:element name="transactionId" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="CoreProperty">
				<xs:sequence />
				<xs:attribute name="name" type="xs:string" />
				<xs:attribute name="value" type="xs:string" />
			</xs:complexType>

			<xs:complexType name="CorePropertyConfigs">
				<xs:complexContent>
					<xs:extension base="tns:PropertyConfigs">
						<xs:sequence>
							<xs:element ref="tns:coreProperty" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="mapEntry">
				<xs:sequence>
					<xs:element name="key" type="xs:anyType" minOccurs="0" />
					<xs:element name="value" type="xs:anyType" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="propertyConfigMapping">
				<xs:sequence>
					<xs:element name="className" type="xs:string" minOccurs="0" />
					<xs:element name="sourceUrl" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="GroupKey">
				<xs:complexContent>
					<xs:extension base="core:BaseEntityKey">
						<xs:attribute name="variantGroupHierarchyId" type="xs:string" />
						<xs:attribute name="variantGroupId" type="xs:string" />
						<xs:attribute name="variantGroupTypeId" type="xs:string" />
						<xs:attribute name="groupHierarchyId" type="xs:string" />
						<xs:attribute name="groupTypeId" type="xs:string" />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:simpleType name="TemplateFieldType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="FIXED" />
					<xs:enumeration value="MANDATORY" />
					<xs:enumeration value="OPTIONAL" />
					<xs:enumeration value="NONE" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>

		<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:javaBasic="http://java.basic/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://java.basic/xsd">

			<element name="iterator" type="javaBasic:Iterator" />
			<complexType name="Iterator">
				<sequence />
			</complexType>

			<element name="list" type="javaBasic:List" />
			<complexType name="List">
				<sequence />
			</complexType>

			<element name="void" type="javaBasic:Void" />
			<complexType name="Void">
				<sequence />
			</complexType>

		</schema>

		<schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.enactor.com/retail" xmlns:retail="http://www.enactor.com/retail" xmlns:core="http://www.enactor.com/core">

			<import namespace="http://www.enactor.com/core" />

			<xsd:element name="customerEmailAddressesList" type="retail:CustomerEmailAddressesList" />

			<xsd:element name="customerEmailAddressesListElement" type="retail:CustomerEmailAddressesListElement" />

			<xsd:element name="getCustomerEmailAddressesResponse" type="retail:GetCustomerEmailAddressesResponse" />

			<xsd:complexType name="GetCustomerEmailAddressesResponse">
				<xsd:sequence>
					<xsd:element name="customersEmailAddressesList" type="retail:CustomerEmailAddressesList" minOccurs="0" />
					<xsd:element name="propertyNames" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="outcome" type="core:ApplicationProcessOutcome" minOccurs="0" />
					<xsd:element name="errorCode" type="xsd:string" minOccurs="0" />
					<xsd:element name="errorMessage" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="CustomerEmailAddressesList">
				<xsd:complexContent>
					<xsd:extension base="core:pageableArrayList">
						<xsd:sequence>
							<xsd:element name="elements" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="element" type="retail:CustomerEmailAddressesListElement" minOccurs="0" maxOccurs="unbounded" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="CustomerEmailAddressesListElement">
				<xsd:sequence>
					<xsd:element name="customerNumber" type="xsd:string" minOccurs="0" />
					<xsd:element name="emailAddress" type="xsd:string" minOccurs="0" />
					<xsd:element name="contactTypeId" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="getCustomerEmailAddressesRequest" type="retail:GetCustomerEmailAddressesRequest" />

			<xsd:complexType name="GetCustomerEmailAddressesRequest">
				<xsd:sequence>
					<xsd:element name="customerNumber" type="xsd:string" minOccurs="0" />
					<xsd:element name="contactTypeId" type="xsd:string" minOccurs="0" />
					<xsd:element name="emailAddress" type="xsd:string" minOccurs="0" />
					<xsd:element name="preferred" type="xsd:boolean" minOccurs="0" />
					<xsd:element name="status" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="customerAccountListRequest" type="retail:CustomerAccountListRequest" />

			<xsd:complexType name="CustomerAccountListRequest">
				<xsd:sequence>
					<xsd:element name="customerNumber" type="xsd:string" minOccurs="0" />
					<xsd:element name="accountType" type="xsd:string" minOccurs="0" />
					<xsd:element name="accountStatus" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="countryCodeKey" type="retail:CountryCodeKey" />

			<xsd:element name="customerAttribute" type="retail:CustomerAttribute" />

			<xsd:element name="customerIdentity" type="retail:customerIdentity" />

			<xsd:element name="customerKey" type="retail:CustomerKey" />

			<xsd:element name="identityTypeKey" type="retail:IdentityTypeKey" />

			<xsd:element name="loadCustomerWithDataResponse" type="retail:LoadCustomerWithDataResponse" />

			<xsd:element name="optionSetKey" type="retail:OptionSetKey" />

			<xsd:element name="optionValue" type="retail:OptionValue" />

			<xsd:element name="optionValueValue" type="retail:OptionValueValue" />

			<xsd:element name="userKey" type="retail:UserKey" />

			<xsd:complexType name="LoadCustomerWithDataResponse">
				<xsd:sequence>
					<xsd:element ref="retail:customer" minOccurs="0" />
					<xsd:element name="customerGroup" type="core:GroupKey" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="retail:customerIdentity" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="customerAttributes" type="retail:CustomerAttribute" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="customerIdentity">
				<xsd:sequence>
					<xsd:element ref="retail:identityTypeKey" minOccurs="0" />
					<xsd:element name="idNumber" type="xsd:string" minOccurs="0" />
					<xsd:element name="countryOfIssue" type="retail:CountryCodeKey" minOccurs="0" />
					<xsd:element name="issueDate" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="expiryDate" type="xsd:dateTime" minOccurs="0" />
					<xsd:element ref="retail:customerKey" minOccurs="0" />
					<xsd:element name="createdBy" type="retail:UserKey" minOccurs="0" />
					<xsd:element name="createdOn" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="placeOfIssue" type="xsd:string" minOccurs="0" />
					<xsd:element name="status" type="xsd:string" minOccurs="0" />
					<xsd:element name="lastUpdated" type="xsd:dateTime" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="IdentityTypeKey">
				<xsd:complexContent>
					<xsd:extension base="core:BaseEntityKey" />
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="CountryCodeKey">
				<xsd:complexContent>
					<xsd:extension base="core:BaseEntityKey" />
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="CustomerKey">
				<xsd:complexContent>
					<xsd:extension base="core:BaseEntityKey" />
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="UserKey">
				<xsd:complexContent>
					<xsd:extension base="core:BaseEntityKey" />
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="CustomerAttribute">
				<xsd:complexContent>
					<xsd:extension base="retail:OptionValue">
						<xsd:sequence>
							<xsd:element name="customerId" type="retail:CustomerKey" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="OptionValue" abstract="true">
				<xsd:sequence>
					<xsd:element name="optionPathId" type="xsd:string" minOccurs="0" />
					<xsd:element name="optionSetId" type="retail:OptionSetKey" minOccurs="0" />
					<xsd:element name="dataType" type="core:DataType" minOccurs="0" />
					<xsd:element name="lastUpdated" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="value" type="retail:OptionValueValue" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="OptionSetKey">
				<xsd:complexContent>
					<xsd:extension base="core:BaseEntityComplexKey">
						<xsd:sequence>
							<xsd:element name="groupId" type="core:GroupKey" minOccurs="0" />
						</xsd:sequence>
						<xsd:attribute name="type" type="xsd:string" />
						<xsd:attribute name="optionSetId" type="xsd:string" />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="OptionValueValue">
				<xsd:sequence>
					<xsd:element name="floatValue" type="xsd:float" minOccurs="0" />
					<xsd:element name="dateValue" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="stringValue" type="xsd:string" minOccurs="0" />
					<xsd:element name="booleanValue" type="xsd:boolean" minOccurs="0" />
					<xsd:element name="integerValue" type="xsd:int" minOccurs="0" />
					<xsd:element name="longValue" type="xsd:long" minOccurs="0" />
				</xsd:sequence>
				<xsd:attribute name="id" type="xsd:string" />
			</xsd:complexType>

			<xsd:element name="customerNameSearchRequest" type="retail:CustomerNameSearchRequest" />
			<xsd:complexType name="CustomerNameSearchRequest">
				<xsd:all>
					<xsd:element name="searchName" type="xsd:string" minOccurs="0" />
					<xsd:element name="searchSurname" type="xsd:string" minOccurs="0" />
					<xsd:element name="searchForename" type="xsd:string" minOccurs="0" />
					<xsd:element name="searchOtherNames" type="xsd:string" minOccurs="0" />
					<xsd:element name="searchGender" type="xsd:string" minOccurs="0" />
					<xsd:element name="searchDateOfBirth" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="searchOrganisation" type="xsd:string" minOccurs="0" />
					<xsd:element name="searchTradingName" type="xsd:string" minOccurs="0" />
					<xsd:element name="searchPostCode" type="xsd:string" minOccurs="0" />
					<xsd:element name="types" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
			</xsd:complexType>

			<xsd:element name="customerCardSearchRequest" type="retail:CustomerCardSearchRequest" />

			<xsd:complexType name="CustomerCardSearchRequest">
				<xsd:all>
					<xsd:element name="accountType" type="xsd:string" minOccurs="0" />
					<xsd:element name="accountId" type="xsd:string" minOccurs="0" />
				</xsd:all>
			</xsd:complexType>

			<xsd:element name="address" type="retail:Address" />

			<xsd:element name="contactInfoLink" type="retail:ContactInfoLink" />

			<xsd:element name="contactTypeKey" type="retail:ContactTypeKey" />

			<xsd:element name="customer" type="retail:Customer" />

			<xsd:element name="customerTypeKey" type="retail:CustomerTypeKey" />

			<xsd:element name="deviceKey" type="retail:DeviceKey" />

			<xsd:element name="emailAddress" type="retail:EmailAddress" />

			<xsd:element name="employeeKey" type="retail:EmployeeKey" />

			<xsd:element name="name" type="retail:Name" />

			<xsd:element name="phoneNumber" type="retail:PhoneNumber" />

			<xsd:element name="priceTypeKey" type="retail:PriceTypeKey" />

			<xsd:complexType name="Customer">
				<xsd:sequence>
					<xsd:element name="addresses" type="retail:Address" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="contactMethod" type="xsd:string" minOccurs="0" />
					<xsd:element name="contactMethodNotes" type="xsd:string" minOccurs="0" />
					<xsd:element name="contactable" type="xsd:boolean" minOccurs="0" />
					<xsd:element name="dateCreated" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="maritalStatus" type="xsd:string" minOccurs="0" />
					<xsd:element name="nationality" type="xsd:string" minOccurs="0" />
					<xsd:element name="noChildren" type="xsd:int" minOccurs="0" />
					<xsd:element name="customerNumber" type="xsd:string" />
					<xsd:element name="emailAddresses" type="retail:EmailAddress" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="phoneNumbers" type="retail:PhoneNumber" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="customerName" type="retail:Name" />
					<xsd:element name="businessContactMethod" type="xsd:string" minOccurs="0" />
					<xsd:element name="preferredContactTime" type="xsd:string" minOccurs="0" />
					<xsd:element name="allowInternalMarketing" type="xsd:boolean" minOccurs="0" />
					<xsd:element name="allowExternalMarketing" type="xsd:boolean" minOccurs="0" />
					<xsd:element name="privacyLevel" type="xsd:int" minOccurs="0" />
					<xsd:element ref="retail:employeeKey" minOccurs="0" />
					<xsd:element name="priceGroupId" type="core:GroupKey" minOccurs="0" />
					<xsd:element name="lastUpdated" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="contactInfoLinks" type="retail:ContactInfoLink" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="customerType" type="retail:CustomerTypeKey" minOccurs="0" />
					<xsd:element name="organisation" type="xsd:string" minOccurs="0" />
					<xsd:element name="taxIdentification" type="xsd:string" minOccurs="0" />
					<xsd:element name="companyNumber" type="xsd:string" minOccurs="0" />
					<xsd:element name="priceTypeId" type="retail:PriceTypeKey" minOccurs="0" />
					<xsd:element name="occupation" type="xsd:string" minOccurs="0" />
					<xsd:element name="jobTitle" type="xsd:string" minOccurs="0" />
					<xsd:element name="tradingName" type="xsd:string" minOccurs="0" />
					<xsd:element name="lastTransactionDate" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="createdBy" type="retail:UserKey" minOccurs="0" />
					<xsd:element name="createdAt" type="retail:DeviceKey" minOccurs="0" />
					<xsd:element name="status" type="xsd:string" minOccurs="0" />
					<xsd:element name="source" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Address">
				<xsd:sequence>
					<xsd:element name="country" type="xsd:string" minOccurs="0" />
					<xsd:element name="countryCodeId" type="retail:CountryCodeKey" minOccurs="0" />
					<xsd:element name="isPreferred" type="xsd:boolean" minOccurs="0" />
					<xsd:element name="organisation" type="xsd:string" minOccurs="0" />
					<xsd:element name="restrictedReason" type="xsd:string" minOccurs="0" />
					<xsd:element name="isActive" type="xsd:boolean" minOccurs="0" />
					<xsd:element name="status" type="xsd:string" minOccurs="0" />
					<xsd:element name="typeId" type="retail:ContactTypeKey" minOccurs="0" />
					<xsd:element name="validFrom" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="validTo" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="county" type="xsd:string" minOccurs="0" />
					<xsd:element name="email" type="xsd:string" minOccurs="0" />
					<xsd:element name="fax" type="xsd:string" minOccurs="0" />
					<xsd:element name="mobilePhoneCallingCode" type="xsd:string" minOccurs="0" />
					<xsd:element name="mobilePhone" type="xsd:string" minOccurs="0" />
					<xsd:element name="phone1CallingCode" type="xsd:string" minOccurs="0" />
					<xsd:element name="phone1" type="xsd:string" minOccurs="0" />
					<xsd:element name="phone2CallingCode" type="xsd:string" minOccurs="0" />
					<xsd:element name="phone2" type="xsd:string" minOccurs="0" />
					<xsd:element name="postCode" type="xsd:string" minOccurs="0" />
					<xsd:element name="street1" type="xsd:string" minOccurs="0" />
					<xsd:element name="street2" type="xsd:string" minOccurs="0" />
					<xsd:element name="street3" type="xsd:string" minOccurs="0" />
					<xsd:element name="town" type="xsd:string" minOccurs="0" />
					<xsd:element name="fieldOptions">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="entry" minOccurs="0" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="key" minOccurs="0" type="xsd:string" />
											<xsd:element name="value" minOccurs="0" type="core:TemplateFieldType" />
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="referenceName" type="xsd:string" minOccurs="0" />
					<xsd:element name="isTemplate" type="xsd:boolean" />
					<xsd:element name="referenceId" type="xsd:string" minOccurs="0" />
					<xsd:element name="lastUpdated" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="addressReferenceId" type="xsd:string" minOccurs="0" />
					<xsd:element name="province" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ContactTypeKey">
				<xsd:complexContent>
					<xsd:extension base="core:BaseEntityKey" />
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="EmailAddress">
				<xsd:sequence>
					<xsd:element name="emailAddress" type="xsd:string" minOccurs="0" />
					<xsd:element name="lastUpdated" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="preferred" type="xsd:boolean" minOccurs="0" />
					<xsd:element name="restrictedReason" type="xsd:string" minOccurs="0" />
					<xsd:element name="status" type="xsd:string" minOccurs="0" />
					<xsd:element name="typeId" type="retail:ContactTypeKey" minOccurs="0" />
					<xsd:element name="validFrom" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="validTo" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="referenceId" type="xsd:string" minOccurs="0" />
					<xsd:element name="active" type="xsd:boolean" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PhoneNumber">
				<xsd:sequence>
					<xsd:element name="countryCode" type="xsd:string" minOccurs="0" />
					<xsd:element name="lastUpdated" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="number" type="xsd:string" minOccurs="0" />
					<xsd:element name="preferred" type="xsd:boolean" minOccurs="0" />
					<xsd:element name="restrictedReason" type="xsd:string" minOccurs="0" />
					<xsd:element name="status" type="xsd:string" minOccurs="0" />
					<xsd:element name="typeId" type="retail:ContactTypeKey" minOccurs="0" />
					<xsd:element name="validFrom" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="validTo" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="referenceId" type="xsd:string" minOccurs="0" />
					<xsd:element name="active" type="xsd:boolean" minOccurs="0" />
					<xsd:element name="phoneNumberReferenceId" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Name">
				<xsd:sequence>
					<xsd:element name="surname" type="xsd:string" minOccurs="0" />
					<xsd:element name="forename" type="xsd:string" minOccurs="0" />
					<xsd:element name="initials" type="xsd:string" minOccurs="0" />
					<xsd:element name="title" type="xsd:string" minOccurs="0" />
					<xsd:element name="dateOfBirth" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="otherNames" type="xsd:string" minOccurs="0" />
					<xsd:element name="jobTitle" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="EmployeeKey">
				<xsd:complexContent>
					<xsd:extension base="core:BaseEntityKey" />
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ContactInfoLink">
				<xsd:sequence>
					<xsd:element name="addressReferenceId" type="xsd:string" minOccurs="0" />
					<xsd:element name="phoneNumberReferenceId" type="xsd:string" minOccurs="0" />
					<xsd:element name="lastUpdated" type="xsd:dateTime" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="CustomerTypeKey">
				<xsd:complexContent>
					<xsd:extension base="core:BaseEntityKey" />
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="PriceTypeKey">
				<xsd:complexContent>
					<xsd:extension base="core:BaseEntityKey" />
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="DeviceKey">
				<xsd:complexContent>
					<xsd:extension base="core:BaseEntityKey" />
				</xsd:complexContent>
			</xsd:complexType>

			<element name="user" nillable="true" type="retail:User" />
			<complexType name="User">
				<sequence />
			</complexType>
			<element name="addressKey" type="retail:AddressKey" />
			<complexType name="AddressKey">
				<sequence />
			</complexType>
			<element name="postalAddress" nillable="true" type="retail:PostalAddress" />
			<complexType name="PostalAddress">
				<sequence />
			</complexType>
			<element name="postalAddressKey" type="retail:PostalAddressKey" />
			<complexType name="PostalAddressKey">
				<sequence />
			</complexType>
			<element name="addressListItem" nillable="true" type="retail:AddressListItem" />
			<complexType name="AddressListItem">
				<sequence />
			</complexType>

			<element name="retailTransaction" nillable="true" type="retail:RetailTransaction" />
			<complexType name="RetailTransaction">
				<sequence />
			</complexType>
			<element name="retailTransactionKey" type="retail:RetailTransactionKey" />
			<complexType name="RetailTransactionKey">
				<sequence />
			</complexType>

			<element name="retailTransactionArchive" nillable="true" type="retail:RetailTransaction" />
			<complexType name="RetailTransactionArchive">
				<sequence />
			</complexType>
			<element name="retailTransactionArchiveKey" type="retail:RetailTransactionKey" />
			<complexType name="RetailTransactionArchiveKey">
				<sequence />
			</complexType>
			<element name="trackedReturn" type="retail:TrackedReturn" />
			<complexType name="TrackedReturn">
				<sequence></sequence>
			</complexType>

			<element name="trackedReturnKey" type="retail:TrackedReturnKey" />
			<complexType name="TrackedReturnKey">
				<sequence></sequence>
			</complexType>

			<element name="accountBalanceUpdateOutput">
				<complexType>
					<sequence></sequence>
				</complexType>
			</element>

			<element name="accountBalanceEnquiryOutput">
				<complexType>
					<sequence></sequence>
				</complexType>
			</element>

		</schema>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.enactor.com/retail/CustomerService/Types" xmlns:retail="http://www.enactor.com/retail">
			<xsd:import namespace="http://www.enactor.com/retail" />
			<xsd:import namespace="http://www.enactor.com/core" />
			<xsd:import namespace="http://java.basic/xsd" />

			<xsd:element name="submitCustomerNameSearch">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:customerNameSearchRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitCustomerNameSearchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="java:List" xmlns:java="http://java.basic/xsd" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitCustomerPostCodeSearch">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="postCode" type="xsd:string" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitCustomerPostCodeSearchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="java:List" xmlns:java="http://java.basic/xsd" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitCustomerCardSearch">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:customerCardSearchRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitCustomerCardSearchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="java:List" xmlns:java="http://java.basic/xsd" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="loadCustomer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customerNumber" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="loadCustomerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:customer" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="loadCustomerWithData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customerNumber" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="loadCustomerWithDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:loadCustomerWithDataResponse" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="loadCustomerAccountList">
				<xsd:complexType>
					tns
					<xsd:sequence>
						<xsd:element ref="retail:customerAccountListRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="loadCustomerAccountListResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="java:List" xmlns:java="http://java.basic/xsd" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getCustomerEmailAddresses">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:getCustomerEmailAddressesRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getCustomerEmailAddressesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="retail:getCustomerEmailAddressesResponse" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>

	</wsdl:types>
	<wsdl:message name="submitCustomerNameSearchRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerNameSearch" />
	</wsdl:message>
	<wsdl:message name="submitCustomerNameSearchResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerNameSearchResponse" />
	</wsdl:message>
	<wsdl:message name="submitCustomerPostCodeSearchRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerPostCodeSearch" />
	</wsdl:message>
	<wsdl:message name="submitCustomerPostCodeSearchResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerPostCodeSearchResponse" />
	</wsdl:message>
	<wsdl:message name="submitCustomerCardSearchRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerCardSearch" />
	</wsdl:message>
	<wsdl:message name="submitCustomerCardSearchResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:submitCustomerCardSearchResponse" />
	</wsdl:message>
	<wsdl:message name="loadCustomerRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:loadCustomer" />
	</wsdl:message>
	<wsdl:message name="loadCustomerResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:loadCustomerResponse" />
	</wsdl:message>
	<wsdl:message name="loadCustomerWithDataRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:loadCustomerWithData" />
	</wsdl:message>
	<wsdl:message name="loadCustomerWithDataResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:loadCustomerWithDataResponse" />
	</wsdl:message>
	<wsdl:message name="loadCustomerAccountListRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:loadCustomerAccountList" />
	</wsdl:message>
	<wsdl:message name="loadCustomerAccountListResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:loadCustomerAccountListResponse" />
	</wsdl:message>
	<wsdl:message name="getCustomerEmailAddressesRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:getCustomerEmailAddresses" />
	</wsdl:message>
	<wsdl:message name="getCustomerEmailAddressesResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:getCustomerEmailAddressesResponse" />
	</wsdl:message>
	<wsdl:portType name="CustomerServicePT">		<wsdl:operation name="submitCustomerNameSearch">
			<wsdl:input message="service:submitCustomerNameSearchRequestMessage" name="submitCustomerNameSearchRequestMessage" />
			<wsdl:output message="service:submitCustomerNameSearchResponseMessage" name="submitCustomerNameSearchResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="submitCustomerPostCodeSearch">
			<wsdl:input message="service:submitCustomerPostCodeSearchRequestMessage" name="submitCustomerPostCodeSearchRequestMessage" />
			<wsdl:output message="service:submitCustomerPostCodeSearchResponseMessage" name="submitCustomerPostCodeSearchResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="submitCustomerCardSearch">
			<wsdl:input message="service:submitCustomerCardSearchRequestMessage" name="submitCustomerCardSearchRequestMessage" />
			<wsdl:output message="service:submitCustomerCardSearchResponseMessage" name="submitCustomerCardSearchResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="loadCustomer">
			<wsdl:documentation>Loads an retail:customer given its customer number.</wsdl:documentation>
			<wsdl:input message="service:loadCustomerRequestMessage" name="loadCustomerRequestMessage" />
			<wsdl:output message="service:loadCustomerResponseMessage" name="loadCustomerResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="loadCustomerWithData">
			<wsdl:documentation>Loads a retail:customer and its data given its customer number.</wsdl:documentation>
			<wsdl:input message="service:loadCustomerWithDataRequestMessage" name="loadCustomerWithDataRequestMessage" />
			<wsdl:output message="service:loadCustomerWithDataResponseMessage" name="loadCustomerWithDataResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="loadCustomerAccountList">
			<wsdl:documentation>Loads a list of accounts.</wsdl:documentation>
			<wsdl:input message="service:loadCustomerAccountListRequestMessage" name="loadCustomerAccountListRequestMessage" />
			<wsdl:output message="service:loadCustomerAccountListResponseMessage" name="loadCustomerAccountListResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="getCustomerEmailAddresses">
			<wsdl:input message="service:getCustomerEmailAddressesRequestMessage" name="getCustomerEmailAddressesRequestMessage" />
			<wsdl:output message="service:getCustomerEmailAddressesResponseMessage" name="getCustomerEmailAddressesResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SOAPBinding" type="service:CustomerServicePT">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="submitCustomerNameSearch">
			<soap:operation soapAction="http://www.enactor.com/retail/CustomerService/submitCustomerNameSearch/soapAction" />
			<wsdl:input name="submitCustomerNameSearchRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="submitCustomerNameSearchResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitCustomerPostCodeSearch">
			<soap:operation soapAction="http://www.enactor.com/retail/CustomerService/submitCustomerPostCodeSearch/soapAction" />
			<wsdl:input name="submitCustomerPostCodeSearchRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="submitCustomerPostCodeSearchResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitCustomerCardSearch">
			<soap:operation soapAction="http://www.enactor.com/retail/CustomerService/submitCustomerCardSearch/soapAction" />
			<wsdl:input name="submitCustomerCardSearchRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="submitCustomerCardSearchResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="loadCustomer">
			<soap:operation soapAction="http://www.enactor.com/retail/CustomerService/loadCustomer/soapAction" />
			<wsdl:input name="loadCustomerRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="loadCustomerResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="loadCustomerWithData">
			<soap:operation soapAction="http://www.enactor.com/retail/CustomerService/loadCustomerWithData/soapAction" />
			<wsdl:input name="loadCustomerWithDataRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="loadCustomerWithDataResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="loadCustomerAccountList">
			<soap:operation soapAction="http://www.enactor.com/retail/CustomerService/loadCustomerAccountList/soapAction" />
			<wsdl:input name="loadCustomerAccountListRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="loadCustomerAccountListResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCustomerEmailAddresses">
			<soap:operation soapAction="http://www.enactor.com/retail/CustomerService/getCustomerEmailAddresses/soapAction" />
			<wsdl:input name="getCustomerEmailAddressesRequestMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output name="getCustomerEmailAddressesResponseMessage">
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="JavaBinding" type="service:CustomerServicePT">
		<java:binding />
		<format:typeMapping encoding="Java" style="Java">
			<format:typeMap elementName="retail:customer" formatType="com.enactor.mfc.customer.ICustomer" xmlns:retail="http://www.enactor.com/retail" />
			<format:typeMap elementName="core:applicationProcessOutcome" formatType="com.enactor.core.application.process.IApplicationProcessOutcome" xmlns:core="http://www.enactor.com/core" />
		</format:typeMapping>
		<wsdl:operation name="submitCustomerNameSearch">
			<java:operation methodType="instance" methodName="submitCustomerNameSearch" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="submitCustomerPostCodeSearch">
			<java:operation methodType="instance" methodName="submitCustomerPostCodeSearch" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="submitCustomerCardSearch">
			<java:operation methodType="instance" methodName="submitCustomerCardSearch" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="loadCustomer">
			<java:operation methodType="instance" methodName="loadCustomer" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="loadCustomerWithData">
			<java:operation methodType="instance" methodName="loadCustomerWithData" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="loadCustomerAccountList">
			<java:operation methodType="instance" methodName="loadCustomerAccountList" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="getCustomerEmailAddresses">
			<java:operation methodType="instance" methodName="getCustomerEmailAddresses" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerService">
		<wsdl:port name="SOAPPort" binding="service:SOAPBinding">
			<soap:address location="http://localhost:8080/axis2/CustomerService" />
		</wsdl:port>
		<wsdl:port name="JavaPort" binding="service:JavaBinding">
			<java:address className="com.enactor.mfc.customer.service.CustomerService" />
		</wsdl:port>
	</wsdl:service>
	<plnk:partnerLinkType name="CustomerServicePLT">
		<plnk:role name="CustomerServiceImpl">
			<plnk:portType name="service:CustomerServicePT" />
		</plnk:role>
	</plnk:partnerLinkType>
</wsdl:definitions>
