EnactorHome/pos/Data/Enactor Pos/WSDL/retail/VoucherSerialNumberService/VoucherSerialNumberService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/"
	xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" name="VoucherSerialNumberService" targetNamespace="http://www.enactor.com/retail/VoucherSerialNumberService"
	xmlns:tns="http://www.enactor.com/retail/VoucherSerialNumberService" xmlns:service="http://www.enactor.com/retail/VoucherSerialNumberService"
	xmlns:ns="http://www.enactor.com/retail/VoucherSerialNumberService" xmlns:retail="http://www.enactor.com/retail" xmlns:core="http://www.enactor.com/core">
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.enactor.com/retail/VoucherSerialNumberService">
			<xs:import namespace="http://www.enactor.com/retail" />
			<xs:import namespace="http://www.enactor.com/core" />
			<xs:element name="voucherSerialNumberServiceXMLException">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="core:XMLException">
							<xs:sequence />
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitVoucherSerialNumberUpdate">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="retail:voucherSerialNumberUpdate" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitVoucherSerialNumberUpdateResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="retail:voucherSerialNumberUpdateOutput" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitVoucherSerialNumberTrackedUpdate">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="retail:voucherSerialNumberTrackedUpdate" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitVoucherSerialNumberTrackedUpdateResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="retail:voucherSerialNumberTrackedUpdateOutput" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitVoucherSerialNumberEnquiry">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="retail:voucherSerialNumberKey" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitVoucherSerialNumberEnquiryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="retail:voucherSerialNumberEnquiryOutput" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitVoucherSerialNumberMatchingEnquiry">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="retail:voucherSerialNumberMatchingEnquiryRequest" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitVoucherSerialNumberMatchingEnquiryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="core:pagedArrayList" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitVoucherSerialNumberMatchingEntityEnquiry">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="retail:voucherSerialNumberMatchingEnquiryRequest" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitVoucherSerialNumberMatchingEntityEnquiryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="retail:voucherSerialNumber" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.enactor.com/retail" xmlns:core="http://www.enactor.com/core"
			xmlns:tns="http://www.enactor.com/retail" xmlns:retail="http://www.enactor.com/retail">
			<xs:import namespace="http://www.enactor.com/core" />
			<xs:element name="customerKey" type="tns:CustomerKey" />
			<xs:element name="voucherSerialNumber" type="tns:VoucherSerialNumber" />
			<xs:element name="voucherSerialNumberEnquiryOutput" type="tns:VoucherSerialNumberEnquiryOutput" />
			<xs:element name="voucherSerialNumberEnquiryRequest" type="tns:VoucherSerialNumberEnquiryRequest" />
			<xs:element name="voucherSerialNumberEnquiryResponse" type="tns:VoucherSerialNumberEnquiryResponse" />
			<xs:element name="voucherSerialNumberKey" type="tns:VoucherSerialNumberKey" />
			<xs:element name="voucherSerialNumberMatchingEnquiryRequest" type="tns:VoucherSerialNumberMatchingEnquiryRequest" />
			<xs:element name="voucherSerialNumberUpdate" type="tns:VoucherSerialNumberUpdate" />
			<xs:element name="voucherSerialNumberUpdateOutput" type="tns:VoucherSerialNumberUpdateOutput" />
			<xs:element name="voucherSerialNumberUpdateRequest" type="tns:VoucherSerialNumberUpdateRequest" />
			<xs:element name="voucherSerialNumberUpdateResponse" type="tns:VoucherSerialNumberUpdateResponse" />
			<xs:element name="voucherSerialNumberTrackedUpdate" type="tns:VoucherSerialNumberTrackedUpdate" />
			<xs:element name="voucherSerialNumberTrackedUpdateOutput" type="tns:VoucherSerialNumberTrackedUpdateOutput" />
			<xs:element name="voucherSerialNumberTrackedUpdateRequest" type="tns:VoucherSerialNumberTrackedUpdateRequest" />
			<xs:element name="voucherSerialNumberTrackedUpdateResponse" type="tns:VoucherSerialNumberTrackedUpdateResponse" />
			<xs:element name="voucherTypeKey" type="tns:VoucherTypeKey" />
			  <xs:complexType name="VoucherSerialNumberTrackedUpdate">
			  <xs:sequence>
			    <xs:element ref="tns:voucherSerialNumberKey"/>
			    <xs:element name="voucherValue" type="xs:long" minOccurs="0"/>
			    <xs:element name="newStatus" type="tns:VoucherSerialNumberStatus" minOccurs="0"/>
			    <xs:element name="newIssueDate" type="xs:dateTime" minOccurs="0"/>
			    <xs:element name="newExpiryDate" type="xs:dateTime" minOccurs="0"/>
			    <xs:element name="updateId" type="xs:string" minOccurs="0"/>
			    <xs:element name="currencyId" type="xs:string"/>
			    <xs:element name="newCustomerId" type="tns:CustomerKey" minOccurs="0"/>
			    <xs:element name="allowCreate" type="xs:boolean" minOccurs="0"/>
			    <xs:element name="externalReference" type="xs:string"/>
			    <xs:element name="updateExternalReference" type="xs:boolean"/>
			    <xs:element name="transactionId" type="xs:string"/>
			    <xs:element name="basketLineNumber" type="xs:integer"/>
			    <xs:element name="updateStatus" type="xs:string"/>
			  </xs:sequence>
			</xs:complexType>  
			<xs:complexType name="VoucherSerialNumberTrackedUpdateOutput">
			  <xs:sequence>
			    <xs:element name="outcome" type="core:ApplicationProcessOutcome" form="unqualified" minOccurs="0"/>
			    <xs:element name="voucherSerialNumberUpdate" type="tns:VoucherSerialNumberUpdate" form="unqualified" minOccurs="0"/>
			    <xs:element name="errorCode" type="xs:string" form="unqualified" minOccurs="0"/>
			    <xs:element name="errorMessage" type="xs:string" form="unqualified" minOccurs="0"/>
			    <xs:element name="usageLimit" type="xs:integer" minOccurs="0"/>
			    <xs:element name="currentUsage" type="xs:integer" minOccurs="0"/>
			    <xs:element name="accountBalanceUpdateId" type="xs:long" minOccurs="0"/>
			  </xs:sequence>
			</xs:complexType>
			<xs:complexType name="VoucherSerialNumberTrackedUpdateRequest">
			  <xs:sequence>
			    <xs:element name="voucherSerialNumber" type="tns:VoucherSerialNumber" minOccurs="0"/>
			  </xs:sequence>
			</xs:complexType>
			<xs:complexType name="VoucherSerialNumberTrackedUpdateResponse">
			  <xs:sequence>
			    <xs:element name="voucherSerialNumberTrackedUpdateOutput" type="tns:VoucherSerialNumberTrackedUpdateOutput" minOccurs="0"/>
			  </xs:sequence>
			</xs:complexType>			
			<xs:complexType name="VoucherSerialNumberUpdateOutput">
				<xs:sequence>
					<xs:element name="outcome" type="core:ApplicationProcessOutcome" form="unqualified" minOccurs="0" />
					<xs:element name="voucherSerialNumberUpdate" type="tns:VoucherSerialNumberUpdate" form="unqualified" minOccurs="0" />
					<xs:element name="errorCode" type="xs:string" form="unqualified" minOccurs="0" />
					<xs:element name="errorMessage" type="xs:string" form="unqualified" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VoucherSerialNumberUpdate">
				<xs:sequence>
					<xs:element ref="tns:voucherSerialNumberKey" />
					<xs:element name="voucherValue" type="xs:long" minOccurs="0" />
					<xs:element name="newStatus" type="tns:VoucherSerialNumberStatus" minOccurs="0" />
					<xs:element name="newIssueDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="newExpiryDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="updateId" type="xs:string" minOccurs="0" />
					<xs:element name="currencyId" type="xs:string" />
					<xs:element name="newCustomerId" type="tns:CustomerKey" minOccurs="0" />
					<xs:element name="allowCreate" type="xs:boolean" minOccurs="0" />
					<xs:element name="externalReference" type="xs:string" minOccurs="0" />
					<xs:element name="updateExternalReference" type="xs:boolean" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VoucherSerialNumberKey">
				<xs:complexContent>
					<xs:extension base="core:BaseEntityComplexKey">
						<xs:sequence>
							<xs:element name="voucherTypeId" type="tns:VoucherTypeKey" minOccurs="0" />
							<xs:element name="serialNumber" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="VoucherTypeKey">
				<xs:complexContent>
					<xs:extension base="core:BaseEntityComplexKey">
						<xs:sequence>
							<xs:element name="regionId" type="core:GroupKey" minOccurs="0" />
							<xs:element name="voucherTypeId" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="CustomerKey">
				<xs:simpleContent>
					<xs:extension base="core:BaseEntityKey" />
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="VoucherSerialNumberUpdateRequest">
				<xs:sequence>
					<xs:element name="voucherSerialNumber" type="tns:VoucherSerialNumber" form="unqualified" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VoucherSerialNumber">
				<xs:sequence>
					<xs:element name="lastUpdated" type="xs:dateTime" minOccurs="0" />
					<xs:element name="voucherTypeId" type="tns:VoucherTypeKey" />
					<xs:element name="serialNumber" type="xs:string" />
					<xs:element name="referenceNumber" type="xs:string" minOccurs="0" />
					<xs:element name="campaignNumber" type="xs:string" minOccurs="0" />
					<xs:element name="value" type="xs:long" minOccurs="0" />
					<xs:element name="status" type="tns:VoucherSerialNumberStatus" minOccurs="0" />
					<xs:element name="issueDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="expiryDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="currencyId" type="xs:string" />
					<xs:element name="customerId" type="tns:CustomerKey" />
					<xs:element name="externalReference" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VoucherSerialNumberEnquiryOutput">
				<xs:sequence>
					<xs:element name="outcome" type="core:ApplicationProcessOutcome" form="unqualified" minOccurs="0" />
					<xs:element name="voucherSerialNumber" type="tns:VoucherSerialNumber" form="unqualified" minOccurs="0" />
					<xs:element name="errorCode" type="xs:string" form="unqualified" minOccurs="0" />
					<xs:element name="errorMessage" type="xs:string" form="unqualified" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VoucherSerialNumberEnquiryResponse">
				<xs:sequence>
					<xs:element name="voucherSerialNumberEnquiryOutput" type="tns:VoucherSerialNumberEnquiryOutput" form="unqualified" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VoucherSerialNumberEnquiryRequest">
				<xs:sequence>
					<xs:element name="voucherSerialNumberId" type="tns:VoucherSerialNumberKey" form="unqualified" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VoucherSerialNumberUpdateResponse">
				<xs:sequence>
					<xs:element name="voucherSerialNumberUpdateOutput" type="tns:VoucherSerialNumberUpdateOutput" form="unqualified" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VoucherSerialNumberMatchingEnquiryRequest">
				<xs:sequence>
					<xs:element name="regionId" type="core:GroupKey" form="unqualified" minOccurs="0" />
					<xs:element name="serialNumber" type="xs:string" form="unqualified" minOccurs="0" />
					<xs:element name="serialNumberStatus" type="xs:string" form="unqualified" minOccurs="0" />
					<xs:element name="customerId" type="tns:CustomerKey" form="unqualified" minOccurs="0" />
					<xs:element name="externalReference" type="xs:string" form="unqualified" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="VoucherSerialNumberStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="NEW" />
					<xs:enumeration value="ISSUED" />
					<xs:enumeration value="REDEEMED" />
					<xs:enumeration value="VOIDED" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.enactor.com/core" xmlns:core="http://www.enactor.com/core"
			xmlns:tns="http://www.enactor.com/core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="applicationProcessOutcome" type="tns:ApplicationProcessOutcome" />
			<xs:element name="dataList" type="tns:dataList" />
			<xs:element name="groupKey" type="tns:GroupKey" />
			<xs:element name="pageableArrayList" type="tns:pageableArrayList" />
			<xs:element name="pagedArrayList" type="tns:pagedArrayList" />
			<xs:complexType name="ApplicationProcessOutcome">
				<xs:sequence />
				<xs:attribute name="name" type="xs:string" />
			</xs:complexType>
			<xs:complexType name="BaseEntityComplexKey" abstract="true">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="GroupKey">
				<xs:simpleContent>
					<xs:extension base="tns:BaseEntityKey">
						<xs:attribute name="groupTypeId" type="xs:string" />
						<xs:attribute name="groupHierarchyId" type="xs:string" />
						<xs:attribute name="variantGroupTypeId" type="xs:string" />
						<xs:attribute name="variantGroupId" type="xs:string" />
						<xs:attribute name="variantGroupHierarchyId" type="xs:string" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="BaseEntityKey">
				<xs:restriction base="xs:string" />
			</xs:simpleType>
			<xs:complexType name="XMLException">
				<xs:sequence>
					<xs:element minOccurs="0" name="cause" nillable="true" type="xs:anyType" />
					<xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="errorData" nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="pagedArrayList">
				<xs:complexContent>
					<xs:extension base="tns:dataList">
						<xs:sequence />
						<xs:attribute name="totalRows" type="xs:int" use="required" />
						<xs:attribute name="currentRowOffset" type="xs:int" use="required" />
						<xs:attribute name="rowsPerPage" type="xs:int" use="required" />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="dataList">
				<xs:complexContent>
					<xs:extension base="tns:jaxbFriendlyList">
						<xs:sequence>
							<xs:element name="propertyNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="indentationLevelProperty" type="xs:string" minOccurs="0" />
							<xs:element name="indentationHint" type="xs:string" minOccurs="0" />
							<xs:element name="columnNames" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="pageableArrayList">
				<xs:complexContent>
					<xs:extension base="tns:jaxbFriendlyList">
						<xs:sequence>
							<xs:element name="currentPage" type="xs:int" />
							<xs:element name="rowOffset" type="xs:int" />
							<xs:element name="pageSize" type="xs:int" />
							<xs:element name="totalPages" type="xs:int" />
							<xs:element name="totalRows" type="xs:int" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="jaxbFriendlyList">
				<xs:sequence>
					<xs:element name="contents" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="voucherSerialNumberServiceXMLException">
		<wsdl:part name="parameters" element="ns:voucherSerialNumberServiceXMLException" />
	</wsdl:message>
	<wsdl:message name="submitVoucherSerialNumberUpdateRequest">
		<wsdl:part name="parameters" element="ns:submitVoucherSerialNumberUpdate" />
	</wsdl:message>
	<wsdl:message name="submitVoucherSerialNumberUpdateResponse">
		<wsdl:part name="parameters" element="ns:submitVoucherSerialNumberUpdateResponse" />
	</wsdl:message>
	<wsdl:message name="submitVoucherSerialNumberUpdateTrackedRequest">
		<wsdl:part name="parameters" element="ns:submitVoucherSerialNumberTrackedUpdate" />
	</wsdl:message>
	<wsdl:message name="submitVoucherSerialNumberTrackedUpdateResponse">
		<wsdl:part name="parameters" element="ns:submitVoucherSerialNumberTrackedUpdateResponse" />
	</wsdl:message>
	<wsdl:message name="submitVoucherSerialNumberEnquiryRequest">
		<wsdl:part name="parameters" element="ns:submitVoucherSerialNumberEnquiry" />
	</wsdl:message>
	<wsdl:message name="submitVoucherSerialNumberEnquiryResponse">
		<wsdl:part name="parameters" element="ns:submitVoucherSerialNumberEnquiryResponse" />
	</wsdl:message>
	<wsdl:message name="submitVoucherSerialNumberMatchingEnquiryRequest">
		<wsdl:part name="parameters" element="ns:submitVoucherSerialNumberMatchingEnquiry" />
	</wsdl:message>
	<wsdl:message name="submitVoucherSerialNumberMatchingEnquiryResponse">
		<wsdl:part name="parameters" element="ns:submitVoucherSerialNumberMatchingEnquiryResponse" />
	</wsdl:message>
	<wsdl:message name="submitVoucherSerialNumberMatchingEntityEnquiryRequest">
		<wsdl:part name="parameters" element="ns:submitVoucherSerialNumberMatchingEntityEnquiry" />
	</wsdl:message>
	<wsdl:message name="submitVoucherSerialNumberMatchingEntityEnquiryResponse">
		<wsdl:part name="parameters" element="ns:submitVoucherSerialNumberMatchingEntityEnquiryResponse" />
	</wsdl:message>
	<wsdl:portType name="VoucherSerialNumberServicePortType">
		<wsdl:operation name="submitVoucherSerialNumberEnquiry">
			<wsdl:input message="tns:submitVoucherSerialNumberEnquiryRequest" wsaw:Action="urn:submitVoucherSerialNumberEnquiry" />
			<wsdl:output message="tns:submitVoucherSerialNumberEnquiryResponse" wsaw:Action="urn:submitVoucherSerialNumberEnquiryResponse" />
			<wsdl:fault message="tns:voucherSerialNumberServiceXMLException" name="VoucherSerialNumberServiceXMLException"
				wsaw:Action="urn:submitVoucherSerialNumberEnquiryVoucherSerialNumberServiceXMLException" />
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberUpdate">
			<wsdl:input message="tns:submitVoucherSerialNumberUpdateRequest" wsaw:Action="urn:submitVoucherSerialNumberUpdate" />
			<wsdl:output message="tns:submitVoucherSerialNumberUpdateResponse" wsaw:Action="urn:submitVoucherSerialNumberUpdateResponse" />
			<wsdl:fault message="tns:voucherSerialNumberServiceXMLException" name="VoucherSerialNumberServiceXMLException"
				wsaw:Action="urn:submitVoucherSerialNumberUpdateVoucherSerialNumberServiceXMLException" />
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberTrackedUpdate">
			<wsdl:input message="tns:submitVoucherSerialNumberTrackedUpdateRequest" wsaw:Action="urn:submitVoucherSerialNumberTrackedUpdate" />
			<wsdl:output message="tns:submitVoucherSerialNumberTrackedUpdateResponse" wsaw:Action="urn:submitVoucherSerialNumberTrackedUpdateResponse" />
			<wsdl:fault message="tns:voucherSerialNumberServiceXMLException" name="VoucherSerialNumberServiceXMLException"
				wsaw:Action="urn:submitVoucherSerialNumberTrackedUpdateVoucherSerialNumberServiceXMLException" />
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberMatchingEntityEnquiry">
			<wsdl:input message="tns:submitVoucherSerialNumberMatchingEntityEnquiryRequest" wsaw:Action="urn:submitVoucherSerialNumberMatchingEntityEnquiry" />
			<wsdl:output message="tns:submitVoucherSerialNumberMatchingEntityEnquiryResponse" wsaw:Action="urn:submitVoucherSerialNumberMatchingEntityEnquiryResponse" />
			<wsdl:fault message="tns:voucherSerialNumberServiceXMLException" name="VoucherSerialNumberServiceXMLException"
				wsaw:Action="urn:submitVoucherSerialNumberMatchingEntityEnquiryVoucherSerialNumberServiceXMLException" />
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberMatchingEnquiry">
			<wsdl:input message="tns:submitVoucherSerialNumberMatchingEnquiryRequest" wsaw:Action="urn:submitVoucherSerialNumberMatchingEnquiry" />
			<wsdl:output message="tns:submitVoucherSerialNumberMatchingEnquiryResponse" wsaw:Action="urn:submitVoucherSerialNumberMatchingEnquiryResponse" />
			<wsdl:fault message="tns:voucherSerialNumberServiceXMLException" name="VoucherSerialNumberServiceXMLException"
				wsaw:Action="urn:submitVoucherSerialNumberMatchingEnquiryVoucherSerialNumberServiceXMLException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="VoucherSerialNumberServiceSoap11Binding" type="tns:VoucherSerialNumberServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="submitVoucherSerialNumberEnquiry">
			<soap:operation soapAction="urn:submitVoucherSerialNumberEnquiry" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="VoucherSerialNumberServiceXMLException">
				<soap:fault use="literal" name="VoucherSerialNumberServiceXMLException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberUpdate">
			<soap:operation soapAction="urn:submitVoucherSerialNumberUpdate" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="VoucherSerialNumberServiceXMLException">
				<soap:fault use="literal" name="VoucherSerialNumberServiceXMLException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberTrackedUpdate">
			<soap:operation soapAction="urn:submitVoucherSerialNumberTrackedUpdate" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="VoucherSerialNumberServiceXMLException">
				<soap:fault use="literal" name="VoucherSerialNumberServiceXMLException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberMatchingEntityEnquiry">
			<soap:operation soapAction="urn:submitVoucherSerialNumberMatchingEntityEnquiry" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="VoucherSerialNumberServiceXMLException">
				<soap:fault use="literal" name="VoucherSerialNumberServiceXMLException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberMatchingEnquiry">
			<soap:operation soapAction="urn:submitVoucherSerialNumberMatchingEnquiry" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="VoucherSerialNumberServiceXMLException">
				<soap:fault use="literal" name="VoucherSerialNumberServiceXMLException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="VoucherSerialNumberServiceSoap12Binding" type="tns:VoucherSerialNumberServicePortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="submitVoucherSerialNumberEnquiry">
			<soap12:operation soapAction="urn:submitVoucherSerialNumberEnquiry" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="VoucherSerialNumberServiceXMLException">
				<soap12:fault use="literal" name="VoucherSerialNumberServiceXMLException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberUpdate">
			<soap12:operation soapAction="urn:submitVoucherSerialNumberUpdate" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="VoucherSerialNumberServiceXMLException">
				<soap12:fault use="literal" name="VoucherSerialNumberServiceXMLException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberTrackedUpdate">
			<soap12:operation soapAction="urn:submitVoucherSerialNumberTrackedUpdate" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="VoucherSerialNumberServiceXMLException">
				<soap12:fault use="literal" name="VoucherSerialNumberServiceXMLException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberMatchingEntityEnquiry">
			<soap12:operation soapAction="urn:submitVoucherSerialNumberMatchingEntityEnquiry" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="VoucherSerialNumberServiceXMLException">
				<soap12:fault use="literal" name="VoucherSerialNumberServiceXMLException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberMatchingEnquiry">
			<soap12:operation soapAction="urn:submitVoucherSerialNumberMatchingEnquiry" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="VoucherSerialNumberServiceXMLException">
				<soap12:fault use="literal" name="VoucherSerialNumberServiceXMLException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="VoucherSerialNumberServiceHttpBinding" type="tns:VoucherSerialNumberServicePortType">
		<http:binding verb="POST" />
		<wsdl:operation name="submitVoucherSerialNumberEnquiry">
			<http:operation location="submitVoucherSerialNumberEnquiry" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberUpdate">
			<http:operation location="submitVoucherSerialNumberUpdate" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberTrackedUpdate">
			<http:operation location="submitVoucherSerialNumberTrackedUpdate" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberMatchingEntityEnquiry">
			<http:operation location="submitVoucherSerialNumberMatchingEntityEnquiry" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitVoucherSerialNumberMatchingEnquiry">
			<http:operation location="submitVoucherSerialNumberMatchingEnquiry" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VoucherSerialNumberService">
		<wsdl:port name="VoucherSerialNumberServiceHttpSoap11Endpoint" binding="tns:VoucherSerialNumberServiceSoap11Binding">
			<soap:address location="http://localhost:8080/axis2/services/VoucherSerialNumberService.VoucherSerialNumberServiceHttpSoap11Endpoint/" />
		</wsdl:port>
		<wsdl:port name="VoucherSerialNumberServiceHttpSoap12Endpoint" binding="tns:VoucherSerialNumberServiceSoap12Binding">
			<soap12:address location="http://localhost:8080/axis2/services/VoucherSerialNumberService.VoucherSerialNumberServiceHttpSoap12Endpoint/" />
		</wsdl:port>
		<wsdl:port name="VoucherSerialNumberServiceHttpEndpoint" binding="tns:VoucherSerialNumberServiceHttpBinding">
			<http:address location="http://localhost:8080/axis2/services/VoucherSerialNumberService.VoucherSerialNumberServiceHttpEndpoint/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>