EnactorHome/pos/Data/Enactor Pos/WSDL/CRM/CustomerLoyaltyService/CustomerLoyaltyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/"
	xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="CustomerLoyaltyService" targetNamespace="http://www.enactor.com/crm/customerLoyalty/service" xmlns:service="http://www.enactor.com/crm/customerLoyalty/service"
	xmlns:core="http://www.enactor.com/core">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.enactor.com/crm/customerLoyalty/service" schemaLocation="CRM/CustomerLoyaltyService/CustomerLoyaltyService.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.enactor.com/core" schemaLocation="Core/Core.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="customerLoyaltyDetailRequestMessage">
		<wsdl:part name="parameters" element="service:customerLoyaltyDetail" />
	</wsdl:message>
	<wsdl:message name="customerLoyaltyDetailResponseMessage">
		<wsdl:part name="parameters" element="service:customerLoyaltyDetailResponse" />
	</wsdl:message>
	<wsdl:message name="databaseException">
		<wsdl:part name="databaseException" element="core:databaseException" />
	</wsdl:message>
	<wsdl:message name="noSuchRecordException">
		<wsdl:part name="noSuchRecordException" element="core:noSuchRecordException" />
	</wsdl:message>
	<wsdl:message name="customerLoyaltyDetailFault">
		<wsdl:part name="customerLoyaltyDetailFault" element="service:customerLoyaltyDetailFault" />
	</wsdl:message>
	<wsdl:portType name="CustomerLoyaltyServicePT">
		<wsdl:documentation>This service is used to enquire about customer loyalty information</wsdl:documentation>
		<wsdl:operation name="customerLoyaltyDetail">
			<wsdl:documentation>This operation is used to retrieve customer loyalty information given a customer number.

				The user id is the id of the user performing the enquiry, and if necessary can be used to restrict the view on the
				returned data.

				MaxHits is used to restrict the number of returned records. If more records are returned this will in general
				not cause an error, however the extra data is likely to be ignored.
			</wsdl:documentation>
			<wsdl:input message="service:customerLoyaltyDetailRequestMessage" name="customerLoyaltyDetailRequestMessage" />
			<wsdl:output message="service:customerLoyaltyDetailResponseMessage" name="customerLoyaltyDetailResponseMessage" />
			<wsdl:fault name="databaseException" message="service:databaseException"></wsdl:fault>
			<wsdl:fault name="noSuchRecordException" message="service:noSuchRecordException"></wsdl:fault>
			<wsdl:fault name="customerLoyaltyDetailFault" message="service:customerLoyaltyDetailFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SOAPBinding" type="service:CustomerLoyaltyServicePT">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="customerLoyaltyDetail">
			<soap:operation soapAction="http://www.enactor.com/crm/customerLoyalty/service/customerLoyaltyDetail" />
			<wsdl:input name="customerLoyaltyDetailRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="customerLoyaltyDetailResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerLoyaltyService">
		<wsdl:port name="SOAPPort" binding="service:SOAPBinding">
			<soap:address location="http://{SERVICE_URL}" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
