EnactorHome/pos/Data/Enactor Pos/WSDL/AddressLookup/Service/AddressLookupInternalService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
	xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="AddressLookupInternalService" targetNamespace="http://www.enactor.com/addressLookup/service" xmlns:service="http://www.enactor.com/addressLookup/service" xmlns:core="http://www.enactor.com/core">
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.enactor.com/addressLookup/service" schemaLocation="AddressLookup/Service/AddressLookupServiceTypes.xsd"/>
         <xsd:import namespace="http://www.enactor.com/core" schemaLocation="Core/Core.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="searchRequestMessage">
      <wsdl:part name="parameters" element="service:search"/>
   </wsdl:message>
   <wsdl:message name="searchResponseMessage">
      <wsdl:part name="parameters" element="service:searchResponse"/>
   </wsdl:message>
   <wsdl:message name="searchAddressFault">
      <wsdl:part name="searchAddressFault" element="service:searchAddressFault"/>
   </wsdl:message>
   <wsdl:message name="loadRequestMessage">
      <wsdl:part name="parameters" element="service:load"/>
   </wsdl:message>
   <wsdl:message name="loadResponseMessage">
      <wsdl:part name="parameters" element="service:loadResponse"/>
   </wsdl:message>
   <wsdl:message name="loadAddressRequestMessage">
      <wsdl:part name="parameters" element="service:loadAddress"/>
   </wsdl:message>
   <wsdl:message name="loadAddressResponseMessage">
      <wsdl:part name="parameters" element="service:loadAddressResponse"/>
   </wsdl:message>
   <wsdl:message name="loadAddressFault">
      <wsdl:part name="loadAddressFault" element="service:loadAddressFault"/>
   </wsdl:message>
	<wsdl:message name="noSuchRecordException">
		<wsdl:part name="noSuchRecordException" element="core:noSuchRecordException" />
	</wsdl:message>
   <wsdl:portType name="AddressLookupInternalServicePT">
      <wsdl:operation name="search">
         <wsdl:documentation>Returns a list of AddressListItems matching the given criteria</wsdl:documentation>
         <wsdl:input message="service:searchRequestMessage" name="searchRequestMessage"/>
         <wsdl:output message="service:searchResponseMessage" name="searchResponseMessage"/>
         <wsdl:fault name="searchAddressFault" message="service:searchAddressFault"/>
      </wsdl:operation>
      <wsdl:operation name="load">
         <wsdl:documentation>Loads an mfc:postalAddress given its ID.</wsdl:documentation>
         <wsdl:input message="service:loadRequestMessage" name="loadRequestMessage"/>
         <wsdl:output message="service:loadResponseMessage" name="loadResponseMessage"/>
         <wsdl:fault name="loadAddressFault" message="service:loadAddressFault"/>
	 	 <wsdl:fault name="noSuchRecordException" message="service:noSuchRecordException"/>
      </wsdl:operation>
      <wsdl:operation name="loadAddress">
         <wsdl:documentation>Loads an mfc:address given its ID. This is a convenience method which converts an postalAddress to an address on the server side.</wsdl:documentation>
         <wsdl:input message="service:loadAddressRequestMessage" name="loadAddressRequestMessage"/>
         <wsdl:output message="service:loadAddressResponseMessage" name="loadAddressResponseMessage"/>
         <wsdl:fault name="loadAddressFault" message="service:loadAddressFault"/>
         <wsdl:fault name="noSuchRecordException" message="service:noSuchRecordException"/>
         </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SOAPBinding" type="service:AddressLookupInternalServicePT">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="search">
         <soap:operation soapAction="http://www.enactor.com/addressLookup/service/AddressLookupInternalService/soapAction"/>
         <wsdl:input name="searchRequestMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output name="searchResponseMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="searchAddressFault">
            <soap:fault use="literal" name="searchAddressFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="load">
         <soap:operation soapAction="http://www.enactor.com/addressLookup/service/AddressLookupInternalService/soapAction"/>
         <wsdl:input name="loadRequestMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output name="loadResponseMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="loadAddressFault">
            <soap:fault use="literal" name="loadAddressFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="loadAddress">
         <soap:operation soapAction="http://www.enactor.com/addressLookup/service/AddressLookupInternalService/soapAction"/>
         <wsdl:input name="loadAddressRequestMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output name="loadAddressResponseMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="loadAddressFault">
            <soap:fault use="literal" name="loadAddressFault"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="AddressLookupInternalService">
      <wsdl:documentation>Provides an address lookup service using the internal postal address database.</wsdl:documentation>
      <wsdl:port name="SOAPPort" binding="service:SOAPBinding">
         <soap:address location="http://{SERVICE_URL}/AddressLookupInternalService"/>
      </wsdl:port>
      <wsdl:port name="JavaPort" binding="service:JavaBinding">
         <java:address className="com.enactor.addressLookup.service.AddressLookupInternalService"/>
      </wsdl:port>
   </wsdl:service>
   <plnk:partnerLinkType name="AddressLookupInternalServicePLT">
      <plnk:role name="AddressLookupInternalServiceImpl">
         <plnk:portType name="service:AddressLookupInternalServicePT"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
