EnactorHome/estateManager/Data/GenericActivityFlow_v1.0/WSDL/task/TaskManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:htd="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/200803" xmlns:htt="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/types/200803"
	xmlns:htdapi="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/api/200803" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.enactor.com/core"
	xmlns:tns="http://www.enactor.com/core" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
	<wsdl:import location="External/ws-humantask-api-V42.wsdl" namespace="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/api/200803">
	</wsdl:import>

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.enactor.com/core" schemaLocation="Task/Task.xsd"></xsd:import>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="initTaskRequestMessage">
		<wsdl:part name="parameters" element="tns:initTask"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="initTaskResponseMessage">
		<wsdl:part name="parameters" element="tns:initTaskResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="initNotificationRequestMessage">
		<wsdl:part name="parameters" element="tns:initNotification"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="initNotificationResponseMessage">
		<wsdl:part name="parameters" element="tns:initNotificationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="initTaskAdvancedRequestMessage">
		<wsdl:part name="parameters" element="tns:initTaskAdvanced"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="initTaskAdvancedResponseMessage">
		<wsdl:part name="parameters" element="tns:initTaskAdvancedResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="canPerformRequestMessage">
		<wsdl:part name="parameters" element="tns:canPerform"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="canPerformResponseMessage">
		<wsdl:part name="parameters" element="tns:canPerformResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="exit">
		<wsdl:part name="exit" element="exit" />
	</wsdl:message>

	<wsdl:message name="exitResponse">
		<wsdl:part name="exitResponse" element="exitResponse" />
	</wsdl:message>


	<!-- Declaration of fault messages -->
	<wsdl:message name="taskException">
		<wsdl:part name="taskException" element="tns:taskException" />
	</wsdl:message>
	<wsdl:message name="taskInitiationException">
		<wsdl:part name="taskInitiationException" element="tns:taskInitiationException" />
	</wsdl:message>
	<wsdl:portType name="TaskManagerPT">
		<wsdl:operation name="initTask">
			<wsdl:input message="tns:initTaskRequestMessage"></wsdl:input>
			<wsdl:output message="tns:initTaskResponseMessage"></wsdl:output>
			<wsdl:fault name="taskException" message="tns:taskException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="initTaskAdvanced">
			<wsdl:input message="tns:initTaskAdvancedRequestMessage"></wsdl:input>
			<wsdl:output message="tns:initTaskAdvancedResponseMessage"></wsdl:output>
			<wsdl:fault name="taskException" message="tns:taskException"></wsdl:fault>
			<wsdl:fault name="taskInitiationException" message="tns:taskInitiationException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="initNotification">
			<wsdl:input message="tns:initNotificationRequestMessage"></wsdl:input>
			<wsdl:output message="tns:initNotificationResponseMessage"></wsdl:output>
			<wsdl:fault name="taskException" message="tns:taskException"></wsdl:fault>
			<wsdl:fault name="taskInitiationException" message="tns:taskInitiationException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="canPerform">
			<wsdl:input message="tns:canPerformRequestMessage"></wsdl:input>
			<wsdl:output message="tns:canPerformResponseMessage"></wsdl:output>
			<wsdl:fault name="taskException" message="tns:taskException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exit">
			<wsdl:input message="exit" />
			<wsdl:output message="exitResponse" />
			<wsdl:fault name="illegalStateFault" message="illegalStateFault" />
			<wsdl:fault name="illegalArgumentFault" message="illegalArgumentFault" />
			<wsdl:fault name="illegalAccessFault" message="illegalAccessFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SOAP11Binding" type="htdapi:taskOperations">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="getMyTasks">
			<soap:operation soapAction="urn:getMyTasks" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="illegalStateFault">
				<soap:fault name="illegalStateFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="illegalArgumentFault">
				<soap:fault name="illegalArgumentFault" use="literal" />
			</wsdl:fault>

		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SOAP11BindingTaskManger" type="tns:TaskManagerPT">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="initTask">
			<soap:operation soapAction="urn:initTask" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="taskException">
				<soap:fault name="taskException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="initTaskAdvanced">
			<soap:operation soapAction="urn:initTaskAdvanced" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="taskException">
				<soap:fault name="taskException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="taskInitiationException">
				<soap:fault name="taskIntiationException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="initNotification">
			<soap:operation soapAction="urn:initNotification" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="taskException">
				<soap:fault name="taskException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="taskInitiationException">
				<soap:fault name="taskIntiationException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="canPerform">
			<soap:operation soapAction="urn:canPerform" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="taskException">
				<soap:fault name="taskException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="TaskManagerService">
		<wsdl:port name="SOAP11port" binding="tns:SOAP11Binding">
			<soap:address location="http://localhost:8080/axis2/services/TaskManagerService" />
		</wsdl:port>
		<wsdl:port name="SOAP11TaskManagerPort" binding="tns:SOAP11BindingTaskManger">
			<soap:address location="http://localhost:8080/axis2/services/TaskManagerService" />
		</wsdl:port>
	</wsdl:service>
	<plnk:partnerLinkType name="TaskManagerPLT">
		<plnk:role name="TaskManagerServiceImpl">
			<plnk:portType name="tns:TaskManagerPT" />
		</plnk:role>
	</plnk:partnerLinkType>
</wsdl:definitions>