EnactorHome/pos/Data/Enactor Pos/WSDL/retail/RetailTransactionArchiveService/RetailTransactionArchiveService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" name="RetailTransactionArchiveService" targetNamespace="http://www.enactor.com/retail/RetailTransactionArchiveService" xmlns:service="http://www.enactor.com/retail/RetailTransactionArchiveService" xmlns:serviceTypes="http://www.enactor.com/retail/RetailTransactionArchiveService/Types" xmlns:mfc="http://www.enactor.com/mfc">
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.enactor.com/retail/RetailTransactionArchiveService/Types" schemaLocation="retail/RetailTransactionArchiveService/Types/RetailTransactionArchiveServiceTypes.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="submitRetailTransactionArchiveSearchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitRetailTransactionArchiveSearch"/>
   </wsdl:message>
   <wsdl:message name="submitRetailTransactionArchiveSearchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitRetailTransactionArchiveSearchResponse"/>
   </wsdl:message>
   <wsdl:message name="submitRetailTransactionArchiveLoadRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitRetailTransactionArchiveLoad"/>
   </wsdl:message>
   <wsdl:message name="submitRetailTransactionArchiveLoadResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitRetailTransactionArchiveLoadResponse"/>
   </wsdl:message>
   <wsdl:message name="submitRetailTransactionArchiveSaveRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitRetailTransactionArchiveSave"/>
   </wsdl:message>
   <wsdl:message name="submitRetailTransactionArchiveSaveResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitRetailTransactionArchiveSaveResponse"/>
   </wsdl:message>
   <wsdl:portType name="RetailTransactionArchiveServicePT">
      <wsdl:operation name="submitRetailTransactionArchiveSearch">
         <wsdl:input message="service:submitRetailTransactionArchiveSearchRequestMessage" name="submitRetailTransactionArchiveSearchRequestMessage"/>
         <wsdl:output message="service:submitRetailTransactionArchiveSearchResponseMessage" name="submitRetailTransactionArchiveSearchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitRetailTransactionArchiveLoad">
         <wsdl:input message="service:submitRetailTransactionArchiveLoadRequestMessage" name="submitRetailTransactionArchiveLoadRequestMessage"/>
         <wsdl:output message="service:submitRetailTransactionArchiveLoadResponseMessage" name="submitRetailTransactionArchiveLoadResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitRetailTransactionArchiveSave">
         <wsdl:input message="service:submitRetailTransactionArchiveSaveRequestMessage" name="submitRetailTransactionArchiveSaveRequestMessage"/>
         <wsdl:output message="service:submitRetailTransactionArchiveSaveResponseMessage" name="submitRetailTransactionArchiveSaveResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SOAPBinding" type="service:RetailTransactionArchiveServicePT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="submitRetailTransactionArchiveSearch">
         <soap:operation soapAction="http://www.enactor.com/retail/RetailTransactionArchiveService/submitRetailTransactionArchiveSearch/soapAction"/>
         <wsdl:input name="submitRetailTransactionArchiveSearchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitRetailTransactionArchiveSearchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitRetailTransactionArchiveLoad">
         <soap:operation soapAction="http://www.enactor.com/retail/RetailTransactionArchiveService/submitRetailTransactionArchiveLoad/soapAction"/>
         <wsdl:input name="submitRetailTransactionArchiveLoadRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitRetailTransactionArchiveLoadResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitRetailTransactionArchiveSave">
         <soap:operation soapAction="http://www.enactor.com/retail/RetailTransactionArchiveService/submitRetailTransactionArchiveSave/soapAction"/>
         <wsdl:input name="submitRetailTransactionArchiveSaveRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitRetailTransactionArchiveSaveResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="JavaBinding" type="service:RetailTransactionArchiveServicePT">
      <java:binding/>
      <format:typeMapping encoding="Java" style="Java">
         <format:typeMap elementName="mfc:retailTransactionArchiveSearch" formatType="com.enactor.mfc.retailTransactionArchive.IRetailTransactionArchive" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="mfc:retailTransactionArchive" formatType="com.enactor.mfc.retailTransactionArchive.IRetailTransactionArchive" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="core:applicationProcessOutcome" formatType="com.enactor.core.application.process.IApplicationProcessOutcome" xmlns:core="http://www.enactor.com/core"/>
      </format:typeMapping>
      <wsdl:operation name="submitRetailTransactionArchiveSearch">
         <java:operation methodType="instance" methodName="submitRetailTransactionArchiveSearch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitRetailTransactionArchiveLoad">
         <java:operation methodType="instance" methodName="submitRetailTransactionArchiveLoad"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitRetailTransactionArchiveSave">
         <java:operation methodType="instance" methodName="submitRetailTransactionArchiveSave"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="RetailTransactionArchiveService">
      <wsdl:port name="SOAPPort" binding="service:SOAPBinding">
         <soap:address location="http://localhost:8080/axis2/RetailTransactionArchiveService"/>
      </wsdl:port>
      <wsdl:port name="JavaPort" binding="service:JavaBinding">
         <java:address className="com.enactor.mfc.retailTransactionArchive.service.RetailTransactionArchiveService"/>
      </wsdl:port>
   </wsdl:service>
   <plnk:partnerLinkType name="RetailTransactionArchiveServicePLT">
      <plnk:role name="RetailTransactionArchiveServiceImpl">
         <plnk:portType name="service:RetailTransactionArchiveServicePT"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
