EnactorHome/pos/Data/Enactor Pos/WSDL/retail/ProductCatalogueSearchService/ProductCatalogueSearchService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" name="ProductCatalogueSearchService" targetNamespace="http://www.enactor.com/retail/ProductCatalogueSearchService" xmlns:service="http://www.enactor.com/retail/ProductCatalogueSearchService" xmlns:serviceTypes="http://www.enactor.com/retail/ProductCatalogueSearchService/Types" xmlns:mfc="http://www.enactor.com/mfc">
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.enactor.com/retail/ProductCatalogueSearchService/Types" schemaLocation="retail/ProductCatalogueSearchService/Types/ProductCatalogueSearchServiceTypes.xsd"/>
      </xsd:schema>
   </wsdl:types>
   
   <wsdl:message name="productSearchRequest">
      <wsdl:part name="parameters" element="service:productSearchRequest"/>
   </wsdl:message>
   
   <wsdl:message name="productSearchResponse">
      <wsdl:part name="parameters" element="service:productSearchResponse"/>
   </wsdl:message>
   
   <wsdl:message name="productLoadRequest">
      <wsdl:part name="parameters" element="service:productLoadRequest"/>
   </wsdl:message>
   
   <wsdl:message name="productLoadResponse">
      <wsdl:part name="parameters" element="service:productLoadResponse"/>
   </wsdl:message>
   
   <wsdl:portType name="ProductCatalogueSearchServicePT">
      <wsdl:operation name="searchProducts">
         <wsdl:input message="service:productSearchRequest" name="productSearchRequest"/>
         <wsdl:output message="service:productSearchResponse" name="productSearchResponse"/>
      </wsdl:operation>
      <wsdl:operation name="loadProduct">
         <wsdl:input message="service:productLoadRequest" name="productLoadRequest"/>
         <wsdl:output message="service:productLoadResponse" name="productLoadResponse"/>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="SOAPBinding" type="service:ProductCatalogueSearchServicePT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="searchProducts">
         <soap:operation soapAction="http://www.enactor.com/retail/ProductCatalogueSearchService/searchProducts/soapAction"/>
         <wsdl:input name="ProductSearchRequest">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="ProductSearchResponse">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="loadProduct">
         <soap:operation soapAction="http://www.enactor.com/retail/ProductCatalogueSearchService/loadProduct/soapAction"/>
         <wsdl:input name="ProductLoadRequest">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="ProductLoadResponse">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
    </wsdl:binding>
    
   <wsdl:service name="ProductCatalogueSearchService">
      <wsdl:port name="SOAPPort" binding="service:SOAPBinding">
         <soap:address location="http://localhost:8080/axis2/ProductCatalogueSearchService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
