EnactorHome/pos/Data/Enactor Pos/WSDL/retail/RepairService/RepairService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" name="RepairService" targetNamespace="http://www.enactor.com/retail/RepairService" xmlns:service="http://www.enactor.com/retail/RepairService" xmlns:serviceTypes="http://www.enactor.com/retail/RepairService/Types" xmlns:mfc="http://www.enactor.com/mfc">
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.enactor.com/retail/RepairService/Types" schemaLocation="retail/RepairService/Types/RepairServiceTypes.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="submitRepairSearchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitRepairSearch"/>
   </wsdl:message>
   <wsdl:message name="submitRepairSearchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitRepairSearchResponse"/>
   </wsdl:message>
   <wsdl:message name="submitRepairLoadRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitRepairLoad"/>
   </wsdl:message>
   <wsdl:message name="submitRepairLoadResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitRepairLoadResponse"/>
   </wsdl:message>
   <wsdl:portType name="RepairServicePT">
      <wsdl:operation name="submitRepairSearch">
         <wsdl:input message="service:submitRepairSearchRequestMessage" name="submitRepairSearchRequestMessage"/>
         <wsdl:output message="service:submitRepairSearchResponseMessage" name="submitRepairSearchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitRepairLoad">
         <wsdl:input message="service:submitRepairLoadRequestMessage" name="submitRepairLoadRequestMessage"/>
         <wsdl:output message="service:submitRepairLoadResponseMessage" name="submitRepairLoadResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SOAPBinding" type="service:RepairServicePT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="submitRepairSearch">
         <soap:operation soapAction="http://www.enactor.com/retail/RepairService/submitRepairSearch/soapAction"/>
         <wsdl:input name="submitRepairSearchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitRepairSearchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitRepairLoad">
         <soap:operation soapAction="http://www.enactor.com/retail/RepairService/submitRepairLoad/soapAction"/>
         <wsdl:input name="submitRepairLoadRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitRepairLoadResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="JavaBinding" type="service:RepairServicePT">
      <java:binding/>
      <format:typeMapping encoding="Java" style="Java">
         <format:typeMap elementName="mfc:repairSearch" formatType="com.enactor.mfc.repair.IRepair" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="mfc:repair" formatType="com.enactor.mfc.repair.IRepair" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="core:applicationProcessOutcome" formatType="com.enactor.core.application.process.IApplicationProcessOutcome" xmlns:core="http://www.enactor.com/core"/>
      </format:typeMapping>
      <wsdl:operation name="submitRepairSearch">
         <java:operation methodType="instance" methodName="submitRepairSearch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitRepairLoad">
         <java:operation methodType="instance" methodName="submitRepairLoad"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="RepairService">
      <wsdl:port name="SOAPPort" binding="service:SOAPBinding">
         <soap:address location="http://localhost:8080/axis2/RepairService"/>
      </wsdl:port>
      <wsdl:port name="JavaPort" binding="service:JavaBinding">
         <java:address className="com.enactor.mfc.repair.service.RepairService"/>
      </wsdl:port>
   </wsdl:service>
   <plnk:partnerLinkType name="RepairServicePLT">
      <plnk:role name="RepairServiceImpl">
         <plnk:portType name="service:RepairServicePT"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
