EnactorHome/pos/Data/Enactor Pos/WSDL/retail/CreditNoteService/CreditNoteService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" name="TaxRefundRequestService" targetNamespace="http://www.enactor.com/retail/TaxRefundRequestService" xmlns:service="http://www.enactor.com/retail/TaxRefundRequestService" xmlns:serviceTypes="http://www.enactor.com/retail/TaxRefundRequestService/Types" xmlns:retail="http://www.enactor.com/retail">
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.enactor.com/retail/CreditNotetService/Types" schemaLocation="retail/CreditNoteService/Types/CreditNoteServiceTypes.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="generateSerialNumberMessage">
      <wsdl:part name="parameters" element="serviceTypes:generateSerialNumber"/>
   </wsdl:message>
   <wsdl:message name="generateSerialNumberResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:generateSerialNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="serialNumberEnquiryMessage">
      <wsdl:part name="parameters" element="serviceTypes:serialNumberEnquiry"/>
   </wsdl:message>
   <wsdl:message name="serialNumberEnquiryResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:serialNumberEnquiryResponse"/>
   </wsdl:message>
   <wsdl:portType name="CreditNoteServicePT">
      <wsdl:operation name="generateSerialNumber">
         <wsdl:input message="service:generateSerialNumberRequestMessage" name="generateSerialNumberRequestMessage"/>
         <wsdl:output message="service:generateSerialNumberResponseMessage" name="generateSerialNumberResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="serialNumberEnquiry">
         <wsdl:input message="service:serialNumberEnquiryRequestMessage" name="serialNumberEnquiryRequestMessage"/>
         <wsdl:output message="service:serialNumberEnquiryResponseMessage" name="serialNumberEnquiryResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SOAPBinding" type="service:CreditNoteServicePT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="generateSerialNumber">
         <soap:operation soapAction="http://www.enactor.com/retail/CreditNoteService/generateSerialNumber/soapAction"/>
         <wsdl:input name="generateSerialNumberRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="generateSerialNumberResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="serialNumberEnquiry">
         <soap:operation soapAction="http://www.enactor.com/retail/CreditNoteService/serialNumberEnquiry/soapAction"/>
         <wsdl:input name="serialNumberEnquiryRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="serialNumberEnquiryResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="JavaBinding" type="service:CreditNoteServicePT">
      <java:binding/>
      <format:typeMapping encoding="Java" style="Java">
         <format:typeMap elementName="retail:generateSerialNumberResponse" formatType="com.enactor.aurum.mfc.creditNote.service.IAurumGenerateSerialNumberResponse" xmlns:retail="http://www.enactor.com/retail"/>
         <format:typeMap elementName="retail:serialNumberEnquiryResponse" formatType="com.enactor.mfc.creditNote.service.ISerialNumberEnquiryResponse" xmlns:retail="http://www.enactor.com/retail"/>
      </format:typeMapping>
      <wsdl:operation name="generateSerialNumber">
         <java:operation methodType="instance" methodName="generateSerialNumber"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="serialNumberEnquiry">
         <java:operation methodType="instance" methodName="serialNumberEnquiry"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CreditNoteService">
      <wsdl:port name="SOAPPort" binding="service:SOAPBinding">
         <soap:address location="http://localhost:8080/axis2/CreditNoteService"/>
      </wsdl:port>
      <wsdl:port name="JavaPort" binding="service:JavaBinding">
         <java:address className="com.enactor.aurum.creditNote.service.CreditNoteService"/>
      </wsdl:port>
   </wsdl:service>
   <plnk:partnerLinkType name="CreditNoteServicePLT">
      <plnk:role name="CreditNoteServiceImpl">
         <plnk:portType name="service:CreditNoteServicePT"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
