EnactorHome/pos/Data/Enactor Pos/WSDL/Core/BaseServerService.wsdl

<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://www.enactor.com/core" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/"
	xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:core="http://www.enactor.com/core" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
	xmlns:javaTypes="http://java.basic/xsd" targetNamespace="http://www.enactor.com/core">
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://www.enactor.com/core" schemaLocation="Core/Core.xsd"></xs:import>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="loadMessage">
		<wsdl:part name="parameters" element="core:load" />
	</wsdl:message>
	<wsdl:message name="loadResponseMessage">
		<wsdl:part name="parameters" element="core:loadResponse" />
	</wsdl:message>
	<wsdl:message name="listAllMessage">
		<wsdl:part name="parameters" element="core:listAll" />
	</wsdl:message>
	<wsdl:message name="listAllResponseMessage">
		<wsdl:part name="parameters" element="core:listAllResponse" />
	</wsdl:message>
	<wsdl:message name="deleteMessage">
		<wsdl:part name="parameters" element="core:delete" />
	</wsdl:message>
	<wsdl:message name="deleteResponseMessage">
		<wsdl:part name="parameters" element="core:deleteResponse" />
	</wsdl:message>
	<wsdl:message name="deleteFault">
		<wsdl:part name="parameters" element="core:databaseException" />
	</wsdl:message>
	<wsdl:message name="saveMessage">
		<wsdl:part name="parameters" element="core:save" />
	</wsdl:message>
	<wsdl:message name="saveResponseMessage">
		<wsdl:part name="parameters" element="core:saveResponse" />
	</wsdl:message>
	<wsdl:message name="checkExistsMessage">
		<wsdl:part name="parameters" element="core:checkExists" />
	</wsdl:message>
	<wsdl:message name="checkExistsResponseMessage">
		<wsdl:part name="parameters" element="core:checkExistsResponse" />
	</wsdl:message>
	<wsdl:message name="databaseFault">
		<wsdl:part name="parameters" element="core:databaseException" />
	</wsdl:message>
	<wsdl:message name="noSuchRecordFault">
		<wsdl:part name="parameters" element="core:noSuchRecordException" />
	</wsdl:message>
	<wsdl:portType name="BaseServerServicePT">
		<wsdl:operation name="load">
			<wsdl:input message="tns:loadMessage" />
			<wsdl:output message="tns:loadResponseMessage" />
			<wsdl:fault message="tns:databaseFault" name="databaseFault" />
			<wsdl:fault message="tns:noSuchRecordFault" name="noSuchRecordFault" />
		</wsdl:operation>
		<wsdl:operation name="listAll">
			<wsdl:input message="tns:listAllMessage" />
			<wsdl:output message="tns:listAllResponseMessage" />
			<wsdl:fault message="tns:databaseFault" name="databaseFault" />
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="tns:deleteMessage" />
			<wsdl:output message="tns:deleteResponseMessage" />
			<wsdl:fault message="tns:databaseFault" name="databaseFault" />
		</wsdl:operation>
		<wsdl:operation name="save">
			<wsdl:input message="tns:saveMessage" />
			<wsdl:output message="tns:saveResponseMessage" />
			<wsdl:fault message="tns:databaseFault" name="databaseFault" />
		</wsdl:operation>
		<wsdl:operation name="checkExists">
			<wsdl:input message="tns:checkExistsMessage" />
			<wsdl:output message="tns:checkExistsResponseMessage" />
			<wsdl:fault message="tns:databaseFault" name="databaseFault" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="SOAP11Binding" type="tns:BaseServerServicePT">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="load">
			<soap:operation soapAction="urn:load" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="noSuchRecordFault">
				<soap:fault name="noSuchRecordFault" use="literal" />
			</wsdl:fault>

		</wsdl:operation>
		<wsdl:operation name="listAll">
			<soap:operation soapAction="urn:listAll" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="urn:delete" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="save">
			<soap:operation soapAction="urn:save" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="checkExists">
			<soap:operation soapAction="urn:checkExists" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SOAP12Binding" type="tns:BaseServerServicePT">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="load">
			<soap12:operation soapAction="urn:load" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="noSuchRecordFault">
				<soap:fault name="noSuchRecordFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listAll">
			<soap12:operation soapAction="urn:listAll" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap12:operation soapAction="urn:delete" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="save">
			<soap12:operation soapAction="urn:save" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="checkExists">
			<soap:operation soapAction="urn:checkExists" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="JavaBinding" type="core:BaseServerServicePT">
		<java:binding />
		<format:typeMapping encoding="Java" style="Java">
			<format:typeMap typeName="xs:string" formatType="java.lang.String" />
			<format:typeMap typeName="xs:int" formatType="java.lang.Integer" />
			<format:typeMap typeName="xs:boolean" formatType="java.lang.Boolean" />

			<format:typeMap elementName="core:lockType" formatType="com.enactor.core.servers.LockType" />
			<format:typeMap typeName="core:LockType" formatType="com.enactor.core.servers.LockType" />

			<format:typeMap elementName="core:listCriteria" formatType="com.enactor.core.servers.ListCriteria" />
			<format:typeMap typeName="core:ListCriteria" formatType="com.enactor.core.servers.ListCriteria" />

			<format:typeMap elementName="javaTypes:list" formatType="java.util.List" />
			<format:typeMap typeName="javaTypes:List" formatType="java.util.List" />

			<format:typeMap elementName="javaTypes:void" formatType="java.lang.Void" />
			<format:typeMap typeName="javaTypes:Void" formatType="java.lang.Void" />

			<format:typeMap elementName="core:pagedArrayList" formatType="java.util.List" />
			<format:typeMap typeName="core:pagedArrayList" formatType="java.util.List" />

			<format:typeMap typeName="core:KeyedEntity" formatType="com.enactor.core.entities.IKeyedEntity" />
			<format:typeMap typeName="core:EntityKey" formatType="com.enactor.core.entities.IEntityKey" />

			<format:typeMap elementName="core:databaseException"
				formatType="com.enactor.core.database.DatabaseException" />
			<format:typeMap typeName="core:DatabaseException" formatType="com.enactor.core.database.DatabaseException" />
			<format:typeMap elementName="core:noSuchRecordException"
				formatType="com.enactor.core.database.NoSuchRecordException" />
			<format:typeMap typeName="core:NoSuchRecordException"
				formatType="com.enactor.core.database.NoSuchRecordException" />

		</format:typeMapping>
		<wsdl:operation name="load">
			<java:operation methodName="load" methodType="instance" />
			<wsdl:input />
			<wsdl:output />
			<wsdl:fault name="databaseFault" />
			<wsdl:fault name="noSuchRecordFault" />
		</wsdl:operation>
		<wsdl:operation name="save">
			<java:operation methodName="save" methodType="instance" />
			<wsdl:input />
			<wsdl:output />
			<wsdl:fault name="databaseFault" />
		</wsdl:operation>
		<wsdl:operation name="checkExists">
			<java:operation methodName="checkExists" methodType="instance" />
			<wsdl:input />
			<wsdl:output />
			<wsdl:fault name="databaseFault" />
		</wsdl:operation>
		<wsdl:operation name="delete">
			<java:operation methodName="delete" methodType="instance" />
			<wsdl:input />
			<wsdl:fault name="databaseFault" />
		</wsdl:operation>
		<wsdl:operation name="listAll">
			<java:operation methodName="listAll" methodType="instance" />
			<wsdl:input />
			<wsdl:output />
			<wsdl:fault name="databaseFault" />
		</wsdl:operation>
	</wsdl:binding>

</wsdl:definitions>
