EnactorHome/pos/Data/Enactor Pos/Schema/Java/JavaBasic.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:javaBasic="http://java.basic/xsd"
	attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://java.basic/xsd">

	<element name="iterator" type="javaBasic:Iterator" />
	<complexType name="Iterator">
		<sequence />
	</complexType>

	<element name="list" type="javaBasic:List" />
	<complexType name="List">
		<sequence />
	</complexType>

	<element name="void" type="javaBasic:Void" />
	<complexType name="Void">
		<sequence />
	</complexType>

</schema>
