EnactorHome/pos/Data/Enactor Pos/WSDL/retail/TaxRefundRequestService/TaxRefundRequestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" name="TaxRefundRequestService" targetNamespace="http://www.enactor.com/retail/TaxRefundRequestService" xmlns:service="http://www.enactor.com/retail/TaxRefundRequestService" xmlns:serviceTypes="http://www.enactor.com/retail/TaxRefundRequestService/Types" xmlns:retail="http://www.enactor.com/retail">
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.enactor.com/retail/TaxRefundRequestService/Types" schemaLocation="retail/TaxRefundRequestService/Types/TaxRefundRequestServiceTypes.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getIdentifierRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:getIdentifier"/>
   </wsdl:message>
   <wsdl:message name="getIdentifierResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:getIdentifierResponse"/>
   </wsdl:message>
   <wsdl:message name="processMessage">
      <wsdl:part name="parameters" element="serviceTypes:process"/>
   </wsdl:message>
   <wsdl:message name="processResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:processResponse"/>
   </wsdl:message>
   <wsdl:message name="processPostVoidMessage">
      <wsdl:part name="parameters" element="serviceTypes:processPostVoid"/>
   </wsdl:message>
   <wsdl:message name="processPostVoidResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:processPostVoidResponse"/>
   </wsdl:message>
   <wsdl:message name="retrieveTaxRefundMessage">
      <wsdl:part name="parameters" element="serviceTypes:retrieveTaxRefund"/>
   </wsdl:message>
   <wsdl:message name="retrieveTaxRefundResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:retrieveTaxRefundResponse"/>
   </wsdl:message>
   <wsdl:message name="reprintTaxRefundMessage">
      <wsdl:part name="parameters" element="serviceTypes:reprintTaxRefund"/>
   </wsdl:message>
   <wsdl:message name="reprintTaxRefundResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:reprintTaxRefundResponse"/>
   </wsdl:message>
   <wsdl:portType name="TaxRefundRequestServicePT">
      <wsdl:operation name="getIdentifier">
         <wsdl:input message="service:getIdentifierRequestMessage" name="getIdentifierRequestMessage"/>
         <wsdl:output message="service:getIdentifierResponseMessage" name="getIdentifierResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="process">
         <wsdl:input message="service:processRequestMessage" name="processRequestMessage"/>
         <wsdl:output message="service:processResponseMessage" name="processResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="processPostVoid">
         <wsdl:input message="service:processPostVoidRequestMessage" name="processPostVoidRequestMessage"/>
         <wsdl:output message="service:processPostVoidResponseMessage" name="processPostVoidResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="retrieveTaxRefund">
         <wsdl:input message="service:retrieveTaxRefundRequestMessage" name="retrieveTaxRefundRequestMessage"/>
         <wsdl:output message="service:retrieveTaxRefundResponseMessage" name="retrieveTaxRefundResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="reprintTaxRefund">
         <wsdl:input message="service:reprintTaxRefundRequestMessage" name="reprintTaxRefundRequestMessage"/>
         <wsdl:output message="service:reprintTaxRefundResponseMessage" name="reprintTaxRefundResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SOAPBinding" type="service:TaxRefundRequestServicePT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getIdentifier">
         <soap:operation soapAction="http://www.enactor.com/retail/TaxRefundRequestService/getIdentifier/soapAction"/>
         <wsdl:input name="getIdentifierRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="getIdentifierResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="process">
         <soap:operation soapAction="http://www.enactor.com/retail/TaxRefundRequestService/process/soapAction"/>
         <wsdl:input name="processRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="processResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="processPostVoid">
         <soap:operation soapAction="http://www.enactor.com/retail/TaxRefundRequestService/processPostVoid/soapAction"/>
         <wsdl:input name="processPostVoidRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="processPostVoidResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="retrieveTaxRefund">
         <soap:operation soapAction="http://www.enactor.com/retail/TaxRefundRequestService/retrieveTaxRefund/soapAction"/>
         <wsdl:input name="retrieveTaxRefundRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="retrieveTaxRefundResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="reprintTaxRefund">
         <soap:operation soapAction="http://www.enactor.com/retail/TaxRefundRequestService/reprintTaxRefund/soapAction"/>
         <wsdl:input name="reprintTaxRefundRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="reprintTaxRefundResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="JavaBinding" type="service:TaxRefundRequestServicePT">
      <java:binding/>
      <format:typeMapping encoding="Java" style="Java">
         <format:typeMap elementName="retail:getIdentifierResponse" formatType="com.enactor.mfc.taxRefund.service.IGetIdentifierResponse" xmlns:retail="http://www.enactor.com/retail"/>
         <format:typeMap elementName="retail:processResponse" formatType="com.enactor.mfc.taxRefund.service.ITaxRefundRequestResponse" xmlns:retail="http://www.enactor.com/retail"/>
         <format:typeMap elementName="retail:processPostVoidResponse" formatType="com.enactor.mfc.taxRefund.service.IPostVoidTaxRefundRequestResponse" xmlns:retail="http://www.enactor.com/retail"/>
         <format:typeMap elementName="retail:retrieveTaxRefundResponse" formatType="com.enactor.mfc.taxRefund.service.IRetrieveTaxRefundRequestResponse" xmlns:retail="http://www.enactor.com/retail"/>
         <format:typeMap elementName="retail:reprintTaxRefundResponse" formatType="com.enactor.mfc.taxRefund.service.IReprintTaxRefundRequestResponse" xmlns:retail="http://www.enactor.com/retail"/>
      </format:typeMapping>
      <wsdl:operation name="getIdentifier">
         <java:operation methodType="instance" methodName="getIdentifier"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="process">
         <java:operation methodType="instance" methodName="process"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="processPostVoid">
         <java:operation methodType="instance" methodName="processPostVoid"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="retrieveTaxRefund">
         <java:operation methodType="instance" methodName="retrieveTaxRefund"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="reprintTaxRefund">
         <java:operation methodType="instance" methodName="reprintTaxRefund"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="TaxRefundRequestService">
      <wsdl:port name="SOAPPort" binding="service:SOAPBinding">
         <soap:address location="http://localhost:8080/axis2/TaxRefundRequestService"/>
      </wsdl:port>
      <wsdl:port name="JavaPort" binding="service:JavaBinding">
         <java:address className="com.enactor.mfc.taxRefund.service.TaxRefundRequestService"/>
      </wsdl:port>
   </wsdl:service>
   <plnk:partnerLinkType name="TaxRefundRequestServicePLT">
      <plnk:role name="TaxRefundRequestServiceImpl">
         <plnk:portType name="service:TaxRefundRequestServicePT"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
