EnactorHome/pos/Data/Enactor Pos/WSDL/retail/TaxRefundTransactionArchiveService/TaxRefundTransactionArchiveService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" name="TaxRefundTransactionArchiveService" targetNamespace="http://www.enactor.com/retail/TaxRefundTransactionArchiveService" xmlns:service="http://www.enactor.com/retail/TaxRefundTransactionArchiveService" xmlns:serviceTypes="http://www.enactor.com/retail/TaxRefundTransactionArchiveService/Types" xmlns:retail="http://www.enactor.com/retail">
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.enactor.com/retail/TaxRefundTransactionArchiveService/Types" schemaLocation="retail/TaxRefundTransactionArchiveService/Types/TaxRefundTransactionArchiveServiceTypes.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="taxRefundTransactionArchiveLoadRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:taxRefundTransactionArchiveLoadRequest"/>
   </wsdl:message>
   <wsdl:message name="taxRefundTransactionArchiveLoadResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:taxRefundTransactionArchiveLoadResponse"/>
   </wsdl:message>
   <wsdl:message name="taxRefundTransactionArchiveSearchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:taxRefundTransactionArchiveSearchRequest"/>
   </wsdl:message>
   <wsdl:message name="taxRefundTransactionArchiveSearchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:taxRefundTransactionArchiveSearchResponse"/>
   </wsdl:message>
   <wsdl:portType name="TaxRefundTransactionArchiveServicePT">
      <wsdl:operation name="taxRefundTransactionArchiveLoad">
         <wsdl:input message="service:taxRefundTransactionArchiveLoadRequestMessage" name="taxRefundTransactionArchiveLoadRequestMessage"/>
         <wsdl:output message="service:taxRefundTransactionArchiveLoadResponseMessage" name="taxRefundTransactionArchiveLoadResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="taxRefundTransactionArchiveSearch">
         <wsdl:input message="service:taxRefundTransactionArchiveSearchRequestMessage" name="taxRefundTransactionArchiveSearchRequestMessage"/>
         <wsdl:output message="service:taxRefundTransactionArchiveSearchResponseMessage" name="taxRefundTransactionArchiveSearchResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SOAPBinding" type="service:TaxRefundTransactionArchiveServicePT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="taxRefundTransactionArchiveLoad">
         <soap:operation soapAction="http://www.enactor.com/retail/TaxRefundTransactionArchiveService/taxRefundTransactionArchiveLoad/soapAction"/>
         <wsdl:input name="taxRefundTransactionArchiveLoadRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="taxRefundTransactionArchiveLoadResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="taxRefundTransactionArchiveSearch">
         <soap:operation soapAction="http://www.enactor.com/retail/TaxRefundTransactionArchiveService/taxRefundTransactionArchiveSearch/soapAction"/>
         <wsdl:input name="taxRefundTransactionArchiveSearchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="taxRefundTransactionArchiveSearchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="JavaBinding" type="service:TaxRefundTransactionArchiveServicePT">
      <java:binding/>
      <format:typeMapping encoding="Java" style="Java">
         <format:typeMap elementName="retail:taxRefundTransactionArchiveLoadResponse" formatType="com.enactor.mfc.taxRefundTransactionArchive.service.ITaxRefundTransactionArchiveLoadResponse" xmlns:retail="http://www.enactor.com/retail"/>
         <format:typeMap elementName="retail:taxRefundTransactionArchiveSearchResponse" formatType="com.enactor.mfc.taxRefundTransactionArchive.service.ITaxRefundTransactionArchiveSearchResponse" xmlns:retail="http://www.enactor.com/retail"/>
      </format:typeMapping>
      <wsdl:operation name="taxRefundTransactionArchiveLoad">
         <java:operation methodType="instance" methodName="taxRefundTransactionArchiveLoad"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="taxRefundTransactionArchiveSearch">
         <java:operation methodType="instance" methodName="taxRefundTransactionArchiveSearch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="TaxRefundTransactionArchiveService">
      <wsdl:port name="SOAPPort" binding="service:SOAPBinding">
         <soap:address location="http://localhost:8080/axis2/TaxRefundTransactionArchiveService"/>
      </wsdl:port>
      <wsdl:port name="JavaPort" binding="service:JavaBinding">
         <java:address className="com.enactor.mfc.taxRefundTransactionArchive.service.TaxRefundTransactionArchiveService"/>
      </wsdl:port>
   </wsdl:service>
   <plnk:partnerLinkType name="TaxRefundTransactionArchiveServicePLT">
      <plnk:role name="TaxRefundTransactionArchiveServiceImpl">
         <plnk:portType name="service:TaxRefundTransactionArchiveServicePT"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
