EnactorHome/estateManager/Data/ActivityFlowCompensation_v1.0/WSDL/External/ws-humantask-api-V42.wsdl

<wsdl:definitions
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:htd="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/200803"
  xmlns:htt="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/types/200803"
  xmlns="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/api/200803"
  targetNamespace="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/api/200803">

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/200803"
        schemaLocation="External/ws-humantask-V42.xsd" />
      <xsd:import namespace="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/types/200803"
        schemaLocation="External/ws-humantask-types-V42.xsd" />
      <xsd:import namespace="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/api/200803"
        schemaLocation="External/ws-humantask-api-V42.xsd" />
    </xsd:schema>
  </wsdl:types>

  <!-- Declaration of messages -->
  <wsdl:message name="claim">
    <wsdl:part name="claim" element="claim" />
  </wsdl:message>

  <wsdl:message name="claimResponse">
    <wsdl:part name="claimResponse" element="claimResponse" />
  </wsdl:message>

  <wsdl:message name="start">
    <wsdl:part name="start" element="start" />
  </wsdl:message>

  <wsdl:message name="startResponse">
    <wsdl:part name="startResponse" element="startResponse" />
  </wsdl:message>

  <wsdl:message name="stop">
    <wsdl:part name="stop" element="stop" />
  </wsdl:message>

  <wsdl:message name="stopResponse">
    <wsdl:part name="stopResponse" element="stopResponse" />
  </wsdl:message>

  <wsdl:message name="release">
    <wsdl:part name="release" element="release" />
  </wsdl:message>

  <wsdl:message name="releaseResponse">
    <wsdl:part name="releaseResponse" element="releaseResponse" />
  </wsdl:message>

  <wsdl:message name="suspend">
    <wsdl:part name="suspend" element="suspend" />
  </wsdl:message>

  <wsdl:message name="suspendResponse">
    <wsdl:part name="suspendResponse" element="suspendResponse" />
  </wsdl:message>

  <wsdl:message name="suspendUntil">
    <wsdl:part name="suspendUntil" element="suspendUntil" />
  </wsdl:message>

  <wsdl:message name="suspendUntilResponse">
    <wsdl:part name="suspendUntilResponse"
      element="suspendUntilResponse" />
  </wsdl:message>

  <wsdl:message name="resume">
    <wsdl:part name="resume" element="resume" />
  </wsdl:message>

  <wsdl:message name="resumeResponse">
    <wsdl:part name="resumeResponse" element="resumeResponse" />
  </wsdl:message>

  <wsdl:message name="complete">
    <wsdl:part name="complete" element="complete" />
  </wsdl:message>

  <wsdl:message name="completeResponse">
    <wsdl:part name="completeResponse"
      element="completeResponse" />
  </wsdl:message>

  <wsdl:message name="remove">
    <wsdl:part name="remove" element="remove" />
  </wsdl:message>

  <wsdl:message name="removeResponse">
    <wsdl:part name="removeResponse" element="removeResponse" />
  </wsdl:message>

  <wsdl:message name="fail">
    <wsdl:part name="fail" element="fail" />
  </wsdl:message>

  <wsdl:message name="failResponse">
    <wsdl:part name="failResponse" element="failResponse" />
  </wsdl:message>

  <wsdl:message name="setPriority">
    <wsdl:part name="setPriority" element="setPriority" />
  </wsdl:message>

  <wsdl:message name="setPriorityResponse">
    <wsdl:part name="setPriorityResponse"
      element="setPriorityResponse" />
  </wsdl:message>

  <wsdl:message name="addAttachment">
    <wsdl:part name="addAttachment" element="addAttachment" />
  </wsdl:message>

  <wsdl:message name="addAttachmentResponse">
    <wsdl:part name="addAttachmentResponse"
      element="addAttachmentResponse" />
  </wsdl:message>

  <wsdl:message name="getAttachmentInfos">
    <wsdl:part name="getAttachmentInfos"
      element="getAttachmentInfos" />
  </wsdl:message>

  <wsdl:message name="getAttachmentInfosResponse">
    <wsdl:part name="getAttachmentInfosResponse"
      element="getAttachmentInfosResponse" />
  </wsdl:message>

  <wsdl:message name="getAttachments">
    <wsdl:part name="getAttachments" element="getAttachments" />
  </wsdl:message>

  <wsdl:message name="getAttachmentsResponse">
    <wsdl:part name="getAttachmentsResponse"
      element="getAttachmentsResponse" />
  </wsdl:message>

  <wsdl:message name="deleteAttachments">
    <wsdl:part name="deleteAttachments"
      element="deleteAttachments" />
  </wsdl:message>

  <wsdl:message name="deleteAttachmentsResponse">
    <wsdl:part name="deleteAttachmentsResponse"
      element="deleteAttachmentsResponse" />
  </wsdl:message>

  <wsdl:message name="addComment">
    <wsdl:part name="addComment" element="addComment" />
  </wsdl:message>

  <wsdl:message name="addCommentResponse">
    <wsdl:part name="addCommentResponse"
      element="addCommentResponse" />
  </wsdl:message>

  <wsdl:message name="getComments">
    <wsdl:part name="getComments" element="getComments" />
  </wsdl:message>

  <wsdl:message name="getCommentsResponse">
    <wsdl:part name="getCommentsResponse"
      element="getCommentsResponse" />
  </wsdl:message>

  <wsdl:message name="skip">
    <wsdl:part name="skip" element="skip" />
  </wsdl:message>

  <wsdl:message name="skipResponse">
    <wsdl:part name="skipResponse" element="skipResponse" />
  </wsdl:message>

  <wsdl:message name="forward">
    <wsdl:part name="forward" element="forward" />
  </wsdl:message>

  <wsdl:message name="forwardResponse">
    <wsdl:part name="forwardResponse" element="forwardResponse" />
  </wsdl:message>

  <wsdl:message name="delegate">
    <wsdl:part name="delegate" element="delegate" />
  </wsdl:message>

  <wsdl:message name="delegateResponse">
    <wsdl:part name="delegateResponse"
      element="delegateResponse" />
  </wsdl:message>

  <wsdl:message name="getRendering">
    <wsdl:part name="getRendering" element="getRendering" />
  </wsdl:message>

  <wsdl:message name="getRenderingResponse">
    <wsdl:part name="getRenderingResponse"
      element="getRenderingResponse" />
  </wsdl:message>

  <wsdl:message name="getRenderingTypes">
    <wsdl:part name="getRenderingTypes"
      element="getRenderingTypes" />
  </wsdl:message>

  <wsdl:message name="getRenderingTypesResponse">
    <wsdl:part name="getRenderingTypesResponse"
      element="getRenderingTypesResponse" />
  </wsdl:message>

  <wsdl:message name="getTaskInfo">
    <wsdl:part name="getTaskInfo" element="getTaskInfo" />
  </wsdl:message>

  <wsdl:message name="getTaskInfoResponse">
    <wsdl:part name="getTaskInfoResponse"
      element="getTaskInfoResponse" />
  </wsdl:message>

  <wsdl:message name="getTaskDescription">
    <wsdl:part name="getTaskDescription"
      element="getTaskDescription" />
  </wsdl:message>

  <wsdl:message name="getTaskDescriptionResponse">
    <wsdl:part name="getTaskDescriptionResponse"
      element="getTaskDescriptionResponse" />
  </wsdl:message>

  <wsdl:message name="setOutput">
    <wsdl:part name="setOutput" element="setOutput" />
  </wsdl:message>

  <wsdl:message name="setOutputResponse">
    <wsdl:part name="setOutputResponse"
      element="setOutputResponse" />
  </wsdl:message>

  <wsdl:message name="deleteOutput">
    <wsdl:part name="deleteOutput" element="deleteOutput" />
  </wsdl:message>

  <wsdl:message name="deleteOutputResponse">
    <wsdl:part name="deleteOutputResponse"
      element="deleteOutputResponse" />
  </wsdl:message>

  <wsdl:message name="setFault">
    <wsdl:part name="setFault" element="setFault" />
  </wsdl:message>

  <wsdl:message name="setFaultResponse">
    <wsdl:part name="setFaultResponse"
      element="setFaultResponse" />
  </wsdl:message>

  <wsdl:message name="deleteFault">
    <wsdl:part name="deleteFault" element="deleteFault" />
  </wsdl:message>

  <wsdl:message name="deleteFaultResponse">
    <wsdl:part name="deleteFaultResponse"
      element="deleteFaultResponse" />
  </wsdl:message>

  <wsdl:message name="getInput">
    <wsdl:part name="getInput" element="getInput" />
  </wsdl:message>

  <wsdl:message name="getInputResponse">
    <wsdl:part name="getInputResponse"
      element="getInputResponse" />
  </wsdl:message>

  <wsdl:message name="getOutput">
    <wsdl:part name="getOutput" element="getOutput" />
  </wsdl:message>

  <wsdl:message name="getOutputResponse">
    <wsdl:part name="getOutputResponse"
      element="getOutputResponse" />
  </wsdl:message>

  <wsdl:message name="getFault">
    <wsdl:part name="getFault" element="getFault" />
  </wsdl:message>

  <wsdl:message name="getFaultResponse">
    <wsdl:part name="getFaultResponse"
      element="getFaultResponse" />
  </wsdl:message>

  <wsdl:message name="getMyTaskAbstracts">
    <wsdl:part name="getMyTaskAbstracts"
      element="getMyTaskAbstracts" />
  </wsdl:message>

  <wsdl:message name="getMyTaskAbstractsResponse">
    <wsdl:part name="getMyTaskAbstractsResponse"
      element="getMyTaskAbstractsResponse" />
  </wsdl:message>

  <wsdl:message name="getMyTasks">
    <wsdl:part name="getMyTasks" element="getMyTasks" />
  </wsdl:message>

  <wsdl:message name="getMyTasksResponse">
    <wsdl:part name="getMyTasksResponse"
      element="getMyTasksResponse" />
  </wsdl:message>

  <wsdl:message name="query">
    <wsdl:part name="query" element="query" />
  </wsdl:message>

  <wsdl:message name="queryResponse">
    <wsdl:part name="queryResponse" element="queryResponse" />
  </wsdl:message>

  <wsdl:message name="activate">
    <wsdl:part name="activate" element="activate" />
  </wsdl:message>

  <wsdl:message name="activateResponse">
    <wsdl:part name="activateResponse"
      element="activateResponse" />
  </wsdl:message>

  <wsdl:message name="nominate">
    <wsdl:part name="nominate" element="nominate" />
  </wsdl:message>

  <wsdl:message name="nominateResponse">
    <wsdl:part name="nominateResponse"
      element="nominateResponse" />
  </wsdl:message>

  <wsdl:message name="setGenericHumanRole">
    <wsdl:part name="setGenericHumanRole"
      element="setGenericHumanRole" />
  </wsdl:message>

  <wsdl:message name="setGenericHumanRoleResponse">
    <wsdl:part name="setGenericHumanRoleResponse"
      element="setGenericHumanRoleResponse" />
  </wsdl:message>

  <wsdl:message name="getOutcome">
    <wsdl:part name="getOutcome"
      element="getOutcome" />
  </wsdl:message>

  <wsdl:message name="getOutcomeResponse">
    <wsdl:part name="getOutcomeResponse"
      element="getOutcomeResponse" />
  </wsdl:message>

  <!-- Declaration of fault messages -->
  <wsdl:message name="illegalStateFault">
    <wsdl:part name="illegalState" element="illegalState" />
  </wsdl:message>

  <wsdl:message name="illegalArgumentFault">
    <wsdl:part name="illegalArgument" element="illegalArgument" />
  </wsdl:message>

  <wsdl:message name="illegalAccessFault">
    <wsdl:part name="illegalAccess" element="illegalAccess" />
  </wsdl:message>

  <wsdl:message name="illegalOperationFault">
    <wsdl:part name="illegalOperation"
      element="illegalOperation" />
  </wsdl:message>

  <wsdl:message name="recipientNotAllowed">
    <wsdl:part name="recipientNotAllowed"
      element="recipientNotAllowed" />
  </wsdl:message>

  <!-- Port type definition -->
  <wsdl:portType name="taskOperations">

    <wsdl:operation name="claim">
      <wsdl:input message="claim" />
      <wsdl:output message="claimResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="start">
      <wsdl:input message="start" />
      <wsdl:output message="startResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="stop">
      <wsdl:input message="stop" />
      <wsdl:output message="stopResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="release">
      <wsdl:input message="release" />
      <wsdl:output message="releaseResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="suspend">
      <wsdl:input message="suspend" />
      <wsdl:output message="suspendResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="suspendUntil">
      <wsdl:input message="suspendUntil" />
      <wsdl:output message="suspendUntilResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="resume">
      <wsdl:input message="resume" />
      <wsdl:output message="resumeResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="complete">
      <wsdl:input message="complete" />
      <wsdl:output message="completeResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="remove">
      <wsdl:input message="remove" />
      <wsdl:output message="removeResponse" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="fail">
      <wsdl:input message="fail" />
      <wsdl:output message="failResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
      <wsdl:fault name="illegalOperationFault"
        message="illegalOperationFault" />
    </wsdl:operation>

    <wsdl:operation name="setPriority">
      <wsdl:input message="setPriority" />
      <wsdl:output message="setPriorityResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="addAttachment">
      <wsdl:input message="addAttachment" />
      <wsdl:output message="addAttachmentResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="getAttachmentInfos">
      <wsdl:input message="getAttachmentInfos" />
      <wsdl:output message="getAttachmentInfosResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="getAttachments">
      <wsdl:input message="getAttachments" />
      <wsdl:output message="getAttachmentsResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="deleteAttachments">
      <wsdl:input message="deleteAttachments" />
      <wsdl:output message="deleteAttachmentsResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="addComment">
      <wsdl:input message="addComment" />
      <wsdl:output message="addCommentResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="getComments">
      <wsdl:input message="getComments" />
      <wsdl:output message="getCommentsResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="skip">
      <wsdl:input message="skip" />
      <wsdl:output message="skipResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
      <wsdl:fault name="illegalOperationFault"
        message="illegalOperationFault" />
    </wsdl:operation>

    <wsdl:operation name="forward">
      <wsdl:input message="forward" />
      <wsdl:output message="forwardResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="delegate">
      <wsdl:input message="delegate" />
      <wsdl:output message="delegateResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
      <wsdl:fault name="recipientNotAllowed"
        message="recipientNotAllowed" />
    </wsdl:operation>

    <wsdl:operation name="getRendering">
      <wsdl:input message="getRendering" />
      <wsdl:output message="getRenderingResponse" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
    </wsdl:operation>

    <wsdl:operation name="getRenderingTypes">
      <wsdl:input message="getRenderingTypes" />
      <wsdl:output message="getRenderingTypesResponse" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
    </wsdl:operation>

    <wsdl:operation name="getTaskInfo">
      <wsdl:input message="getTaskInfo" />
      <wsdl:output message="getTaskInfoResponse" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
    </wsdl:operation>

    <wsdl:operation name="getTaskDescription">
      <wsdl:input message="getTaskDescription" />
      <wsdl:output message="getTaskDescriptionResponse" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
    </wsdl:operation>

    <wsdl:operation name="setOutput">
      <wsdl:input message="setOutput" />
      <wsdl:output message="setOutputResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="deleteOutput">
      <wsdl:input message="deleteOutput" />
      <wsdl:output message="deleteOutputResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="setFault">
      <wsdl:input message="setFault" />
      <wsdl:output message="setFaultResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
      <wsdl:fault name="illegalOperationFault"
        message="illegalOperationFault" />
    </wsdl:operation>

    <wsdl:operation name="deleteFault">
      <wsdl:input message="deleteFault" />
      <wsdl:output message="deleteFaultResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="getInput">
      <wsdl:input message="getInput" />
      <wsdl:output message="getInputResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="getOutput">
      <wsdl:input message="getOutput" />
      <wsdl:output message="getOutputResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="getFault">
      <wsdl:input message="getFault" />
      <wsdl:output message="getFaultResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
      <wsdl:fault name="illegalOperationFault"
        message="illegalOperationFault" />
    </wsdl:operation>

    <wsdl:operation name="getMyTaskAbstracts">
      <wsdl:input message="getMyTaskAbstracts" />
      <wsdl:output message="getMyTaskAbstractsResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
    </wsdl:operation>

    <wsdl:operation name="getMyTasks">
      <wsdl:input message="getMyTasks" />
      <wsdl:output message="getMyTasksResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
    </wsdl:operation>

    <wsdl:operation name="query">
      <wsdl:input message="query" />
      <wsdl:output message="queryResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
    </wsdl:operation>

    <wsdl:operation name="activate">
      <wsdl:input message="activate" />
      <wsdl:output message="activateResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="nominate">
      <wsdl:input message="nominate" />
      <wsdl:output message="nominateResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="setGenericHumanRole">
      <wsdl:input message="setGenericHumanRole" />
      <wsdl:output message="setGenericHumanRoleResponse" />
      <wsdl:fault name="illegalStateFault"
        message="illegalStateFault" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
      <wsdl:fault name="illegalAccessFault"
        message="illegalAccessFault" />
    </wsdl:operation>

    <wsdl:operation name="getOutcome">
      <wsdl:input message="getOutcome" />
      <wsdl:output message="getOutcomeResponse" />
      <wsdl:fault name="illegalArgumentFault"
        message="illegalArgumentFault" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
