EnactorHome/pos/Data/Enactor Pos/WSDL/retail/AccountBalanceService/AccountBalanceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" name="AccountBalanceService" targetNamespace="http://www.enactor.com/retail/AccountBalanceService" xmlns:service="http://www.enactor.com/retail/AccountBalanceService" xmlns:serviceTypes="http://www.enactor.com/retail/AccountBalanceService/Types" xmlns:mfc="http://www.enactor.com/mfc">
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.enactor.com/retail/AccountBalanceService/Types" schemaLocation="retail/AccountBalanceService/Types/AccountBalanceServiceTypes.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="submitAccountBalanceUpdateRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceUpdate"/>
   </wsdl:message>
   <wsdl:message name="submitAccountBalanceUpdateResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceUpdateResponse"/>
   </wsdl:message>
   <wsdl:message name="submitAccountBalanceUpdateBatchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceUpdateBatch"/>
   </wsdl:message>
   <wsdl:message name="submitAccountBalanceUpdateBatchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceUpdateBatchResponse"/>
   </wsdl:message>
   <wsdl:message name="submitVoidAccountBalanceUpdateRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitVoidAccountBalanceUpdate"/>
   </wsdl:message>
   <wsdl:message name="submitVoidAccountBalanceUpdateResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitVoidAccountBalanceUpdateResponse"/>
   </wsdl:message>
   <wsdl:message name="submitAccountBalanceEnquiryRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceEnquiry"/>
   </wsdl:message>
   <wsdl:message name="submitAccountBalanceEnquiryResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceEnquiryResponse"/>
   </wsdl:message>
   <wsdl:message name="submitLoyaltyAccountSearchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitLoyaltyAccountSearch"/>
   </wsdl:message>
   <wsdl:message name="submitLoyaltyAccountSearchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitLoyaltyAccountSearchResponse"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerNameSearchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerNameSearch"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerNameSearchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerNameSearchResponse"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerPostCodeSearchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerPostCodeSearch"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerPostCodeSearchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerPostCodeSearchResponse"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerCardSearchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerCardSearch"/>
   </wsdl:message>
   <wsdl:message name="submitLoyaltyAccountSearchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitLoyaltyAccountSearchResponse"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerRequestMessage">
      <wsdl:part name="parameters" element="service:loadCustomer"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerResponseMessage">
      <wsdl:part name="parameters" element="service:loadCustomerResponse"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerCardSearchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerCardSearchResponse"/>
   </wsdl:message>
   <wsdl:message name="submitEmployeeAccountUpdateBatchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitEmployeeAccountUpdateBatch"/>
   </wsdl:message>
   <wsdl:message name="submitEmployeeAccountUpdateBatchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitEmployeeAccountUpdateBatchResponse"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerAccountUpdateBatchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerAccountUpdateBatch"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerAccountUpdateBatchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerAccountUpdateBatchResponse"/>
   </wsdl:message>
   <wsdl:message name="submitAccountBalanceCommitRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceCommit"/>
   </wsdl:message>
   <wsdl:message name="submitAccountBalanceCommitResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitAccountBalanceUpdateResponse"/>
   </wsdl:message>
   <wsdl:portType name="AccountBalanceServicePT">
      <wsdl:operation name="submitAccountBalanceUpdate">
         <wsdl:input message="service:submitAccountBalanceUpdateRequestMessage" name="submitAccountBalanceUpdateRequestMessage"/>
         <wsdl:output message="service:submitAccountBalanceUpdateResponseMessage" name="submitAccountBalanceUpdateResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitAccountBalanceUpdateBatch">
         <wsdl:input message="service:submitAccountBalanceUpdateBatchRequestMessage" name="submitAccountBalanceUpdateBatchRequestMessage"/>
         <wsdl:output message="service:submitAccountBalanceUpdateBatchResponseMessage" name="submitAccountBalanceUpdateBatchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitVoidAccountBalanceUpdate">
         <wsdl:input message="service:submitVoidAccountBalanceUpdateRequestMessage" name="submitVoidAccountBalanceUpdateRequestMessage"/>
         <wsdl:output message="service:submitVoidAccountBalanceUpdateResponseMessage" name="submitVoidAccountBalanceUpdateResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitAccountBalanceEnquiry">
         <wsdl:input message="service:submitAccountBalanceEnquiryRequestMessage" name="submitAccountBalanceEnquiryRequestMessage"/>
         <wsdl:output message="service:submitAccountBalanceEnquiryResponseMessage" name="submitAccountBalanceEnquiryResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitLoyaltyAccountSearch">
         <wsdl:input message="service:submitLoyaltyAccountSearchRequestMessage" name="submitLoyaltyAccountSearchRequestMessage"/>
         <wsdl:output message="service:submitLoyaltyAccountSearchResponseMessage" name="submitLoyaltyAccountSearchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerNameSearch">
         <wsdl:input message="service:submitCustomerNameSearchRequestMessage" name="submitCustomerNameSearchRequestMessage"/>
         <wsdl:output message="service:submitCustomerNameSearchResponseMessage" name="submitCustomerNameSearchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerPostCodeSearch">
         <wsdl:input message="service:submitCustomerPostCodeSearchRequestMessage" name="submitCustomerPostCodeSearchRequestMessage"/>
         <wsdl:output message="service:submitCustomerPostCodeSearchResponseMessage" name="submitCustomerPostCodeSearchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomer">
         <wsdl:documentation>Loads an mfc:customer given its customer number.</wsdl:documentation>
         <wsdl:input message="service:loadCustomerRequestMessage" name="loadCustomerRequestMessage"/>
         <wsdl:output message="service:loadCustomerResponseMessage" name="loadCustomerResponseMessage"/>
	 	 <wsdl:fault name="noSuchRecordException" message="service:noSuchRecordException"/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerCardSearch">
         <wsdl:input message="service:submitCustomerCardSearchRequestMessage" name="submitCustomerCardSearchRequestMessage"/>
         <wsdl:output message="service:submitCustomerCardSearchResponseMessage" name="submitCustomerCardSearchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitEmployeeAccountUpdateBatch">
         <wsdl:input message="service:submitEmployeeAccountUpdateBatchRequestMessage" name="submitEmployeeAccountUpdateBatchRequestMessage"/>
         <wsdl:output message="service:submitEmployeeAccountUpdateBatchResponseMessage" name="submitEmployeeAccountUpdateBatchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerAccountUpdateBatch">
         <wsdl:input message="service:submitCustomerAccountUpdateBatchRequestMessage" name="submitCustomerAccountUpdateBatchRequestMessage"/>
         <wsdl:output message="service:submitCustomerAccountUpdateBatchResponseMessage" name="submitCustomerAccountUpdateBatchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitAccountBalanceCommit">
         <wsdl:input message="service:submitAccountBalanceCommitRequestMessage" name="submitAccountBalanceCommitRequestMessage"/>
         <wsdl:output message="service:submitAccountBalanceUpdateResponseMessage" name="submitAccountBalanceUpdateResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SOAPBinding" type="service:AccountBalanceServicePT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="submitAccountBalanceUpdate">
         <soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitAccountBalanceUpdate/soapAction"/>
         <wsdl:input name="submitAccountBalanceUpdateRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitAccountBalanceUpdateResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitAccountBalanceUpdateBatch">
         <soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitAccountBalanceUpdateBatch/soapAction"/>
         <wsdl:input name="submitAccountBalanceUpdateBatchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitAccountBalanceUpdateBatchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitVoidAccountBalanceUpdate">
         <soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitVoidAccountBalanceUpdate/soapAction"/>
         <wsdl:input name="submitVoidAccountBalanceUpdateRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitVoidAccountBalanceUpdateResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitAccountBalanceEnquiry">
         <soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitAccountBalanceEnquiry/soapAction"/>
         <wsdl:input name="submitAccountBalanceEnquiryRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitAccountBalanceEnquiryResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitLoyaltyAccountSearch">
         <soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitLoyaltyAccountSearch/soapAction"/>
         <wsdl:input name="submitLoyaltyAccountSearchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitLoyaltyAccountSearchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerNameSearch">
         <soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitCustomerNameSearch/soapAction"/>
         <wsdl:input name="submitCustomerNameSearchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitCustomerNameSearchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerPostCodeSearch">
         <soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitCustomerPostCodeSearch/soapAction"/>
         <wsdl:input name="submitCustomerPostCodeSearchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitCustomerPostCodeSearchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="loadCustomer">
         <soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/loadCustomer/soapAction"/>
         <wsdl:input name="loadCustomerRequestMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output name="loadCustomerResponseMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitEmployeeAccountUpdateBatch">
         <soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitEmployeeAccountUpdateBatch/soapAction"/>
         <wsdl:input name="submitEmployeeAccountUpdateBatchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitEmployeeAccountUpdateBatchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerAccountUpdateBatch">
         <soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitCustomerAccountUpdateBatch/soapAction"/>
         <wsdl:input name="submitCustomerAccountUpdateBatchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitCustomerAccountUpdateBatchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitAccountBalanceCommit">
         <soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitAccountBalanceCommit/soapAction"/>
         <wsdl:input name="submitAccountBalanceCommitRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitAccountBalanceUpdateResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
      <wsdl:operation name="submitCustomerCardSearch">
         <soap:operation soapAction="http://www.enactor.com/retail/AccountBalanceService/submitCustomerCardSearch/soapAction"/>
         <wsdl:input name="submitCustomerCardSearchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitCustomerCardSearchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   <wsdl:binding name="JavaBinding" type="service:AccountBalanceServicePT">
      <java:binding/>
      <format:typeMapping encoding="Java" style="Java">
         <format:typeMap elementName="mfc:accountBalanceUpdate" formatType="com.enactor.mfc.account.accountBalanceUpdate.IAccountBalanceUpdate" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="mfc:accountBalance" formatType="com.enactor.mfc.account.accountBalance.IAccountBalance" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="mfc:accountBalanceUpdateBatch" formatType="com.enactor.mfc.account.accountBalanceUpdate.IAccountBalanceUpdateBatch" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="mfc:accountBalanceUpdateBatchResponse" formatType="com.enactor.mfc.account.accountBalanceUpdate.service.IAccountBalanceUpdateBatchResponse" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="core:applicationProcessOutcome" formatType="com.enactor.core.application.process.IApplicationProcessOutcome" xmlns:core="http://www.enactor.com/core"/>
         <format:typeMap elementName="mfc:employeeAccountUpdateBatch" formatType="com.enactor.mfc.account.accountBalanceUpdate.service.IEmployeeAccountUpdateBatch" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="mfc:employeeAccountUpdateBatchResponse" formatType="com.enactor.mfc.account.accountBalanceUpdate.service.IEmployeeAccountUpdateBatchResponse" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="mfc:customerAccountUpdateBatch" formatType="com.enactor.mfc.account.accountBalanceUpdate.service.ICustomerAccountUpdateBatch" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="mfc:customerAccountUpdateBatchResponse" formatType="com.enactor.mfc.account.accountBalanceUpdate.service.ICustomerAccountUpdateBatchResponse" xmlns:mfc="http://www.enactor.com/mfc"/>
      </format:typeMapping>
      <wsdl:operation name="submitAccountBalanceUpdate">
         <java:operation methodType="instance" methodName="submitAccountBalanceUpdate"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitAccountBalanceUpdateBatch">
         <java:operation methodType="instance" methodName="submitAccountBalanceUpdateBatch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitVoidAccountBalanceUpdate">
         <java:operation methodType="instance" methodName="submitVoidAccountBalanceUpdate"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitAccountBalanceEnquiry">
         <java:operation methodType="instance" methodName="submitAccountBalanceEnquiry"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitLoyaltyAccountSearch">
         <java:operation methodType="instance" methodName="submitLoyaltyAccountSearch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerNameSearch">
         <java:operation methodType="instance" methodName="submitCustomerNameSearch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerPostCodeSearch">
         <java:operation methodType="instance" methodName="submitCustomerPostCodeSearch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomer">
         <java:operation methodType="instance" methodName="loadCustomer"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerCardSearch">
         <java:operation methodType="instance" methodName="submitCustomerCardSearch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitEmployeeAccountUpdateBatch">
         <java:operation methodType="instance" methodName="submitEmployeeAccountUpdateBatch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerAccountUpdateBatch">
         <java:operation methodType="instance" methodName="submitCustomerAccountUpdateBatch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitAccountBalanceCommit">
         <java:operation methodType="instance" methodName="submitAccountBalanceCommit"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="AccountBalanceService">
      <wsdl:port name="SOAPPort" binding="service:SOAPBinding">
         <soap:address location="http://localhost:8080/axis2/AccountBalanceService"/>
      </wsdl:port>
      <wsdl:port name="JavaPort" binding="service:JavaBinding">
         <java:address className="com.enactor.mfc.account.accountBalanceUpdate.service.AccountBalanceService"/>
      </wsdl:port>
   </wsdl:service>
   <plnk:partnerLinkType name="AccountBalanceServicePLT">
      <plnk:role name="AccountBalanceServiceImpl">
         <plnk:portType name="service:AccountBalanceServicePT"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
