EnactorHome/pos/Data/Enactor Pos/WSDL/CRM/CRMCustomerDataService/CRMCustomerDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/"
	xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="CRMCustomerDataService" targetNamespace="http://www.enactor.com/crm/service" xmlns:service="http://www.enactor.com/crm/service"
	xmlns:core="http://www.enactor.com/core">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.enactor.com/crm/service" schemaLocation="CRM/CRMCustomerDataService/CRMCustomerDataServiceTypes.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.enactor.com/core" schemaLocation="Core/Core.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="listCustomerKeyDatesRequestMessage">
		<wsdl:part name="parameters" element="service:listCustomerKeyDates" />
	</wsdl:message>
	<wsdl:message name="listCustomerKeyDatesResponseMessage">
		<wsdl:part name="parameters" element="service:listCustomerKeyDatesResponse" />
	</wsdl:message>
	<wsdl:message name="listCustomerTransactionHistoryRequestMessage">
		<wsdl:part name="parameters" element="service:listCustomerTransactionHistory" />
	</wsdl:message>
	<wsdl:message name="listCustomerTransactionHistoryResponseMessage">
		<wsdl:part name="parameters" element="service:listCustomerTransactionHistoryResponse" />
	</wsdl:message>
	<wsdl:portType name="CRMCustomerDataServicePT">
		<wsdl:operation name="listCustomerKeyDates">
			<wsdl:documentation>This operation is used to retrieve a list of customer key dates for a given customer number.
			</wsdl:documentation>
			<wsdl:input message="service:listCustomerKeyDatesRequestMessage" name="listCustomerKeyDatesRequestMessage" />
			<wsdl:output message="service:listCustomerKeyDatesResponseMessage" name="listCustomerKeyDatesResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="listCustomerTransactionHistory">
			<wsdl:documentation>This operation is used to retrieve a list of customer transaction history for a given customer number.
			</wsdl:documentation>
			<wsdl:input message="service:listCustomerTransactionHistoryRequestMessage" name="listCustomerTransactionHistoryRequestMessage" />
			<wsdl:output message="service:listCustomerTransactionHistoryResponseMessage" name="listCustomerTransactionHistoryResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SOAPBinding" type="service:CRMCustomerDataServicePT">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="listCustomerKeyDates">
			<soap:operation soapAction="http://www.enactor.com/crm/service/listCustomerKeyDates" />
			<wsdl:input name="listCustomerKeyDatesRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="listCustomerKeyDatesResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listCustomerTransactionHistory">
			<soap:operation soapAction="http://www.enactor.com/crm/service/listCustomerTransactionHistory" />
			<wsdl:input name="listCustomerTransactionHistoryRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="listCustomerTransactionHistoryResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
   <wsdl:binding name="JavaBinding" type="service:CustomerServicePT">
      <java:binding/>
      <format:typeMapping encoding="Java" style="Java">
         <format:typeMap typeName="xsd:string" formatType="java.lang.String"/>
         <format:typeMap elementName="core:applicationProcessOutcome" formatType="com.enactor.core.application.process.IApplicationProcessOutcome" xmlns:core="http://www.enactor.com/core"/>
      </format:typeMapping>
      <wsdl:operation name="listCustomerKeyDates">
         <java:operation methodType="instance" methodName="listCustomerKeyDates"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="listCustomerTransactionHistory">
         <java:operation methodType="instance" methodName="listCustomerTransactionHistory"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
   </wsdl:binding>
	<wsdl:service name="CRMCustomerDataService">
		<wsdl:port name="SOAPPort" binding="service:SOAPBinding">
			<soap:address location="http://{SERVICE_URL}" />
		</wsdl:port>
        <wsdl:port name="JavaPort" binding="service:JavaBinding">
           <java:address className="com.enactor.crm.service.CRMCustomerDataService"/>
        </wsdl:port>
	</wsdl:service>
</wsdl:definitions>
