EnactorHome/estateManager/Data/ActivityFlowCompensation_v1.0/WSDL/Core/EntityServerService.wsdl

<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://www.enactor.com/core" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/"
	xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:core="http://www.enactor.com/core" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
	xmlns:javaTypes="http://java.basic/xsd" targetNamespace="http://www.enactor.com/core">
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://www.enactor.com/core" schemaLocation="Core/EntityServerServiceTypes.xsd"></xs:import>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="invokeEntityServerMessage">
		<wsdl:part name="parameters" element="core:invokeEntityServer" />
	</wsdl:message>
	<wsdl:message name="invokeEntityServerResponseMessage">
		<wsdl:part name="parameters" element="core:invokeEntityServerResponse" />
	</wsdl:message>
	<wsdl:message name="databaseFault">
		<wsdl:part name="parameters" element="core:databaseException" />
	</wsdl:message>
	<wsdl:message name="noSuchRecordFault">
		<wsdl:part name="parameters" element="core:noSuchRecordException" />
	</wsdl:message>
	<wsdl:portType name="EntityServerServicePT">
		<wsdl:operation name="invokeEntityServer">
			<wsdl:input message="tns:invokeEntityServerMessage" />
			<wsdl:output message="tns:invokeEntityServerResponseMessage" />
			<wsdl:fault message="tns:databaseFault" name="databaseFault" />
			<wsdl:fault message="tns:noSuchRecordFault" name="noSuchRecordFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SOAP11Binding" type="tns:EntityServerServicePT">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="invokeEntityServer">
			<soap:operation soapAction="urn:invokeEntityServer" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="noSuchRecordFault">
				<soap:fault name="noSuchRecordFault" use="literal" />
			</wsdl:fault>

		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SOAP12Binding" type="tns:EntityServerServicePT">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="invokeEntityServer">
			<soap12:operation soapAction="urn:invokeEntityServer" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="noSuchRecordFault">
				<soap:fault name="noSuchRecordFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="JavaBinding" type="tns:EntityServerServicePT">
		<java:binding />
		<format:typeMapping encoding="Java" style="Java">

			<format:typeMap typeName="xs:string" formatType="java.lang.String" />
			<format:typeMap typeName="xs:int" formatType="java.lang.Integer" />
			<format:typeMap typeName="xs:boolean" formatType="java.lang.Boolean" />
			<format:typeMap typeName="xs:QName" formatType="javax.xml.namespace.QName" />
			<format:typeMap typeName="xs:anyType" formatType="java.lang.Object" />


			<format:typeMap elementName="javaTypes:list" formatType="java.util.List" />
			<format:typeMap typeName="javaTypes:List" formatType="java.util.List" />

			<format:typeMap elementName="javaTypes:void" formatType="java.lang.Void" />
			<format:typeMap typeName="javaTypes:Void" formatType="java.lang.Void" />

			<format:typeMap elementName="core:invokeEntityServer"
				formatType="com.enactor.core.servers.InvokeEntityServer" />
			<format:typeMap typeName="core:InvokeEntityServer" formatType="com.enactor.core.servers.InvokeEntityServer" />

			<format:typeMap elementName="core:arguments"
				formatType="com.enactor.core.servers.InvokeEntityServerArguments" />
			<format:typeMap typeName="core:Arguments" formatType="com.enactor.core.servers.InvokeEntityServerArguments" />

			<format:typeMap elementName="core:invokeEntityServerResponse"
				formatType="com.enactor.core.servers.InvokeEntityServerResponse" />
			<format:typeMap typeName="core:InvokeEntityServerResponse"
				formatType="com.enactor.core.servers.InvokeEntityServerResponse" />

			<format:typeMap elementName="core:databaseException"
				formatType="com.enactor.core.database.DatabaseException" />
			<format:typeMap typeName="core:DatabaseException" formatType="com.enactor.core.database.DatabaseException" />
			<format:typeMap elementName="core:noSuchRecordException"
				formatType="com.enactor.core.database.NoSuchRecordException" />
			<format:typeMap typeName="core:NoSuchRecordException"
				formatType="com.enactor.core.database.NoSuchRecordException" />
			<format:typeMap elementName="core:xmlException" formatType="com.enactor.core.utilities" />
			<format:typeMap typeName="core:XMLException" formatType="com.enactor.core.utilities" />

		</format:typeMapping>
		<wsdl:operation name="invokeEntityServer">
			<java:operation methodName="invokeEntityServer" methodType="instance" />
			<wsdl:input />
			<wsdl:output />
			<wsdl:fault name="databaseFault" />
			<wsdl:fault name="noSuchRecordFault" />
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="EntityServerService">
		<wsdl:port name="SOAP11port" binding="tns:SOAP11Binding">
			<soap:address location="http://localhost:8080/axis2/services/EntityServerService" />
		</wsdl:port>
		<wsdl:port name="SOAP12port" binding="tns:SOAP12Binding">
			<soap12:address location="http://localhost:8080/axis2/services/EntityServerService" />
		</wsdl:port>
		<wsdl:port name="JavaPort" binding="tns:JavaBinding">
			<java:address className="com.enactor.core.servers.EntityServerService" />
		</wsdl:port>
	</wsdl:service>

	<plnk:partnerLinkType name="EntityServerServicePLT">
		<plnk:role name="entityServer">
			<plnk:portType name="tns:EntityServerServicePT" />
		</plnk:role>
	</plnk:partnerLinkType>
</wsdl:definitions>
