EnactorHome/estateManager/Data/ActivityFlowCompensation_v1.0/WSDL/Core/GenericActivityFlow.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SampleCRMProcess" targetNamespace="http://www.enactor.com/core"
	xmlns:service="http://www.enactor.com/core" xmlns:serviceTypes="http://www.enactor.com/core">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.enactor.com/core" schemaLocation="Core/GenericActivityFlow.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="invokeRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:invokeGenericActivityFlow" />
	</wsdl:message>
	<wsdl:message name="invokeResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:invokeGenericActivityFlowResponse" />
	</wsdl:message>
	<wsdl:message name="invokeFault">
		<wsdl:part name="invokeFault" element="serviceTypes:invokeGenericActivityFlowFault" />
	</wsdl:message>
	<wsdl:message name="timeoutRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:timeoutGenericActivityFlow" />
	</wsdl:message>
	<wsdl:message name="timeoutResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:timeoutGenericActivityFlowResponse" />
	</wsdl:message>
	<wsdl:message name="timeoutFault">
		<wsdl:part name="timeoutFault" element="serviceTypes:timeoutGenericActivityFlowFault" />
	</wsdl:message>
	<wsdl:portType name="GenericActivityFlowPT">
		<wsdl:operation name="invokeGenericActivityFlow">
			<wsdl:input message="service:invokeRequestMessage" name="invokeRequestMessage" />
			<wsdl:output message="service:invokeResponseMessage" name="invokeResponseMessage" />
			<wsdl:fault message="service:invokeFault" name="invokeFault" />
		</wsdl:operation>
		<wsdl:operation name="timeoutGenericActivityFlow">
			<wsdl:input message="service:timeoutRequestMessage" name="timeoutRequestMessage" />
			<wsdl:output message="service:timeoutResponseMessage" name="timeoutResponseMessage" />
			<wsdl:fault message="service:timeoutFault" name="timeoutFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SOAPBinding" type="service:GenericActivityFlowPT">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="invokeGenericActivityFlow">
			<soap:operation soapAction="http://www.enactor.com/core/genericActivityFlow/invokeGenericActivityFlow" />
			<wsdl:input name="invokeRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="invokeResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="timeoutGenericActivityFlow">
			<soap:operation soapAction="http://www.enactor.com/core/genericActivityFlow/timeoutGenericActivityFlow" />
			<wsdl:input name="timeoutRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="timeoutResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GenericActivityFlow">
		<wsdl:port name="SOAPPort" binding="service:SOAPBinding">
			<soap:address location="http://localhost:8080/axis2/services/GenericActivityFlow" />
		</wsdl:port>
	</wsdl:service>
	<plnk:partnerLinkType name="GenericActivityFlowPLT">
		<plnk:role name="GenericActivityFlowImpl">
			<plnk:portType name="service:GenericActivityFlowPT" />
		</plnk:role>
	</plnk:partnerLinkType>
</wsdl:definitions>
