EnactorHome/estateManager/Data/ActivityFlowCompensation_v1.0/WSDL/Core/SequenceNumberStatusUpdateService.wsdl

<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://www.enactor.com/core/sequenceNumberStatus/update/1_0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.enactor.com/core"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:javaTypes="http://util.java/xsd" targetNamespace="http://www.enactor.com/core/sequenceNumberStatus/update/1_0">
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://www.enactor.com/core" schemaLocation="Core/SequenceNumberStatusUpdateServiceTypes.xsd"></xs:import>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="updateReceivedMessage">
		<wsdl:part name="parameters" element="core:updateReceived" />
	</wsdl:message>
	<wsdl:message name="updateReceivedResponseMessage">
		<wsdl:part name="parameters" element="core:updateReceivedResponse" />
	</wsdl:message>
	<wsdl:message name="updateIssuedMessage">
		<wsdl:part name="parameters" element="core:updateIssued" />
	</wsdl:message>
	<wsdl:message name="updateIssuedResponseMessage">
		<wsdl:part name="parameters" element="core:updateIssuedResponse" />
	</wsdl:message>	
	<wsdl:message name="databaseFault">
		<wsdl:part name="parameters" element="core:databaseException" />
	</wsdl:message>

	<wsdl:portType name="UpdateServicePT">
		<wsdl:operation name="updateReceived">
			<wsdl:input message="tns:updateReceivedMessage" />
			<wsdl:output message="tns:updateReceivedResponseMessage" />
			<wsdl:fault message="tns:databaseFault" name="databaseFault" />
		</wsdl:operation>
		<wsdl:operation name="updateIssued">
			<wsdl:input message="tns:updateIssuedMessage" />
			<wsdl:output message="tns:updateIssuedResponseMessage" />
			<wsdl:fault message="tns:databaseFault" name="databaseFault" />
		</wsdl:operation>
	</wsdl:portType>


	<wsdl:binding name="SOAP11Binding" type="tns:UpdateServicePT">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="updateReceived">
			<soap:operation soapAction="urn:updateReceived" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateIssued">
			<soap:operation soapAction="urn:updateIssued" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>		
	</wsdl:binding>
	<wsdl:binding name="SOAP12Binding" type="tns:UpdateServicePT">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="updateReceived">
			<soap12:operation soapAction="urn:updateReceived" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateIssued">
			<soap12:operation soapAction="urn:updateIssued" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="databaseFault">
				<soap:fault name="databaseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>		
	</wsdl:binding>
	
	<wsdl:service name="SequenceNumberStatusUpdateService">
		<wsdl:port name="SOAP11port" binding="tns:SOAP11Binding">
			<soap:address location="http://localhost:8080/axis2/services/SequenceNumberStatusUpdateService" />
		</wsdl:port>
		<wsdl:port name="SOAP12port" binding="tns:SOAP12Binding">
			<soap12:address location="http://localhost:8080/axis2/services/SequenceNumberStatusUpdateService" />
		</wsdl:port>
	</wsdl:service>

	<plnk:partnerLinkType name="SequenceNumberStatusUpdateServicePLT">
		<plnk:role name="sequenceNumberStatusUpdate">
			<plnk:portType name="tns:UpdateServicePT" />
		</plnk:role>
	</plnk:partnerLinkType>

</wsdl:definitions>
