EnactorHome/pos/Data/Enactor Pos/WSDL/retail/CustomerProcessService/CustomerProcessService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" name="CustomerProcessService" targetNamespace="http://www.enactor.com/retail/CustomerProcessService" xmlns:service="http://www.enactor.com/retail/CustomerProcessService" xmlns:serviceTypes="http://www.enactor.com/retail/CustomerProcessService/Types" xmlns:mfc="http://www.enactor.com/mfc">
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.enactor.com/retail/CustomerProcessService/Types" schemaLocation="retail/CustomerProcessService/Types/CustomerProcessServiceTypes.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="submitCustomerProcessSearchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerProcessSearch"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerProcessSearchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerProcessSearchResponse"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerLoyaltyProcessSearchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerLoyaltyProcessSearch"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerLoyaltyProcessSearchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerLoyaltyProcessSearchResponse"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerProcessRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomerProcess"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerProcessResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomerProcessResponse"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerProcessDetailsRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomerProcessDetails"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerProcessDetailsResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomerProcessDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerLoyaltyProcessRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomerLoyaltyProcess"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerLoyaltyProcessResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomerLoyaltyProcessResponse"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerLoyaltyProcessDetailsRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomerLoyaltyProcessDetails"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerLoyaltyProcessDetailsResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomerLoyaltyProcessDetailsResponse"/>
   </wsdl:message>
   <wsdl:portType name="CustomerProcessServicePT">      <wsdl:operation name="submitCustomerProcessSearch">
         <wsdl:input message="service:submitCustomerProcessSearchRequestMessage" name="submitCustomerProcessSearchRequestMessage"/>
         <wsdl:output message="service:submitCustomerProcessSearchResponseMessage" name="submitCustomerProcessSearchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerLoyaltyProcessSearch">
         <wsdl:input message="service:submitCustomerLoyaltyProcessSearchRequestMessage" name="submitCustomerLoyaltyProcessSearchRequestMessage"/>
         <wsdl:output message="service:submitCustomerLoyaltyProcessSearchResponseMessage" name="submitCustomerLoyaltyProcessSearchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerProcess">
         <wsdl:documentation>Loads a mfc:customerProcess given its key.</wsdl:documentation>
         <wsdl:input message="service:loadCustomerProcessRequestMessage" name="loadCustomerProcessRequestMessage"/>
         <wsdl:output message="service:loadCustomerProcessResponseMessage" name="loadCustomerProcessResponseMessage"/>
	 	 <wsdl:fault name="noSuchRecordException" message="service:noSuchRecordException"/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerProcessDetails">
         <wsdl:documentation>Loads a customerProcess and its associated processDetail given key for customerProcess.</wsdl:documentation>
         <wsdl:input message="service:loadCustomerProcessDetailsRequestMessage" name="loadCustomerProcessDetailsRequestMessage"/>
         <wsdl:output message="service:loadCustomerProcessDetailsResponseMessage" name="loadCustomerProcessDetailsResponseMessage"/>
	 	 <wsdl:fault name="noSuchRecordException" message="service:noSuchRecordException"/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerLoyaltyProcess">
         <wsdl:documentation>Loads a mfc:customerLoyaltyProcess given its key.</wsdl:documentation>
         <wsdl:input message="service:loadCustomerLoyaltyProcessRequestMessage" name="loadCustomerLoyaltyProcessRequestMessage"/>
         <wsdl:output message="service:loadCustomerLoyaltyProcessResponseMessage" name="loadCustomerLoyaltyProcessResponseMessage"/>
	 	 <wsdl:fault name="noSuchRecordException" message="service:noSuchRecordException"/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerLoyaltyProcessDetails">
         <wsdl:documentation>Loads a customerLoyaltyProcess and its associated processDetail given key for customerLoyaltyProcess.</wsdl:documentation>
         <wsdl:input message="service:loadCustomerLoyaltyProcessDetailsRequestMessage" name="loadCustomerLoyaltyProcessDetailsRequestMessage"/>
         <wsdl:output message="service:loadCustomerLoyaltyProcessDetailsResponseMessage" name="loadCustomerLoyaltyProcessDetailsResponseMessage"/>
	 	 <wsdl:fault name="noSuchRecordException" message="service:noSuchRecordException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SOAPBinding" type="service:CustomerProcessServicePT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="submitCustomerProcessSearch">
         <soap:operation soapAction="http://www.enactor.com/retail/CustomerProcessService/submitCustomerProcessSearch/soapAction"/>
         <wsdl:input name="submitCustomerProcessSearchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitCustomerProcessSearchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerLoyaltyProcessSearch">
         <soap:operation soapAction="http://www.enactor.com/retail/CustomerProcessService/submitCustomerLoyaltyProcessSearch/soapAction"/>
         <wsdl:input name="submitCustomerLoyaltyProcessSearchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitCustomerLoyaltyProcessSearchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerProcess">
         <soap:operation soapAction="http://www.enactor.com/retail/CustomerProcessService/loadCustomerProcess/soapAction"/>
         <wsdl:input name="loadCustomerProcessRequestMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output name="loadCustomerProcessResponseMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerProcessDetails">
         <soap:operation soapAction="http://www.enactor.com/retail/CustomerProcessService/loadCustomerProcessDetails/soapAction"/>
         <wsdl:input name="loadCustomerProcessDetailsRequestMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output name="loadCustomerProcessDetailsResponseMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerLoyaltyProcess">
         <soap:operation soapAction="http://www.enactor.com/retail/CustomerProcessService/loadCustomerLoyaltyProcess/soapAction"/>
         <wsdl:input name="loadCustomerLoyaltyProcessRequestMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output name="loadCustomerLoyaltyProcessResponseMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerLoyaltyProcessDetails">
         <soap:operation soapAction="http://www.enactor.com/retail/CustomerProcessService/loadCustomerLoyaltyProcessDetails/soapAction"/>
         <wsdl:input name="loadCustomerLoyaltyProcessDetailsRequestMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output name="loadCustomerLoyaltyProcessDetailsResponseMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="JavaBinding" type="service:CustomerProcessServicePT">
      <java:binding/>
      <format:typeMapping encoding="Java" style="Java">
         <format:typeMap elementName="mfc:customerProcess" formatType="com.enactor.mfc.customerProcess.ICustomerProcess" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="mfc:customerLoyaltyProcess" formatType="com.enactor.mfc.customerProcess.ICustomerLoyaltyProcess" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="core:applicationProcessOutcome" formatType="com.enactor.core.application.process.IApplicationProcessOutcome" xmlns:core="http://www.enactor.com/core"/>
      </format:typeMapping>
      <wsdl:operation name="submitCustomerProcessSearch">
         <java:operation methodType="instance" methodName="submitCustomerProcessSearch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerLoyaltyProcessSearch">
         <java:operation methodType="instance" methodName="submitCustomerLoyaltyProcessSearch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerProcess">
         <java:operation methodType="instance" methodName="loadCustomerProcess"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerProcessDetails">
         <java:operation methodType="instance" methodName="loadCustomerProcessDetails"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerLoyaltyProcess">
         <java:operation methodType="instance" methodName="loadCustomerLoyaltyProcess"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerLoyaltyProcessDetails">
         <java:operation methodType="instance" methodName="loadCustomerLoyaltyProcessDetails"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CustomerProcessService">
      <wsdl:port name="SOAPPort" binding="service:SOAPBinding">
         <soap:address location="http://localhost:8080/axis2/CustomerProcessService"/>
      </wsdl:port>
      <wsdl:port name="JavaPort" binding="service:JavaBinding">
         <java:address className="com.enactor.mfc.customer.service.CustomerProcessService"/>
      </wsdl:port>
   </wsdl:service>
   <plnk:partnerLinkType name="CustomerProcessServicePLT">
      <plnk:role name="CustomerProcessServiceImpl">
         <plnk:portType name="service:CustomerProcessServicePT"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
