EnactorHome/pos/Data/Enactor Pos/WSDL/retail/CustomerService/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" name="CustomerService" targetNamespace="http://www.enactor.com/retail/CustomerService" xmlns:service="http://www.enactor.com/retail/CustomerService" xmlns:serviceTypes="http://www.enactor.com/retail/CustomerService/Types" xmlns:mfc="http://www.enactor.com/mfc">
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.enactor.com/retail/CustomerService/Types" schemaLocation="retail/CustomerService/Types/CustomerServiceTypes.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="submitCustomerNameSearchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerNameSearch"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerNameSearchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerNameSearchResponse"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerPostCodeSearchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerPostCodeSearch"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerPostCodeSearchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerPostCodeSearchResponse"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerCardSearchRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerCardSearch"/>
   </wsdl:message>
   <wsdl:message name="submitCustomerCardSearchResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitCustomerCardSearchResponse"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomer"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomerResponse"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerWithDataRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomerWithData"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerWithDataResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomerWithDataResponse"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerAccountListRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomerAccountList"/>
   </wsdl:message>
   <wsdl:message name="loadCustomerAccountListResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:loadCustomerAccountListResponse"/>
   </wsdl:message>
   <wsdl:message name="getCustomerEmailAddressesRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:getCustomerEmailAddresses"/>
   </wsdl:message>
   <wsdl:message name="getCustomerEmailAddressesResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:getCustomerEmailAddressesResponse"/>
   </wsdl:message>
   <wsdl:portType name="CustomerServicePT">      <wsdl:operation name="submitCustomerNameSearch">
         <wsdl:input message="service:submitCustomerNameSearchRequestMessage" name="submitCustomerNameSearchRequestMessage"/>
         <wsdl:output message="service:submitCustomerNameSearchResponseMessage" name="submitCustomerNameSearchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerPostCodeSearch">
         <wsdl:input message="service:submitCustomerPostCodeSearchRequestMessage" name="submitCustomerPostCodeSearchRequestMessage"/>
         <wsdl:output message="service:submitCustomerPostCodeSearchResponseMessage" name="submitCustomerPostCodeSearchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerCardSearch">
         <wsdl:input message="service:submitCustomerCardSearchRequestMessage" name="submitCustomerCardSearchRequestMessage"/>
         <wsdl:output message="service:submitCustomerCardSearchResponseMessage" name="submitCustomerCardSearchResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomer">
         <wsdl:documentation>Loads an mfc:customer given its customer number.</wsdl:documentation>
         <wsdl:input message="service:loadCustomerRequestMessage" name="loadCustomerRequestMessage"/>
         <wsdl:output message="service:loadCustomerResponseMessage" name="loadCustomerResponseMessage"/>
	 	 <wsdl:fault name="noSuchRecordException" message="service:noSuchRecordException"/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerWithData">
         <wsdl:documentation>Loads a mfc:customer and its data given its customer number.</wsdl:documentation>
         <wsdl:input message="service:loadCustomerWithDataRequestMessage" name="loadCustomerWithDataRequestMessage"/>
         <wsdl:output message="service:loadCustomerWithDataResponseMessage" name="loadCustomerWithDataResponseMessage"/>
	 	 <wsdl:fault name="noSuchRecordException" message="service:noSuchRecordException"/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerAccountList">
         <wsdl:documentation>Loads a list of accounts.</wsdl:documentation>
         <wsdl:input message="service:loadCustomerAccountListRequestMessage" name="loadCustomerAccountListRequestMessage"/>
         <wsdl:output message="service:loadCustomerAccountListResponseMessage" name="loadCustomerAccountListResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="getCustomerEmailAddresses">
         <wsdl:input message="service:getCustomerEmailAddressesRequestMessage" name="getCustomerEmailAddressesRequestMessage"/>
         <wsdl:output message="service:getCustomerEmailAddressesResponseMessage" name="getCustomerEmailAddressesResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SOAPBinding" type="service:CustomerServicePT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="submitCustomerNameSearch">
         <soap:operation soapAction="http://www.enactor.com/retail/CustomerService/submitCustomerNameSearch/soapAction"/>
         <wsdl:input name="submitCustomerNameSearchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitCustomerNameSearchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerPostCodeSearch">
         <soap:operation soapAction="http://www.enactor.com/retail/CustomerService/submitCustomerPostCodeSearch/soapAction"/>
         <wsdl:input name="submitCustomerPostCodeSearchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitCustomerPostCodeSearchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerCardSearch">
         <soap:operation soapAction="http://www.enactor.com/retail/CustomerService/submitCustomerCardSearch/soapAction"/>
         <wsdl:input name="submitCustomerCardSearchRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitCustomerCardSearchResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="loadCustomer">
         <soap:operation soapAction="http://www.enactor.com/retail/CustomerService/loadCustomer/soapAction"/>
         <wsdl:input name="loadCustomerRequestMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output name="loadCustomerResponseMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerWithData">
         <soap:operation soapAction="http://www.enactor.com/retail/CustomerService/loadCustomerWithData/soapAction"/>
         <wsdl:input name="loadCustomerWithDataRequestMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output name="loadCustomerWithDataResponseMessage">
            <soap:body parts="parameters" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerAccountList">
         <soap:operation soapAction="http://www.enactor.com/retail/CustomerService/loadCustomerAccountList/soapAction"/>
         <wsdl:input name="loadCustomerAccountListRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="loadCustomerAccountListResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCustomerEmailAddresses">
         <soap:operation soapAction="http://www.enactor.com/retail/CustomerService/getCustomerEmailAddresses/soapAction"/>
         <wsdl:input name="getCustomerEmailAddressesRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="getCustomerEmailAddressesResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="JavaBinding" type="service:CustomerServicePT">
      <java:binding/>
      <format:typeMapping encoding="Java" style="Java">
         <format:typeMap elementName="mfc:customer" formatType="com.enactor.mfc.customer.ICustomer" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="core:applicationProcessOutcome" formatType="com.enactor.core.application.process.IApplicationProcessOutcome" xmlns:core="http://www.enactor.com/core"/>
      </format:typeMapping>
      <wsdl:operation name="submitCustomerNameSearch">
         <java:operation methodType="instance" methodName="submitCustomerNameSearch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerPostCodeSearch">
         <java:operation methodType="instance" methodName="submitCustomerPostCodeSearch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="submitCustomerCardSearch">
         <java:operation methodType="instance" methodName="submitCustomerCardSearch"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomer">
         <java:operation methodType="instance" methodName="loadCustomer"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerWithData">
         <java:operation methodType="instance" methodName="loadCustomerWithData"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="loadCustomerAccountList">
         <java:operation methodType="instance" methodName="loadCustomerAccountList"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="getCustomerEmailAddresses">
         <java:operation methodType="instance" methodName="getCustomerEmailAddresses"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CustomerService">
      <wsdl:port name="SOAPPort" binding="service:SOAPBinding">
         <soap:address location="http://localhost:8080/axis2/CustomerService"/>
      </wsdl:port>
      <wsdl:port name="JavaPort" binding="service:JavaBinding">
         <java:address className="com.enactor.mfc.customer.service.CustomerService"/>
      </wsdl:port>
   </wsdl:service>
   <plnk:partnerLinkType name="CustomerServicePLT">
      <plnk:role name="CustomerServiceImpl">
         <plnk:portType name="service:CustomerServicePT"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
