EnactorHome/estateManager/Data/GenericActivityFlow_v1.0/WSDL/Core/BusinessProcessUtilService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BusinessProcessUtilService" targetNamespace="http://www.enactor.com/core"
	xmlns:service="http://www.enactor.com/core" xmlns:serviceTypes="http://www.enactor.com/core">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.enactor.com/core" schemaLocation="Core/BusinessProcessUtilServiceTypes.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="loadProcessRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:loadProcess" />
	</wsdl:message>
	<wsdl:message name="loadProcessResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:loadProcessResponse" />
	</wsdl:message>
	<wsdl:message name="getNextActivityRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:getNextActivity" />
	</wsdl:message>
	<wsdl:message name="getNextActivityResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:getNextActivityResponse" />
	</wsdl:message>
	<wsdl:message name="getNextActivityWithMatchTypeRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:getNextActivityWithMatchType" />
	</wsdl:message>
	<wsdl:message name="getNextActivityWithMatchTypeResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:getNextActivityWithMatchTypeResponse" />
	</wsdl:message>
	<wsdl:message name="getActivityRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:getActivity" />
	</wsdl:message>
	<wsdl:message name="getActivityResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:getActivityResponse" />
	</wsdl:message>
	<wsdl:message name="getActivityTypeRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:getActivityType" />
	</wsdl:message>
	<wsdl:message name="getActivityTypeResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:getActivityTypeResponse" />
	</wsdl:message>
	<wsdl:message name="getActivityImplementationTypeRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:getActivityImplementationType" />
	</wsdl:message>
	<wsdl:message name="getActivityImplementationTypeResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:getActivityImplementationTypeResponse" />
	</wsdl:message>
	<wsdl:message name="getActivityTypeNameRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:getActivityTypeName" />
	</wsdl:message>
	<wsdl:message name="getActivityTypeNameResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:getActivityTypeNameResponse" />
	</wsdl:message>
	<wsdl:message name="getActivityOutcomeRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:getActivityOutcome" />
	</wsdl:message>
	<wsdl:message name="getActivityOutcomeResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:getActivityOutcomeResponse" />
	</wsdl:message>
	<wsdl:message name="evaluateAndSetParametersRequestMessage">
		<wsdl:part name="parameters" element="serviceTypes:evaluateAndSetParameters" />
	</wsdl:message>
	<wsdl:message name="evaluateAndSetParametersResponseMessage">
		<wsdl:part name="parameters" element="serviceTypes:evaluateAndSetParametersResponse" />
	</wsdl:message>
	<wsdl:portType name="BusinessProcessUtilServicePT">
		<wsdl:operation name="loadProcess">
			<wsdl:input message="service:loadProcessRequestMessage" name="loadProcessRequestMessage" />
			<wsdl:output message="service:loadProcessResponseMessage" name="loadProcessResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="getActivity">
			<wsdl:input message="service:getActivityRequestMessage" name="getActivityRequestMessage" />
			<wsdl:output message="service:getActivityResponseMessage" name="getActivityResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="getNextActivity">
			<wsdl:input message="service:getNextActivityRequestMessage" name="getNextActivityRequestMessage" />
			<wsdl:output message="service:getNextActivityResponseMessage" name="getNextActivityResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="getNextActivityWithMatchType">
			<wsdl:input message="service:getNextActivityWithMatchTypeRequestMessage" name="getNextActivityWithMatchTypeRequestMessage" />
			<wsdl:output message="service:getNextActivityWithMatchTypeResponseMessage" name="getNextActivityWithMatchTypeResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="getActivityType">
			<wsdl:input message="service:getActivityTypeRequestMessage" name="getActivityTypeRequestMessage" />
			<wsdl:output message="service:getActivityTypeResponseMessage" name="getActivityTypeResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="getActivityImplementationType">
			<wsdl:input message="service:getActivityImplementationTypeRequestMessage" name="getActivityImplementationTypeRequestMessage" />
			<wsdl:output message="service:getActivityImplementationTypeResponseMessage" name="getActivityImplementationTypeResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="getActivityTypeName">
			<wsdl:input message="service:getActivityTypeNameRequestMessage" name="getActivityTypeNameRequestMessage" />
			<wsdl:output message="service:getActivityTypeNameResponseMessage" name="getActivityTypeNameResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="getActivityOutcome">
			<wsdl:input message="service:getActivityOutcomeRequestMessage" name="getActivityOutcomeRequestMessage" />
			<wsdl:output message="service:getActivityOutcomeResponseMessage" name="getActivityOutcomeResponseMessage" />
		</wsdl:operation>	
		<wsdl:operation name="evaluateAndSetParameters">
			<wsdl:input message="service:evaluateAndSetParametersRequestMessage" name="evaluateAndSetParametersRequestMessage" />
			<wsdl:output message="service:evaluateAndSetParametersResponseMessage" name="evaluateAndSetParametersResponseMessage" />
		</wsdl:operation>	
	</wsdl:portType>
	<wsdl:binding name="SOAPBinding" type="service:BusinessProcessUtilServicePT">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="loadProcess">
			<soap:operation soapAction="http://www.enactor.com/core/BusinessProcessUtilService/loadProcess/soapAction" />
			<wsdl:input name="loadProcessRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="loadProcessResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivity">
			<soap:operation soapAction="http://www.enactor.com/core/BusinessProcessUtilService/getActivity/soapAction" />
			<wsdl:input name="getActivityRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="getActivityResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNextActivity">
			<soap:operation soapAction="http://www.enactor.com/core/BusinessProcessUtilService/getNextActivity/soapAction" />
			<wsdl:input name="getNextActivityRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="getNextActivityResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNextActivityWithMatchType">
			<soap:operation soapAction="http://www.enactor.com/core/BusinessProcessUtilService/getNextActivity/soapAction" />
			<wsdl:input name="getNextActivityWithMatchTypeRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="getNextActivityWithMatchTypeResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivityType">
			<soap:operation soapAction="http://www.enactor.com/core/BusinessProcessUtilService/getActivityType/soapAction" />
			<wsdl:input name="getActivityTypeRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="getActivityTypeResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivityImplementationType">
			<soap:operation soapAction="http://www.enactor.com/core/BusinessProcessUtilService/getActivityImplementationType/soapAction" />
			<wsdl:input name="getActivityImplementationTypeRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="getActivityImplementationTypeResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivityTypeName">
			<soap:operation soapAction="http://www.enactor.com/core/BusinessProcessUtilService/getActvityTypeName/soapAction" />
			<wsdl:input name="getActivityTypeNameRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="getActivityTypeNameResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getActivityOutcome">
			<soap:operation soapAction="http://www.enactor.com/core/BusinessProcessUtilService/getActivityOutcome/soapAction" />
			<wsdl:input name="getActivityOutcomeRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="getActivityOutcomeResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="evaluateAndSetParameters">
			<soap:operation soapAction="http://www.enactor.com/core/BusinessProcessUtilService/evaluateAndSetParameters/soapAction" />
			<wsdl:input name="evaluateAndSetParametersRequestMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="evaluateAndSetParametersResponseMessage">
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="JavaBinding" type="service:BusinessProcessUtilServicePT">
		<java:binding />
		<format:typeMapping style="Java" encoding="Java">
			<format:typeMap typeName="xsd:string" formatType="java.lang.String" />
			<format:typeMap typeName="serviceTypes:activity" formatType="com.enactor.core.business.process.IActivity" />
			<format:typeMap typeName="serviceTypes:activityType" formatType="com.enactor.core.business.process.IActivityType" />
			<format:typeMap typeName="serviceTypes:businessProcess" formatType="com.enactor.core.business.process.IBusinessProcess" />
		</format:typeMapping>
		<wsdl:operation name="loadProcess">
			<java:operation methodType="instance" methodName="loadProcess" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="getActivity">
			<java:operation methodType="instance" methodName="getActivity" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="getNextActivity">
			<java:operation methodType="instance" methodName="getNextActivity" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="getNextActivityWithMatchType">
			<java:operation methodType="instance" methodName="getNextActivityWithMatchType" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="getActivityType">
			<java:operation methodType="instance" methodName="getActivityType" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="getActivityImplementationType">
			<java:operation methodType="instance" methodName="getActivityImplementationType" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="getActivityTypeName">
			<java:operation methodType="instance" methodName="getActivityTypeName" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="evaluateAndSetParameters">
			<java:operation methodType="instance" methodName="evaluateAndSetParameters" />
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BusinessProcessUtilService">
		<wsdl:port name="SOAPPort" binding="service:SOAPBinding">
			<soap:address location="http://localhost:8080/axis2/BusinessProcessUtilService" />
		</wsdl:port>
		<wsdl:port name="JavaPort" binding="service:JavaBinding">
			<java:address className="com.enactor.core.business.process.BusinessProcessUtil" />
		</wsdl:port>
	</wsdl:service>
	<plnk:partnerLinkType name="BusinessProcessUtilServicePLT">
		<plnk:role name="BusinessProcessUtilServiceImpl">
			<plnk:portType name="service:BusinessProcessUtilServicePT" />
		</plnk:role>
	</plnk:partnerLinkType>
</wsdl:definitions>
