EnactorHome/estateManager/Data/ActivityFlowCompensation_v1.0/Schema/Core/GenericNotification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.enactor.com/core"
	xmlns:tns="http://www.enactor.com/core" elementFormDefault="qualified">

	<import namespace="http://www.enactor.com/core" schemaLocation="Core/Presentation.xsd" />

	<element name="notify" type="tns:Notify" />
	<complexType name="Notify">
		<sequence>
			<element name="title" type="tns:MessageTanslation" />
			<element name="message" type="tns:MessageTanslation" />
			<element name="priority" type="int" />
			<element name="presentation" type="tns:PresentationGroup" />
		</sequence>
	</complexType>
</schema>