EnactorHome/pos/Data/Enactor Pos/Schema/CRM/CRM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.enactor.com/crm" xmlns:core="http://www.enactor.com/core">
	<xsd:import namespace="http://www.enactor.com/core" schemaLocation="Core/Core.xsd"></xsd:import>
	<xsd:element name="customerProcessData" type="CustomerProcessData" />

	<xsd:complexType name="CustomerProcessData">
		<xsd:complexContent>
			<xsd:extension base="core:BusinessProcessData">
				<xsd:sequence>
					<xsd:element name="customerKey" type="xsd:any" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
