EnactorHome/pos/Data/Enactor Pos/WSDL/retail/ItemInventoryService/ItemInventoryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:mjstring="com.enactor.tools.core.util.JavaCodeGenUtils" name="ItemInventoryService" targetNamespace="http://www.enactor.com/retail/ItemInventoryService" xmlns:service="http://www.enactor.com/retail/ItemInventoryService" xmlns:serviceTypes="http://www.enactor.com/retail/ItemInventoryService/Types" xmlns:mfc="http://www.enactor.com/mfc">
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.enactor.com/retail/ItemInventoryService/Types" schemaLocation="retail/ItemInventoryService/Types/ItemInventoryServiceTypes.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="submitListStoreStockRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitListStoreStock"/>
   </wsdl:message>
   <wsdl:message name="submitListStoreStockResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:submitListStoreStockResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableStoreStockRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:getAvailableStoreStock"/>
   </wsdl:message>
   <wsdl:message name="getAvailableStoreStockResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:getAvailableStoreStockResponse"/>
   </wsdl:message>
   <wsdl:message name="getStoreStockListRequestMessage">
      <wsdl:part name="parameters" element="serviceTypes:getStoreStockList"/>
   </wsdl:message>
   <wsdl:message name="getStoreStockListResponseMessage">
      <wsdl:part name="parameters" element="serviceTypes:getStoreStocklistResponse"/>
   </wsdl:message>
   <wsdl:portType name="itemInventoryServicePT">
      <wsdl:operation name="submitListStoreStock">
         <wsdl:input message="service:submitListStoreStockRequestMessage" name="submitListStoreStockRequestMessage"/>
         <wsdl:output message="service:submitListStoreStockResponseMessage" name="submitListStoreStockResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableStoreStock">
         <wsdl:input message="service:getAvailableStoreStockRequestMessage" name="getAvailableStoreStockRequestMessage"/>
         <wsdl:output message="service:getAvailableStoreStockResponseMessage" name="getAvailableStoreStockResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="getStoreStockList">
         <wsdl:input message="service:getStoreStockListRequestMessage" name="getStoreStockListRequestMessage"/>
         <wsdl:output message="service:getStoreStockListResponseMessage" name="getStoreStockListResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SOAPBinding" type="service:ItemInventoryServicePT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="submitListStoreStock">
         <soap:operation soapAction="http://www.enactor.com/retail/ItemInventoryService/submitListStoreStock/soapAction"/>
         <wsdl:input name="submitListStoreStockRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="submitLisStoreStockResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getAvailableStoreStock">
         <soap:operation soapAction="http://www.enactor.com/retail/ItemInventoryService/getAvailableStoreStock/soapAction"/>
         <wsdl:input name="getAvailableStoreStockRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="getAvailableStoreStockResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getStoreStockList">
         <soap:operation soapAction="http://www.enactor.com/retail/ItemInventoryService/getStoreStockList/soapAction"/>
         <wsdl:input name="getStoreStockListRequestMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output name="getStoreStockListResponseMessage">
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="JavaBinding" type="service:ItemInventoryServicePT">
      <java:binding/>
      <format:typeMapping encoding="Java" style="Java">
         <format:typeMap elementName="mfc:listStoreStock" formatType="com.enactor.mfc.itemInventoryLevel.IItemInventoryLevel" xmlns:mfc="http://www.enactor.com/mfc"/>
         <format:typeMap elementName="core:applicationProcessOutcome" formatType="com.enactor.core.application.process.IApplicationProcessOutcome" xmlns:core="http://www.enactor.com/core"/>
      </format:typeMapping>
      <wsdl:operation name="submitListStoreStock">
         <java:operation methodType="instance" methodName="submitListStoreStock"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableStoreStock">
         <java:operation methodType="instance" methodName="getAvailableStoreStock"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
      <wsdl:operation name="getStoreStockList">
         <java:operation methodType="instance" methodName="getStoreStockList"/>
         <wsdl:input/>
         <wsdl:output/>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ItemInventoryService">
      <wsdl:port name="SOAPPort" binding="service:SOAPBinding">
         <soap:address location="http://localhost:8080/axis2/ItemInventoryService"/>
      </wsdl:port>
      <wsdl:port name="JavaPort" binding="service:JavaBinding">
         <java:address className="com.enactor.mfc.itemInventoryLevel.service.ItemInventoryService"/>
      </wsdl:port>
   </wsdl:service>
   <plnk:partnerLinkType name="ItemInventoryServicePLT">
      <plnk:role name="ItemInventoryServiceImpl">
         <plnk:portType name="service:ItemInventoryServicePT"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
